{% extends 'perfect/bases.html' %}
{% load static %}

{% block title %}Tableau de bord de gestion{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pb/css/manage-dashboard.css' %}?v=1">
{% endblock extra_css %}

{% block navbar_nav %}{% endblock navbar_nav %}

{% block page_title %}
    <img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'dash.png' %}" alt="">
    Tableau de bord de gestion
{% endblock page_title %}

{% block search_form %}{% endblock search_form %}

{% block main_content %}
{% for section_name, links in sections %}
<div class="col-md-12">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <strong class="pb-panel__title">{{ section_name }}</strong>
                <span class="pb-panel__hint">{{ links|length }} module{{ links|length|pluralize }}</span>
            </div>
        </div>
        <div class="card-body pb-panel__body pb-panel__body--flush">
            <div class="pb-folder-grid">
                {% for url_name, label in links %}
                <a href="{% url url_name %}" class="pb-folder" title="{{ label }}">
                    <span class="pb-mac-folder" aria-hidden="true">
                        <span class="pb-mac-folder__tab"></span>
                        <span class="pb-mac-folder__body"></span>
                        <span class="pb-mac-folder__shine"></span>
                    </span>
                    <span class="pb-folder__label">{{ label }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock main_content %}
