{% extends 'perfect/bacompt.html' %} {% load static %} {% block title %}P&BHOLDING{% endblock title %} {% block content %}

<div class="row">
    <div class="col-md-12 text-danger" style="top: -60px;">
        <h1>BIENVENUE A P&BHOLDING</h1>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <a href="{% url 'login' %}" class="text-center d-block">
            <div class="card" style="border-radius:100px; height:150px; width:150px; overflow: hidden;box-shadow: 0 2px 4px 0 rgba(31, 38, 135, 0.64);">
                <div class="card-body" style="position: relative; height: 100%; border-radius:100px;">
                    <video playsinline autoplay muted loop 
                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                               object-fit: cover; z-index: 0; border-radius: 100px;">
                        <source src="{% static 'ass/img/sld.mp4' %}" type="video/mp4">
                    </video>
                    <div style="position: relative; z-index: 1;"></div>
                </div>
            </div>
            <h5 class="text-center" style="font-size: 18px;">P&BEntreprise</h5>
        </a>
    </div>
    <div class="col-md-4">
        <a href="http://127.0.0.1:8000/" class="text-center">
            <div class="card" style="border-radius:100px; height: 150px; width:150px; background-image: url({% static 'gear.png' %});box-shadow: 0 2px 4px 0 rgba(31, 38, 135, 0.64);"></div>
            <h5 class="text-center" style="font-size: 18px;">
                <AUTO-PIECE>Auto-Pièce</AUTO-PIECE>
            </h5>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'home' %}" class="text-center">
            <div class="card" style="border-radius:100px; height: 150px; width:150px; background-image: url({% static 'www.png' %});background-position: center; background-size: cover;background-repeat: no-repeat;box-shadow: 0 2px 4px 0 rgba(31, 38, 135, 0.64);"></div>
            <h5 class="text-center" style="font-size: 18px;">P&B.com</h5>
        </a>
    </div>
</div>
<footer class="card-footer bg-transparent mt-4 text-secondary">
    Copyright &copy; <span id="currentYear"></span>
</footer>
<script>
    document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>

{% endblock content %}