{% extends 'bases.html' %} 
{% load static %} 
{% block title %}Bilan Journalier{% endblock title %} 
{% block breadcrumb %} 
{% if form.is_valid %}
<a onclick="window.print();" class="text-primary"><i class="fa fa-print"></i>Imprimer</a> 
{% else %}
<a><i ></i></a> {% endif %}

<form method="get">
    {% csrf_token %}
    <div class="col-md-6 form-group">
        {{form.date_bilan}}
    </div>
    <div class="col-md-3 form-group">
        <input class="btn btn-outline-success text-center" type="submit" value="Afficher">
    </div>
    <div class="col-md-3 form-group">
        <a class="btn btn-outline-primary" href="{% url 'bilan_journalier' %}">Intialiser</a>
    </div>
</form>
{% endblock breadcrumb %} 
{% block content %} 
{% if messages %} 
{% for msg in messages %}
<div id="message" class="alert alert-success alert-dismissible fade show" role="alert">
    <p style="font-size: 16px;" class="text-center">{{msg}}</p>
</div>
{% endfor %} 
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-9">
                <div class="card-box table-responsive">
                    <table class="table table-striped table-bordered text-center" style="width:100%">
                        <tr>
                            {% if form.is_valid %}
                            <th colspan="6" class="caisse">SITUATION DE LA CAISSE DU {{data}}</th>
                            {% else %}
                            <th colspan="6" class="caisse">SITUATION DE LA CAISSE DU {{Date}}</th>
                            {% endif %}
                        </tr>
                        {% if form.is_valid %} {% else %}
                        <tr>
                            <th colspan="6" style="background-color: white;"><a id="entrer" class="text-success" href="{% url 'addencaisse' %}">Saisie Entrée <i class="fa fa-edit"></i></a> ---- <a id="sortir" class="text-primary" href="{% url 'add_decaisse' %}">Saisie Sortie <i class="fa fa-edit"></i></a>                                </th>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Date</th>
                            <th>Libelle</th>
                            <th>N°Piece</th>
                            <th>Entrée</th>
                            <th>Sortie</th>
                            <th>Solde</th>
                        </tr>
                        <tr>
                            {% if form.is_valid %}
                            <td style="font-size: 11px;">{{data}}</td>
                            <td>SOLDE EN DEBUT DE JOURNEE</td>
                            <td></td>
                            <td>{{solde_initial_preced}}</td>
                            <td></td>
                            <td>{{solde_initial_preced}}</td>
                            {% else %}
                            <td style="font-size: 11px;">{{Date}}</td>
                            <td>SOLDE EN DEBUT DE JOURNEE</td>
                            <td></td>
                            <td>{{solde_initial_precedent}}</td>
                            <td></td>
                            <td>{{solde_initial_precedent}}</td>
                            {% endif %}
                        </tr>

                        {% if form.is_valid %} 
                        {% if en_caisser %} 
                        {% for e in en_caisser %}
                        <tr>
                            <td style="font-size: 11px;">{{e.date}}</td>
                            <td><a style="text-decoration: none;" href="{% url 'updat_encaisse' e.pk %}">{{e.libelle}}</a></td>
                            <td>{{e.Num_piece}}</td>
                            <td>{{e.montant}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %} 
                        {% else %}
                        <tr>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endif %} 
                        {% if de_caisser %} 
                        {% for d in de_caisser %}
                        <tr>
                            <td style="font-size: 11px;">{{d.date}}</td>
                            <td><a style="text-decoration: none;" href="{% url 'updat_decaisse' d.pk %}">{{d.libelle}}</a></td>
                            <td>{{d.Num_piece}}</td>
                            <td></td>
                            <td>{{d.montant}}</td>
                            <td></td>
                        </tr>
                        {% endfor %} 
                        {% else %}
                        <tr>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td></td>
                            <td>Vide</td>
                            <td></td>
                        </tr>
                        {% endif %} 
                        {% else %} 
                        {% if encaisser %} 
                        {% for e in encaisser %}
                        <tr>
                            <td style="font-size: 11px;">{{e.date}}</td>
                            <td><a style="text-decoration: none;" href="{% url 'updat_encaisse' e.pk %}">{{e.libelle}}</a></td>
                            <td style="font-size: 11px;">{{e.Num_piece}}</td>
                            <td>{{e.montant}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %} 
                        {% else %}
                        <tr>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endif %} 
                        {% if decaisser %} 
                        {% for d in decaisser %}
                        <tr>
                            <td style="font-size: 11px;">{{d.date}}</td>
                            <td><a style="text-decoration: none;" href="{% url 'updat_decaisse' d.pk %}">{{d.libelle}}</a></td>
                            <td style="font-size: 11px;">{{d.Num_piece}}</td>
                            <td></td>
                            <td>{{d.montant}}</td>
                            <td></td>
                        </tr>
                        {% endfor %} 
                        {% else %}
                        <tr>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td>Vide</td>
                            <td></td>
                            <td>Vide</td>
                            <td></td>
                        </tr>
                        {% endif %} 
                        {% endif %}

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="total">
                            <td colspan="3"><b>Total</b></td>
                            {% if form.is_valid %}
                            <td><b>{{tot_entree_jour}}</b></td>
                            <td><b>{{total_sorties}}</b></td>
                            <td style="background-color: rgb(157, 255, 157); color:rgb(1, 80, 48)"><b>{{solde_final}}</b></td>
                            {% else %}
                            <td><b>{{Tot_entree}}</b></td>
                            <td><b>{{sortie}}</b></td>
                            <td style="background-color: rgb(157, 255, 157); color:rgb(1, 80, 48)"><b>{{solde_fin_journee}}</b></td>
                            {% endif %}
                        </tr>
                    </table>
                    {% if form.is_valid %} 
                    {% else %} 
                    {% if ecart == 0 %}
                    <button id="fermerButton" type="submit" class="btn btn-outline-danger">Fermer la Caisse</button> 
                    {% endif %}
                    <a id="lien_solde" class="btn btn-outline-primary" href="{% url 'add_solde_jour' %}">Saisie solde de fin de journée</a>

                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const today = new Date().toISOString().split('T')[0];
                            const closeButton = document.getElementById('fermerButton');
                            const entrees = document.getElementById('entrer');
                            const sorties = document.getElementById('sortir');
                            const saisiesolde = document.getElementById('lien_solde');
                            const billeta = document.getElementById('billetage');

                            closeButton.addEventListener('click', function() {
                                // Enregistrer la date de fermeture
                                localStorage.setItem('dateFermeture', today);
                                // Faire disparaître le bouton
                                closeButton.style.display = 'none';
                                entrees.style.display = 'none';
                                sorties.style.display = 'none';
                                saisiesolde.style.display = 'none';
                                billeta.style.display = 'none';
                            });
                            // Vérifier si le bouton doit être masqué
                            const dateFermeture = localStorage.getItem('dateFermeture');
                            if (dateFermeture === today) {
                                closeButton.style.display = 'none';
                                entrees.style.display = 'none';
                                sorties.style.display = 'none';
                                saisiesolde.style.display = 'none';
                                billeta.style.display = 'none';
                            }
                        });
                    </script>
                    {% endif %}
                </div>
            </div>


            <div class="col-md-3">
                <h2>BILLETAGE 
                {% if form.is_valid %} 
                {% else %}
                    <a id="billetage" href="{% url 'saise_billetage' %}" title="Saisie le billetage de la journée"><i class="fa fa-plus"></i></a> {% endif %}
                </h2>
                <div id="external-events">
                    <div class="card-box table-responsive">
                        <table class="table table-striped table-bordered text-center" style="width:100%">
                            <tr>
                                <th colspan="3" class="caisse">BILLETS</th>
                            </tr>
                            <tr>
                                <th>billet</th>
                                <th>nombre</th>
                                <th>resultat</th>
                            </tr>

                            {% if form.is_valid %} 
                            {% for b in bille %}
                            <tr>
                                <td>{{b.val}}</td>
                                <td>{{b.nb}} </td>
                                <td>{{b.res}}</td>
                            </tr>
                            {% endfor %}
                            <tr class="total">
                                <td colspan="1">Total</td>
                                <td colspan="2">{{som_tot_bill}}</td>
                            </tr>
                            {% else %} 
                            {% for b in bil %}
                            <tr>
                                <td>{{b.val}}</td>
                                <td>{{b.nb}} </td>
                                <td>{{b.res}}</td>
                            </tr>
                            {% endfor %}
                            <tr class="total">
                                <td colspan="1">Total</td>
                                <td colspan="2">{{som_tot_bil}}</td>
                            </tr>
                            {% endif %}

                        </table>
                    </div>
                </div>
                <div id="external-events">
                    <div class="card-box table-responsive">
                        <table class="table table-striped table-bordered text-center" style="width:100%">
                            <tr>
                                <th colspan="3" class="caisse">PIECES</th>
                            </tr>
                            <tr>
                                <th>piece</th>
                                <th>nombre</th>
                                <th>resultat</th>
                            </tr>
                            {% if form.is_valid %} 
                            {% for p in piec %}
                            <tr>
                                <td>{{p.val}}</td>
                                <td>{{p.nb}} </td>
                                <td>{{p.res}}</td>
                            </tr>
                            {% endfor %}
                            <tr class="total">
                                <td colspan="1">Total</td>
                                <td colspan="2">{{som_tot_piece}}</td>
                            </tr>
                            {% else %} 
                            {% for p in pie %}
                            <tr>
                                <td>{{p.val}}</td>
                                <td>{{p.nb}} </td>
                                <td>{{p.res}}</td>
                            </tr>
                            {% endfor %}
                            <tr class="total">
                                <td colspan="1">Total</td>
                                <td colspan="2">{{som_tot_piec}}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <div id="external-events">
                    <div class="card-box table-responsive">
                        <table class="table table-striped table-bordered text-center" style="width:100%">
                            <tr>
                                <th colspan="3" class="caisse">BILLETAGE TOTAL</th>
                            </tr>
                            <tr class="total">
                                <td colspan="1">Total</th>
                                    <td colspan="2">
                                        {% if form.is_valid %} 
                                        {{total_piece_bille}} 
                                        {% else %} {{Total_piec_bill}} 
                                        {% endif %}
                                        </th>
                            </tr>
                            <tr class="ecart">
                                <td colspan="1">Ecart</td>
                                {% if form.is_valid %} 
                                {% if diff != 0 %}
                                <td colspan="2" style="background-color: rgb(255, 105, 105);">
                                    <a class="text" style="color: rgb(78, 7, 1);">{{diff}}</a>
                                </td>
                                {% else %}
                                <td colspan="2">
                                    <a class="text">{{diff}}</a>
                                </td>
                                {% endif %} 
                                {% else %} 
                                {% if ecart != 0 %}
                                <td colspan="2" style="background-color: rgb(255, 105, 105);">
                                    <a class="text" style="color: rgb(78, 7, 1);">{{ecart}}</a>
                                </td>
                                {% else %}
                                <td colspan="2">
                                    <a class="text">{{ecart}}</a>
                                </td>
                                {% endif %} 
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} 
{% block extrascripts %}
<script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $('#sampleTable').DataTable();
</script>
{% endblock extrascripts %}