{% extends 'bases.html' %}
{% load static %}

{% block title %}Dashboard Car{% endblock title %}

{% block breadcrumb %}
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
    <a href="{% url 'listvehi' %}" class="btn btn-outline-light"><i style="color:red;" class="fa fa-reply-all"></i></a>
    Statistique Finacière du {{vehicule.immatriculation}}
    </li>
  </ul>
  
  {% if form.is_valid %}
    <div style="font-size:14px">
      <i class="fa fa-gears"></i> Pieces 
      {{som_piece}}
    </div>
  {% else %}
    <div style="font-size:14px">
      <i class="fa fa-gears"></i> Pieces {{som_piece}}
    </div>
  {% endif %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
  {% if form.is_valid %}
    <div class="col-md-3 col-lg-3">
        <div class="widget-small primary coloured">
            <i style="font-size: 24px;" class="icon fa fa-dollar"></i>
            <div class="info">
                <b>Recette</b>
                <p><b>{{recettes_totales}}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="widget-small danger coloured" >
        <i style="font-size: 24px;display:flex" class="icon fa fa-shopping-cart fa-3x"></i>
        <div class="info">
            <b>Marge de Contribution</b>
            <p><b>{{taux_vehicule}} %</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="widget-small danger coloured" >
        <i style="font-size: 24px;display:flex" class="icon fa fa-cart-arrow-down fa-3x"></i>
        <div class="info">
            <b>Charges Fixes</b>
            <p><b>{{charges_fixes_totales}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="widget-small info coloured" >
        <i style="font-size: 24px; display:flex" class="icon fa fa-cart-arrow-down fa-3x">T</i>
        <div class="info">
          <b>Charges variables</b>
          <p><b>
              {{charges_variables_totales}}
          </b></p>
        </div>
      </div>
    </div>
  {% else %}
    <div class="col-md-3 col-lg-3">
      <div class="widget-small primary coloured">
        <i style="font-size: 24px;" class="icon fa fa-dollar"></i>
        <div class="info">
          <b>Recette</b>
          <p><b>{{recettes}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="widget-small danger coloured" >
        <i style="font-size: 24px;display:flex" class="icon fa fa-shopping-cart fa-3x"></i>
        <div class="info">
          <b>M de Contribution</b>
          <p><b>{{taux_marge_format}} %</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="widget-small danger coloured" >
        <i style="font-size: 24px;display:flex" class="icon fa fa-cart-arrow-down fa-3x"></i>
        <div class="info">
          <b>Charges Fixes</b>
          <p><b>{{charge_fix}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="widget-small info coloured" >
        <i style="font-size: 24px; display:flex" class="icon fa fa-cart-arrow-down fa-3x">T</i>
        <div class="info">
          <b>Charges Variables</b>
            <p><b>
              {{charge_var}}
            </b></p>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="col-md-12">
    <div class="tile row">
      <div class="col-md-2">
        <div id="external-events">
          <h5 class="text-danger">{{vehicule.marque|upper}}</h5>
          <h5 class="text-danger">
            {% if vehicule.age >= vehicule.duree %}
              <p style="font-size: 14px; color:red " class="title">
                Durée: {{vehicule.age}}
                {% if vehicule.age > 1 %} ans{% else %} an{% endif %}
              </p>
            {% else %}
              <p style="font-size: 14px; color:rgb(3, 162, 32)" class="title">
                Durée: {{vehicule.age}}
                {% if vehicule.age > 1 %} ans{% else %} an{% endif %} 
              </p>
            {% endif %}
          </h5>
          <h4 class="mb-4">Filtre</h4>
          <form method="get">
            {% csrf_token %}
            De {{ form.date_debut }}
            A {{ form.date_fin }}
            <br>
            <input class="text-center btn btn-outline-primary" style="display:flexbox; position:center" type="submit" value="Afficher">
            <a href="{% url 'detavehi' vehicule.pk %}"><i class="btn btn-outline-primary fa fa-refresh" ></i></a>
          </form>
        </div>
        <div id="external-events">
          <form>
            <h5 class="text">Details</h5>
            <img style="width: 150px;" src="{{vehicule.image.url}}" alt="" srcset="">
          </form>
        </div>
      </div>

      <div class="col-md-5">
        <div class="shadow p-3 mb-3 bg-white rounded">
          {% if form.is_valid %}
            <div>
              <canvas id="CA">
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              </canvas>
            </div>
            <script>
              const cta = document.getElementById('CA');
              var labels = {{labels|safe}};
              var recetData = {{recette_data|safe}};
              new Chart(cta, {
                type: 'line',
                data: {
                  labels: labels,
                  datasets: [{
                    label: "Evolution Chiffre d'Affaire",
                    data: recetData,
                    fill: true,
                    borderColor: 'rgb(13,71,161)',
                    tension: 0.4,
                    backgroundColor: [
                      'rgb(100,181,246)',
                    ],
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true,
                      easing: 'linear',
                      from: 1,
                    }
                  }
                }
              });
            </script>
          {% else %}
            <div>
              <canvas id="CA">
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              </canvas>
            </div>
            <script>
              const cta = document.getElementById('CA');
              new Chart(cta, {
                type: 'line',
                data: {
                  labels: {{labels_mois|safe}},
                  datasets: [{
                    label: "Evolution Chiffre d'Affaire",
                    data: {{recette_mois_data}},
                    fill: true,
                    borderColor: 'rgb(13,71,161)',
                    tension: 0.4,
                    backgroundColor: [
                      'rgb(100,181,246)',
                    ],
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true,
                      easing: 'linear',
                      from: 1,
                    }
                  }
                }
              });
            </script>
          {% endif %}
        </div>
        <div class="shadow p-3 mb-3 bg-white rounded">
          {% if form.is_valid %}
          <div>
            <canvas id="myCc"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              const ctb = document.getElementById('myCc');
              var labels = {{labels|safe}};
              var recetData = {{taux_data|safe}};
              new Chart(ctb, {
                type: 'line',
                data: {
                  labels: labels,
                  datasets: [{
                    label: 'Taux de Marge de Contribution',
                    data: recetData,
                    fill: true,
                    borderColor: '#EF6C00',
                    tension: 0.4,
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true,
                      easing: 'linear',
                      from: 1,
                    }
                  }
                }
              });
            </script>
          {% else %}
            <div>
              <canvas id="myCc"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                const ctm = document.getElementById('myCc');
                var labels = {{labels_mois|safe}};
                var recetData = {{taux_mois_data}};
                new Chart(ctm, {
                  type: 'line',
                  data: {
                    labels: labels,
                    datasets: [{
                      label: 'Taux de Marge de Contribution',
                      data: recetData,
                      fill: true,
                      borderColor: '#EF5350',
                      tension: 0.4,
                    }]
                  },
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true,
                        easing: 'linear',
                        from: 1,
                      }
                    }
                  }
                });
            </script>
          {% endif %}
        </div>
      </div>

      
      <div class="col-md-5">
          <div id="calendar">
              <div class="shadow p-3 mb-3 bg-white rounded">
              {% if form.is_valid %}
                <div>
                  <canvas id="myChart"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                  const ctx = document.getElementById('myChart');
                  var labels = {{labels|safe}};
                  var chargfixData = {{charg_fixe_data|safe}};
                  new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: labels,
                      datasets: [{
                        label: 'Charge Fixe',
                        data: chargfixData,
                        borderWidth: 1,
                        backgroundColor: [
                        'rgb(0,131,143)',
                      ],
                      borderColor: [
                        'rgb(0,131,143)',
                      ],
                        borderWidth: 2,
                      }]
                    },options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                </script>
              {% else %}
                <div>
                  <canvas id="myChart"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                  const ctx = document.getElementById('myChart');
                  new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: {{labels_mois|safe}},
                      datasets: [{
                        label: 'Charge Fixe',
                        data: {{charg_fixe_mois_data}},
                        borderWidth: 1,
                        backgroundColor: [
                          'rgb(0,131,143)',
                        ],
                        borderColor: [
                          'rgb(25,150,136)',
                          
                        ],
                        borderWidth: 2,
                      }]
                    },options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                </script>
              {% endif %}
              </div>
            </div>

            <div class="shadow p-3 mb-5 bg-white rounded">
              {% if form.is_valid %}
                <div>
                  <canvas id="xd"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                  const ctp = document.getElementById('xd');
                  var labels = {{labels|safe}};
                  var chargvariData = {{charg_vari_data|safe}};
                  var pieceData = {{piece_vehi_data|safe}};
                  new Chart(ctp, {
                    type: 'bar',
                    data: {
                      labels: labels,
                      datasets: [
                        {
                        label: 'Charge variable',
                        data: chargvariData,
                        borderWidth: 1,
                        backgroundColor: [
                          'rgba(255, 159, 64, 0.8)',
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                        ],
                        borderWidth: 1,
                        tension: 1,
                      },
                      {
                        type: 'line',
                        label: 'Piece',
                        data: pieceData,
                        backgroundColor: 'rgba(255, 99, 132, 0.3)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 2,
                        fill: true,
                        tension: 0.4,
                    },]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true,
                        }
                      }
                    }
                  });
                </script>
              {% else %}
              <div>
                <canvas id="xd"></canvas>
              </div>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                const ctp = document.getElementById('xd');
                var labels = {{labels_mois|safe}};
                var chargvariData = {{charg_vari_mois_data|safe}};
                var pieceData = {{piece_vehi_mois_data|safe}};
                new Chart(ctp, {
                  type: 'bar',
                  data: {
                    labels: labels,
                    datasets: [
                      {
                      label: 'Charge variable',
                      data: chargvariData,
                      borderWidth: 1,
                      backgroundColor: [
                        'rgba(255, 159, 64, 0.8)',
                      ],
                      borderColor: [
                        'rgb(255, 99, 132)',
                      ],
                      borderWidth: 1,
                      tension: 1,
                    },
                    {
                      type: 'line',
                      label: 'Piece',
                      data: pieceData,
                      backgroundColor: 'rgba(255, 99, 132, 0.3)',
                      borderColor: 'rgba(255, 99, 132, 1)',
                      borderWidth: 2,
                      fill: true,
                      tension: 0.4,
                  },
                  ]
                  },
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true,
                      }
                    }
                  }
                });
              </script>
              {% endif %}
              </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <ul class="app-menu ">
              <li class="treeview">
                  <a class="app-menu__item bg-secondary active" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-plus"></i><span class="app-menu__label">Plus d'informations</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                  <ul class="treeview-menu text-light bg-secondary">
                    <li><a class="app-menu__item treeview-item"><i class="fa fa-dollar"> Coût Acquisition: {{vehicule.cout_acquisition}}</i></a></li>
                    <li><a class="app-menu__item treeview-item"><i class="fa fa-calendar"> Date Acquisition: {{vehicule.date_acquisition}}</i></a></li>
                    <li><a class="app-menu__item treeview-item"><i class="fa fa-calendar"> N° Chassis: {{vehicule.num_Chassis}}</i> </a></li>
                  </ul>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
            <ul class="app-menu ">
              <li class="treeview">
                  <a class="app-menu__item bg-secondary active" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-plus"></i><span class="app-menu__label">Plus d'informations</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                  <ul class="treeview-menu text-light bg-secondary">
                    <li><a class="app-menu__item treeview-item"><i class="fa fa-calendar"> N° Carte Grise: {{vehicule.num_cart_grise}}</i></a></li>
                    <li><a class="app-menu__item treeview-item"><i class="fa fa-calendar"> Date edite carte Grise: {{vehicule.dat_edit_carte_grise}}</i></a></li>
                    <li><a class="app-menu__item treeview-item"><i class="fa fa-calendar"> Date Mise en Service: {{vehicule.date_mis_service}}</i></a></li>
                  </ul>
              </li>
            </ul>
          </div>
      </div>
      
    </div>
  </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
