{% extends 'bases.html' %}
{% load static %}

{% block title %}Supprimer Entrée de Caisse{% endblock title %}
	{% block breadcrumb %}
		<ul class="app-breadcrumb breadcrumb">
		  <li class="breadcrumb-item" style="font-size: 24px;"><a href="{% url 'list_encaissement' %}" class="btn btn-outline-light" title="Retour"><i style="color:red;" class="fa fa-reply-all"></i></a> Supprimer Entrée de Caisse</li>
		</ul>
	{% endblock breadcrumb %}

  	{% block content %}
	<div class="col-md-12">
        <div class="tile row">
          	<div class="col-md-3"></div>
          	<div class="col-md-6">
          	  	<div class="x_panel">
          	    	{% if messages %}
          	    	  {% for msg in messages %}
          	    	    <div id="message" class="alert alert-success alert-dismissible fade show" role="alert">
          	    	      <p style="font-size: 16px;" class="text-center">{{msg}}</p>
          	    	    </div>
          	    	  {% endfor %}
          	    	{% endif %}
					<br />
					<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						  	<div class="col-md-6 col-sm-6  form-group">
								<label for="fullname"><b>Date: </b></label>
								{{encaissement_journalier.date}}
						  	</div>
						  	<div class="col-md-6 col-sm-6  form-group">
								<label for="fullname"><b>N° Piece: </b></label>
								{{encaissement_journalier.Num_piece}}
						  	</div>
						  	<div class="col-md-12 col-sm-6  form-group">
								<label for="fullname"><b>Libelle: </b></label>
								{{encaissement_journalier.libelle}}
						  	</div>
						  	<div class="col-md-12 col-sm-6  form-group">
								<label for="fullname"><b>Montant: </b></label>
								{{encaissement_journalier.montant}}
						  	</div>
						<div class="text-center col-md-12 col-sm-3 ">
							<input type="submit" value="Supprimer" onclick="return confirm('Etes-vous sûre de vouloir supprimer les informations concernant {{encaissement_journalier.libelle|upper}} - {{encaissement_journalier.Num_piece|upper}} - {{encaissement_journalier.montant}} FCFA? car si vous supprimer toutes les informations liées seront perdues')" style="box-shadow: 0 0 3px 0 rgb(75, 75, 75); height:35px; width:100px; border-radius:8px; border-color: rgb(250, 186, 186);background:rgb(182, 1, 1); color:aliceblue">
							<a href=""></a>
						</div>
					</form>
          	  	</div>
          	</div>
          	<div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock content %}
