{% extends 'bases.html' %}
{% load static %}

{% block title %}Add Temps Arrêt{% endblock title %}

{% block breadcrumb %}
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item" style="font-size: 24px;"> Ajouter un Temps Arrêt</li>
  </ul>
{% endblock breadcrumb %}

  {% block content %}
    {% if messages %}
      {% for msg in messages %}
        <div id="message" class="alert alert-success alert-dismissible fade show" role="alert">
          <p style="font-size: 16px;" class="text-center">{{msg}}</p>
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-12">
                <div id="external-events">
                  <div class="card-box table-responsive">
                    <table id="datatable" class="table table-striped table-bordered text-center" style="width:100%">
                      <thead>
                        <tr>
                          <th style="color: rgb(255, 0, 0)">Immat</th>
                          <th style="color: rgb(255, 0, 0);">Marque</th>
                          <th style="color: rgb(255, 0, 0);">Category</th>
                          <th style="color: rgb(255, 0, 0);">Visite</th>
                          <th style="color: rgb(255, 0, 0);">Entretien</th>
                          <th style="color: rgb(255, 0, 0);">Reparation</th>
                          <th style="color: rgb(255, 0, 0);">Accident</th>
                          <th style="color: rgb(255, 0, 0);">Perte</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% if vehicule %}
                        {% for v in vehicule %}
                          <tr>
                            <td> <a style="color: rgb(199, 0, 0);"><b>{{v.immatriculation}}</b></a></td>
                            <td style="font-size: 14px;"><b>{{v.marque}}</b></td>
                            <td>{{v.category}}</td>
                            <td><b><a style="color: rgb(32, 136, 255);" href="{% url 'add_visit' v.pk %}">Saisie</a></b></td>
                            <td><b><a style="color: rgb(32, 136, 255);" href="{% url 'add_entretien' v.pk %}">Saisie</a></b></td>
                            <td><b><a style="color: rgb(32, 136, 255);" href="{% url 'add_reparat' v.pk %}">Saisie</a></b></td>
                            <td><b><a style="color: rgb(32, 136, 255);" href="{% url 'add_accident' v.pk %}">Saisie</a></b></td>
                            <td><b><a style="color: rgb(32, 136, 255);" href="{% url 'add_perte' v.pk %}">Saisie</a></b></td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript"></script>
  <script src="{% static 'assetss/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'assetss/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'assetss/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
{% endblock extrascripts %}
