<form method="post" id="CarUpdateForm" class="pb-modal-default__form" action="{% url 'updat_car' object.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Modifier le véhicule {{ object.immatriculation }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row pb-modal-grid pb-modal-saisie-layout">
            <div class="col-12">
                <div class="pb-modal-panel">
                    <div class="pb-modal-panel__title">Informations du véhicule</div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.immatriculation.id_for_label }}">Immatriculation</label>
                                {{ form.immatriculation }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.marque.id_for_label }}">Marque</label>
                                {{ form.marque }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.category.id_for_label }}">Catégorie</label>
                                {{ form.category }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.duree.id_for_label }}">Durée</label>
                                {{ form.duree }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.cout_acquisition.id_for_label }}">Coût d'acquisition</label>
                                {{ form.cout_acquisition }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.num_Chassis.id_for_label }}">Numéro chassis</label>
                                {{ form.num_Chassis }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.num_cart_grise.id_for_label }}">Numéro carte grise</label>
                                {{ form.num_cart_grise }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.date_acquisition.id_for_label }}">Date d'acquisition</label>
                                {{ form.date_acquisition }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.dat_edit_carte_grise.id_for_label }}">Date édit. carte grise</label>
                                {{ form.dat_edit_carte_grise }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field pb-modal-field--last">
                                <label class="pb-modal-field__label" for="{{ form.date_mis_service.id_for_label }}">Date mise en service</label>
                                {{ form.date_mis_service }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pb-modal-default__footer-left">
            <button type="button" class="btn pb-modal-default__btn-cancel" data-dismiss="modal">Annuler</button>
        </div>
        <div class="pb-modal-default__footer-actions">
            <button type="submit" class="btn pb-modal-default__btn-submit">Enregistrer</button>
        </div>
    </div>
</form>
