<form method="post" id="categorieUpdateForm" class="pb-modal-default__form" action="{% url 'updat_catego_vehi' object.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Modifier la catégorie {{ object.category }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row pb-modal-grid pb-modal-saisie-layout">
            <div class="col-12">
                <div class="pb-modal-panel">
                    <div class="pb-modal-panel__title">Informations de la catégorie</div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.category.id_for_label }}">Catégorie</label>
                                {{ form.category }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field">
                                <label class="pb-modal-field__label" for="{{ form.recette_defaut.id_for_label }}">Recette par défaut</label>
                                {{ form.recette_defaut }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pb-modal-field pb-modal-field--last">
                                <label class="pb-modal-field__label" for="{{ form.perte_par_30min.id_for_label }}">Valeur perdue par arrêt</label>
                                {{ form.perte_par_30min }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pb-modal-default__footer-left">
            <button type="button" class="btn pb-modal-default__btn-cancel" data-dismiss="modal">Annuler</button>
        </div>
        <div class="pb-modal-default__footer-actions">
            <button type="submit" class="btn pb-modal-default__btn-submit">Enregistrer</button>
        </div>
    </div>
</form>
