{% load static %}
<ul class="navbar-nav pb-navbar-actions ml-auto flex-shrink-0">
    <li class="nav-item dropdown pb-navbar-role">
        <a class="nav-link pb-navbar-role__toggle" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="pb-navbar-role__dot" aria-hidden="true"></span>
            <span class="pb-navbar-role__label">Rôle : {{ navbar_role_label }}</span>
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right pb-navbar-dropdown">
            <span class="dropdown-item-text text-muted small">Connecté en tant que</span>
            <span class="dropdown-item-text font-weight-bold">{{ user.prenom|default:user.username }} {{ user.nom }}</span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text">
                <i class="fas fa-user-tag mr-2"></i>{{ navbar_role_label }}
            </span>
            <span class="dropdown-item-text text-muted small">{{ user.email }}</span>
            <div class="dropdown-divider"></div>
            <a href="{% url 'change_password' %}" class="dropdown-item">
                <i class="fas fa-user-edit mr-2"></i> Mon profil
            </a>
        </div>
    </li>

    {% include 'perfect/partials/navbar_notifications.html' %}

    <li class="nav-item dropdown pb-navbar-user">
        <a class="nav-link pb-navbar-user__toggle" href="#" data-toggle="dropdown" aria-expanded="false">
            {% if navbar_profile.avatar %}
                <img src="{{ navbar_profile.avatar.url }}" alt="" class="pb-navbar-user__avatar">
            {% elif user.gender == 'Homme' %}
                <img src="{% static 'agent.png' %}" alt="" class="pb-navbar-user__avatar">
            {% else %}
                <img src="{% static 'agente.png' %}" alt="" class="pb-navbar-user__avatar">
            {% endif %}
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right pb-navbar-dropdown">
            <span class="dropdown-item-text font-weight-bold">{{ user.prenom|default:user.username }} {{ user.nom }}</span>
            <span class="dropdown-item-text text-muted small">{{ user.email }}</span>
            <div class="dropdown-divider"></div>
            <a href="{% url 'change_password' %}" class="dropdown-item">
                <i class="fas fa-id-card mr-2"></i> Profil &amp; mot de passe
            </a>
            <a href="{% url 'dash' %}" class="dropdown-item">
                <i class="fas fa-tachometer-alt mr-2"></i> Tableau de bord
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'log_out' %}" class="dropdown-item text-danger">
                <i class="fas fa-sign-out-alt mr-2"></i> Déconnexion
            </a>
        </div>
    </li>
</ul>
