{% load static %}
{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link href="{% static 'ass/img/icon.png' %}" rel="icon">
        <title>{% block title %}P&B_ENTREPRISE{% endblock title %}
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <script src="{% static 'as/js/script.js' %}" type="text/javascript"></script>
        <script src="{% static 'as/js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'as/js/jquery-3.3.1.min.js' %}"type="text/javascript"></script>

        <!-- Datatables -->
        <link href="{% static 'as/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'as/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'as/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'as/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'as/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <link href="{% static 'as/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{% static 'as/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        
        <!-- iCheck -->
        <link href="{% static 'as/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
        <!-- bootstrap-wysiwyg -->
        <link href="{% static 'as/vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
	    <!-- Select2 -->
	    <link href="{% static 'as/vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
	    <!-- Switchery -->
	    <link href="{% static 'as/vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
	    <!-- starrr -->
	    <link href="{% static 'as/vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
        
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <!-- MySTYLE  Main CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'ne/css/style.css' %}" />
    </head>
    <body class="app sidebar-mini">
        {% if user_group %}
            <header class="app-header" style="color:#009688">
            <a style="font-size: 20px" class="app-header__logo" href="{% url 'dash' %}">P&B Entreprise</a>
            <!-- Sidebar toggle button-->
            <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
            <ul class="app-nav">
                <li class="dropdown">
                    <a class="app-nav__item img-responsive" href="#" data-toggle="dropdown" aria-label="Open Profile Menu">Hi, 
                        {{user.username|upper}}
                        {% if user.profile.profile_pic %}
                        <img class="rounded-circle" style="height: 30px; width:30px" src="{{ user.profile.profile_pic.url }}" alt="" srcset="">
                        {% else %} 
                            {% if user.gender == 'Homme' %}
                              <img class="rounded-circle" style="height: 30px; width:30px" src="{% static 'ass/img/profi_h.WEBP' %}" alt="" srcset="">
                            {% else %}
                              <img class="rounded-circle" style="height: 30px; width:30px" src="{% static 'ass/img/profi_f.png' %}" alt="" srcset="">
                            {% endif %}
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu settings-menu dropdown-menu-right">
                        {% if user.profile %}
                            <li><a class="dropdown-item" href="{% url 'profil_user' %}"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                            <!--<li><a class="dropdown-item" href="{% url 'edit_profil'%}"><i class="fa fa-cog fa-lg"></i> Modifier Profil</a></li>-->
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'creat_profil' %}"><i class="fa fa-user fa-lg"></i>Créer Profile</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'log_out' %}"><i class="fa fa-sign-out fa-lg"></i>Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            </header>
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <aside class="app-sidebar">
                <ul class="app-menu">
                    {% if user.is_staff %}
                        <li class="treeview">
                            <a class="app-menu__item active" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Statistique Financière</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'dash' %}"><i class="icon fa fa-circle-o"></i>Statistique Générale</a></li>
                                <li><a class="treeview-item" href="{% url 'listvehi' %}"><i class="icon fa fa-circle-o"></i>Stat Financière par Véhicule</a></li>
                                <li><a class="treeview-item" href="{% url 'bilan_journalier' %}"><i class="icon fa fa-circle-o"></i>Gestion de la Caisse</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Saisie Financière</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'journal_compta' %}"><i class="icon fa fa-circle-o"></i>Financiere</a></li>
                                <li><a class="treeview-item" href="{% url 'add_charg_administ' %}"><i class="icon fa fa-circle-o"></i>Administrative</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-gears"></i><span class="app-menu__label">Garage</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'Tbgarag' %}"><i class="icon fa fa-circle-o"></i><span class="app-menu__label"> Statistique Garage</span></a></li>
                                <li><a class="treeview-item" href="{% url 'tb_garag' %}"><i class="icon fa fa-circle-o"></i><span class="app-menu__label"> Gestion des alertes</span></a></li>
                                <li><a class="treeview-item" href="{% url 'temps_arrets' %}"><i class="icon fa fa-circle-o"></i> Marquer un temps d'arrêt</a></li>
                                <li><a class="treeview-item" href="{% url 'journal_garag' %}"><i class="icon fa fa-circle-o"></i> Saisie</a></li>
                                <li><a class="treeview-item" href="{% url 'list_stat_garag' %}"><i class="icon fa fa-circle-o"></i> Statistique par véhicule</a></li>
                                <li><a class="treeview-item" href="{% url 'tabletemparret' %}"><i class="icon fa fa-circle-o"></i> Table des temps d'arrets</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Enregister</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'add_car' %}"><i class="icon fa fa-circle-o"></i>Nouveau Vehicule</a></li>
                                <li><a class="treeview-item" href="{% url 'add_catego_vehi' %}"><i class="icon fa fa-circle-o"></i>Nouvelle Categorie</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Etat Financier</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'suivi_finance' %}"><i class="icon fa fa-circle-o"></i>Suivi Financier</a></li>
                                <li><a class="treeview-item" href="{% url 'listrecet' %}"><i class="icon fa fa-circle-o"></i>Recette</a></li>
                                <li><a class="treeview-item" href="{% url 'list_charg_fix' %}"><i class="icon fa fa-circle-o"></i>Charge fixe</a></li>
                                <li><a class="treeview-item" href="{% url 'list_charg_var' %}"><i class="icon fa fa-circle-o"></i>Charge Variable</a></li>
                                <li><a class="treeview-item" href="{% url 'list_encaissement' %}"><i class="icon fa fa-circle-o"></i>Entree de Caisse</a></li>
                                <li><a class="treeview-item" href="{% url 'list_decaissement' %}"><i class="icon fa fa-circle-o"></i>Sortie de Caissee</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Etat Garage</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'list_repa' %}"><i class="icon fa fa-circle-o"></i>Reparation</a></li>
                                <li><a class="treeview-item" href="{% url 'list_entretien' %}"><i class="icon fa fa-circle-o"></i>Entretien</a></li>
                                <li><a class="treeview-item" href="{% url 'list_visit' %}"><i class="icon fa fa-circle-o"></i>Visite</a></li>
                                <li><a class="treeview-item" href="{% url 'list_accid' %}"><i class="icon fa fa-circle-o"></i>accident</a></li>
                                <li><a class="treeview-item" href="{% url 'list_piece' %}"><i class="icon fa fa-circle-o"></i>Piece</a></li>
                                <li><a class="treeview-item" href="{% url 'list_perte' %}"><i class="icon fa fa-circle-o"></i>Perte</a></li>
                                <li><a class="treeview-item" href="{% url 'list_assur' %}"><i class="icon fa fa-circle-o"></i>Assurance</a></li>
                                <li><a class="treeview-item" href="{% url 'list_vignet' %}"><i class="icon fa fa-circle-o"></i>Vignette</a></li>
                                <li><a class="treeview-item" href="{% url 'list_patente' %}"><i class="icon fa fa-circle-o"></i>Patente</a></li>
                                <li><a class="treeview-item" href="{% url 'list_cart_station' %}"><i class="icon fa fa-circle-o"></i>Carte de Stationnement</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Poster sur le site</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'addphoto' %}"><i class="icon fa fa-circle-o"></i>une Photo</a></li>
                                <li><a class="treeview-item" href="{% url 'addvideo' %}"><i class="icon fa fa-circle-o"></i>une Vidéo</a></li>
                                <li><a class="treeview-item" href="{% url 'addevent' %}"><i class="icon fa fa-circle-o"></i>un Evènement</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-car"></i><span class="app-menu__label">Categorie de Véhicule</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                {% for c in catego_vehi %}
                                    <li><a class="treeview-item" href="{% url 'catego_vehi_list' c.cid %}"><i class="icon fa fa-circle-o"></i>{{c.category}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a class="app-menu__item" href="{% url 'register' %}"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Création de compte</span></a></li>
                    {% elif user_group == "Gerant_vehicules" %}
                        <li><a class="treeview-item" href="{% url 'Tbgarag' %}"><i class="icon fa fa-circle-o"></i><span class="app-menu__label"> Statistique Garage</span></a></li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-gears"></i><span class="app-menu__label">Garage</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'tb_garag' %}"><i class="icon fa fa-circle-o"></i><span class="app-menu__label"> Gestion des alertes</span></a></li>
                                <li><a class="treeview-item" href="{% url 'temps_arrets' %}"><i class="icon fa fa-circle-o"></i> Marquer un temps d'arrêt</a></li>
                                <li><a class="treeview-item" href="{% url 'journal_garag' %}"><i class="icon fa fa-circle-o"></i> Saisie</a></li>
                                <li><a class="treeview-item" href="{% url 'list_stat_garag' %}"><i class="icon fa fa-circle-o"></i> Statistique par véhicule</a></li>
                                <li><a class="treeview-item" href="{% url 'tabletemparret' %}"><i class="icon fa fa-circle-o"></i> Table des temps d'arrets</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Etat Garage</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'list_repa' %}"><i class="icon fa fa-circle-o"></i>Reparation</a></li>
                                <li><a class="treeview-item" href="{% url 'list_entretien' %}"><i class="icon fa fa-circle-o"></i>Entretien</a></li>
                                <li><a class="treeview-item" href="{% url 'list_visit' %}"><i class="icon fa fa-circle-o"></i>Visite</a></li>
                                <li><a class="treeview-item" href="{% url 'list_accid' %}"><i class="icon fa fa-circle-o"></i>Accident</a></li>
                                <li><a class="treeview-item" href="{% url 'list_piece' %}"><i class="icon fa fa-circle-o"></i>Piece</a></li>
                                <li><a class="treeview-item" href="{% url 'list_perte' %}"><i class="icon fa fa-circle-o"></i>Perte</a></li>
                                <li><a class="treeview-item" href="{% url 'list_assur' %}"><i class="icon fa fa-circle-o"></i>Assurance</a></li>
                                <li><a class="treeview-item" href="{% url 'list_vignet' %}"><i class="icon fa fa-circle-o"></i>Vignette</a></li>
                                <li><a class="treeview-item" href="{% url 'list_patente' %}"><i class="icon fa fa-circle-o"></i>Patente</a></li>
                                <li><a class="treeview-item" href="{% url 'list_cart_station' %}"><i class="icon fa fa-circle-o"></i>Carte de Stationnement</a></li>
                            </ul>
                        </li>
                    {% elif user_group == "Service_comptable" %}
                        <li class="treeview">
                            <a class="app-menu__item active" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Statistique Financière</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'dash' %}"><i class="icon fa fa-circle-o"></i>Statistique Générale</a></li>
                                <li><a class="treeview-item" href="{% url 'listvehi' %}"><i class="icon fa fa-circle-o"></i>Stat financière par Véhicule</a></li>
                                <li><a class="treeview-item" href="{% url 'bilan_journalier' %}"><i class="icon fa fa-circle-o"></i>Gestion de la Caisse</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-gears"></i><span class="app-menu__label">Garage</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'Tbgarag' %}"><i class="icon fa fa-circle-o"></i><span class="app-menu__label"> Statistique Garage</span></a></li>
                                <li><a class="treeview-item" href="{% url 'tb_garag' %}"><i class="icon fa fa-circle-o"></i><span class="app-menu__label"> Gestion des alertes</span></a></li>
                                <li><a class="treeview-item" href="{% url 'list_stat_garag' %}"><i class="icon fa fa-circle-o"></i> Statistique par véhicule</a></li>
                                <li><a class="treeview-item" href="{% url 'tabletemparret' %}"><i class="icon fa fa-circle-o"></i> Table des temps d'arrets</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Journal de saisi</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'journal_compta' %}"><i class="icon fa fa-circle-o"></i>Financiere</a></li>
                                <li><a class="treeview-item" href="{% url 'add_charg_administ' %}"><i class="icon fa fa-circle-o"></i>Administrative</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Etat Financière</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'suivi_finance' %}"><i class="icon fa fa-circle-o"></i>Suivi Financier</a></li>
                                <li><a class="treeview-item" href="{% url 'listrecet' %}"><i class="icon fa fa-circle-o"></i>Recette</a></li>
                                <li><a class="treeview-item" href="{% url 'list_charg_fix' %}"><i class="icon fa fa-circle-o"></i>Charge fixe</a></li>
                                <li><a class="treeview-item" href="{% url 'list_charg_var' %}"><i class="icon fa fa-circle-o"></i>Charge Variable</a></li>
                                <li><a class="treeview-item" href="{% url 'list_encaissement' %}"><i class="icon fa fa-circle-o"></i>Entree de Caisse</a></li>
                                <li><a class="treeview-item" href="{% url 'list_decaissement' %}"><i class="icon fa fa-circle-o"></i>Sortie de Caissee</a></li>
                            </ul>
                        </li>
                    {% elif user_group == "Chefs_exploitation" %}
                        <li class="treeview">
                            <a class="app-menu__item active" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Statistique Financière</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'dash' %}"><i class="icon fa fa-circle-o"></i>Statistique Générale</a></li>
                                <li><a class="treeview-item" href="{% url 'listvehi' %}"><i class="icon fa fa-circle-o"></i>Stat Financiere par Véhicule</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-gears"></i><span class="app-menu__label">Garage</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'Tbgarag' %}"><i class="icon fa fa-circle-o"></i><span class="app-menu__label"> Statistique Garage</span></a></li>
                                <li><a class="treeview-item" href="{% url 'tb_garag' %}"><i class="icon fa fa-circle-o"></i><span class="app-menu__label"> Gestion des alertes</span></a></li>
                                <li><a class="treeview-item" href="{% url 'temps_arrets' %}"><i class="icon fa fa-circle-o"></i> Marquer un temps d'arrêt</a></li>
                                <li><a class="treeview-item" href="{% url 'journal_garag' %}"><i class="icon fa fa-circle-o"></i> Saisie</a></li>
                                <li><a class="treeview-item" href="{% url 'list_stat_garag' %}"><i class="icon fa fa-circle-o"></i> Statistique par véhicule</a></li>
                                <li><a class="treeview-item" href="{% url 'tabletemparret' %}"><i class="icon fa fa-circle-o"></i> Table des temps d'arrets</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Enregister</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'add_car' %}"><i class="icon fa fa-circle-o"></i>Nouveau Vehicule</a></li>
                                <li><a class="treeview-item" href="{% url 'add_catego_vehi' %}"><i class="icon fa fa-circle-o"></i>Nouvelle Categorie</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Poster sur le site</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'addphoto' %}"><i class="icon fa fa-circle-o"></i>Photo</a></li>
                                <li><a class="treeview-item" href="{% url 'addvideo' %}"><i class="icon fa fa-circle-o"></i>Vidéo</a></li>
                                <li><a class="treeview-item" href="{% url 'addevent' %}"><i class="icon fa fa-circle-o"></i>Evènement</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Liste Financière</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'suivi_finance' %}"><i class="icon fa fa-circle-o"></i>Suivi Financier</a></li>
                                <li><a class="treeview-item" href="{% url 'listrecet' %}"><i class="icon fa fa-circle-o"></i>Recette</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Etat Garage</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a class="treeview-item" href="{% url 'list_repa' %}"><i class="icon fa fa-circle-o"></i>Reparation</a></li>
                                <li><a class="treeview-item" href="{% url 'list_entretien' %}"><i class="icon fa fa-circle-o"></i>Entretien</a></li>
                                <li><a class="treeview-item" href="{% url 'list_visit' %}"><i class="icon fa fa-circle-o"></i>Visite</a></li>
                                <li><a class="treeview-item" href="{% url 'list_accid' %}"><i class="icon fa fa-circle-o"></i>Accident</a></li>
                                <li><a class="treeview-item" href="{% url 'list_piece' %}"><i class="icon fa fa-circle-o"></i>Piece</a></li>
                                <li><a class="treeview-item" href="{% url 'list_perte' %}"><i class="icon fa fa-circle-o"></i>Perte</a></li>
                                <li><a class="treeview-item" href="{% url 'list_assur' %}"><i class="icon fa fa-circle-o"></i>Assurance</a></li>
                                <li><a class="treeview-item" href="{% url 'list_vignet' %}"><i class="icon fa fa-circle-o"></i>Vignette</a></li>
                                <li><a class="treeview-item" href="{% url 'list_patente' %}"><i class="icon fa fa-circle-o"></i>Patente</a></li>
                                <li><a class="treeview-item" href="{% url 'list_cart_station' %}"><i class="icon fa fa-circle-o"></i>Carte de Stationnement</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-car"></i><span class="app-menu__label">Categorie de Véhicule</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                {% for c in catego_vehi %}
                                    <li><a class="treeview-item" href="{% url 'catego_vehi_list' c.cid %}"><i class="icon fa fa-circle-o"></i>{{c.category}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    <li><a class="app-menu__item" href="{% url 'home' %}"><i class="app-menu__icon fa fa-globe fa-spin"></i><span class="app-menu__label">Pbholding...</span></a></li>
                    <li><a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Docs</span></a></li>
                </ul>
            </aside>

            <main class="app-content">
                <div class="app-title" style="font-weight: bold;">
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                </div>
                {% block content %}

                {% endblock content %}
                {% block extrascripts %}
                {% endblock extrascripts %}
            </main>
    
            {% else %}
            <div class="col-md-12">
                <div class="row">
                  	<div class="col-md-12 text-center">
                        <h3 style="color: red; display:block ;margin-top:22%;">
                            Connectez-vous à P&BEntreprise!! <br>
                            <a style="color: rgb(0, 110, 255); text-decoration:none" class="small mb-2 text-center" href="{% url 'login' %}"><b>Connexion</b></a>
                        </h3>
                    </div>
                </div>
            </div>
        {% endif %}    
    {% endif %}        


    <script src="{% static 'ne/js/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'ne/js/popper.js' %}"></script>
    <script src="{% static 'ne/js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'ne/js/plugins/pace.min.js'%}"></script>
    
    <!-- jQuery -->
    <script src="{% static 'as/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'ne/js/bootstrap.min.js' %}"></script>
    <script src="{ static 'asset/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'as/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'as/vendors/echarts/dist/echarts.min.js' %}"></script>

    <script src="{% static 'as/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'as/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'as/vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'as/vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'as/vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'as/vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'as/vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'as/vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'as/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %} "></script>
    <script src="{% static 'as/vendors/flot-spline/js/jquery.flot.spline.min.js' %} "></script>
    <script src="{% static 'as/vendors/flot.curvedlines/curvedLines.js' %} "></script>
    <script src="{% static 'as/vendors/jquery.tagsinput/src/jquery.tagsinput.js' %}"></script>
	<!-- Switchery -->
	<script src="{% static 'as/vendors/switchery/dist/switchery.min.js' %}"></script>
	<!-- Select2 -->
	<script src="{% static 'as/vendors/select2/dist/js/select2.full.min.js' %}"></script>
	<!-- Parsley -->
	<script src="{% static 'as/vendors/parsleyjs/dist/parsley.min.js' %}"></script>
	<!-- Autosize -->
	<script src="{% static 'as/vendors/autosize/dist/autosize.min.js' %}"></script>
	
    <!-- DateJS -->
    <script src="{% static 'as/vendors/DateJS/build/date.js' %}"></script>
    <script src="{% static 'as/vendors/moment/min/moment.min.js' %} "></script>
    <script src="{% static 'as/vendors/moment/min/moment.min.js' %}"></script>

	<!-- bootstrap-wysiwyg -->
	<script src="{% static 'as/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js' %}"></script>
	<script src="{% static 'as/vendors/jquery.hotkeys/jquery.hotkeys.js' %}"></script>
	<script src="{% static 'as/vendors/google-code-prettify/src/prettify.js' %}"></script>
    
    <script src="{% static 'as/build/js/custom.min.js' %}"></script>
    <script src="{% static 'as/build/js/echarts.min.js' %}"></script>
    <script src="{% static 'as/build/js/echarts.min.js' %}"></script>
    <script src="{% static 'as/build/js/echarts.simple.js' %}"></script>
    <script src="{% static 'as/build/js/echarts.simple.min.js' %}"></script>
    <script src="{% static 'as/build/js/echarts.js' %}"></script>
    <script src="{% static 'as/build/js/echarts.esm.min.js' %}"></script>
    <script src="{% static 'as/build/js/echarts.common.min.js' %}"></script>
    <script src="{% static 'as/build/js/echarts.esm.js' %}"></script>
    
    <script src="{% static 'as/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'as/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'as/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'as/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'as/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
	
    </body>
</html>

