<div class="row pb-modal-grid">
    <div class="col-md-6">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ form.date_debut.id_for_label }}">Date historique début</label>
            {{ form.date_debut }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ form.date_fin.id_for_label }}">Date historique fin</label>
            {{ form.date_fin }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ form.immatriculation.id_for_label }}">Immatriculation</label>
            {{ form.immatriculation }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ form.categorie.id_for_label }}">Catégorie</label>
            {{ form.categorie }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ form.marque.id_for_label }}">Marque</label>
            {{ form.marque }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ form.motif_sorti.id_for_label }}">Motif de sortie</label>
            {{ form.motif_sorti }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ form.annee_sortie.id_for_label }}">Année de sortie</label>
            {{ form.annee_sortie }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ form.annee_enregistrement.id_for_label }}">Année d'enregistrement</label>
            {{ form.annee_enregistrement }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="pb-modal-field pb-modal-field--last">
            <label class="pb-modal-field__label" for="{{ form.history_type.id_for_label }}">Type d'historique</label>
            {{ form.history_type }}
        </div>
    </div>
</div>
