<div class="row pb-modal-grid">
    <div class="col-md-6 col-sm-6 pb-modal-grid__item">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ forms.numfich.id_for_label }}">N° fiche</label>
            {{ forms.numfich }}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 pb-modal-grid__item">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ forms.libelle.id_for_label }}">Libellé</label>
            {{ forms.libelle }}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 pb-modal-grid__item">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ forms.date_arret.id_for_label }}">Date d'arrêt</label>
            {{ forms.date_arret }}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 pb-modal-grid__item">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ forms.date_sortie.id_for_label }}">Date de reprise</label>
            {{ forms.date_sortie }}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 pb-modal-grid__item">
        <div class="pb-modal-field">
            <label class="pb-modal-field__label" for="{{ forms.montant.id_for_label }}">Montant</label>
            {{ forms.montant }}
        </div>
    </div>
</div>
