<div class="row pb-modal-grid pb-modal-saisie-layout">
    <div class="col-12">
        <div class="pb-modal-panel">
            <div class="pb-modal-panel__title">Informations de la catégorie</div>
            <div class="row">
                <div class="col-12">
                    <div class="pb-modal-field pb-modal-field--last">
                        <label class="pb-modal-field__label" for="{{ form.categorie.id_for_label }}">Nom de la catégorie</label>
                        {{ form.categorie }}
                        <small class="text-muted d-block mt-1">Exemples : bord, comptabilite, garage, saisiefinance, etc.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
