{% extends 'perfect/base.html' %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pb/css/reparation-form.css' %}?v=5">
{% endblock extra_css %}
{% block title %} Listes des véhicules {% endblock title %} 

{% block page_title %}
    <img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'addcar.png' %}" alt="User profile picture">{% if categorie %}Catégorie Véhicule : {{categorie}}{% else %}Tous les véhicules{% endif %}
{% endblock page_title %} 
{% block page_action %}
    {% if categorie %}
        <form id="quickForm">
            <button type="button" class="btn btn-default" style="color: #a83232;" data-toggle="modal" data-target="#modal-import-vehicules">
                Importer <i class="fa fa-upload"></i>
            </button>
            <a href="{% url 'download_vehicule_excel_template' categorie.pk %}" class="btn btn-default" style="color: rgba(26, 26, 26, 0.75);">
                Exemplaire <i class="fa fa-download"></i>
            </a>
            <a href="{% url 'export_vehicules_excel' %}?date_debut={{ request.GET.date_debut }}&date_fin={{ request.GET.date_fin }}&immatriculation={{ request.GET.immatriculation }}&categorie={{ request.GET.categorie }}" class="btn btn-default" style="color: #a83232;">
                Excel <i class="fa fa-file-excel-o"></i>
            </a>
            <button type="button" class="btn btn-default" style="color: #a83232;" data-toggle="modal" data-target="#modal-lg">
                Nouveau véhicule <i class="fa fa-plus-circle"></i>
            </button>
        </form>
    {% endif %}
{% endblock page_action %}
{% block navbar_nav %}
{% endblock navbar_nav %}
{% block main_content %}

{% if categorie %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-lg' modal_size='lg' modal_title_html='Nouveau véhicule &laquo; '|add:categorie|add:'&raquo;' form_method='post' form_id='vehiculeCreateForm' enctype='multipart/form-data' body_template='perfect/partials/saisie/vehicule_create_body.html' submit_label='Enregistrer' %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-import-vehicules' modal_size='md' modal_title='Importer des véhicules par Excel' form_method='post' form_id='vehiculeImportForm' enctype='multipart/form-data' body_template='perfect/partials/saisie/vehicule_import_excel_body.html' submit_label='Importer' %}
{% endif %}

{% url 'all_vehi_hors_parc' as vehi_hors_parc_url %}
<div class="col-md-12">
    <div class="pb-kpi-grid pb-kpi-grid--4">
        {% include 'perfect/partials/stats/kpi_card.html' with label="Catégories" subtitle="Parc véhicules" value=categories|length sublabel="Effectif" icon_img='categ.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Total Véhicules parc" subtitle="Parc véhicules" value=total_veh sublabel="Effectif" icon_img='summ.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Véhicules hors parc" subtitle="Parc véhicules" value=total_veh_hors_parc sublabel="Effectif" icon_img='summ.png' side_value="Voir" side_icon="fa-arrow-circle-right" side_url=vehi_hors_parc_url %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Coût total" subtitle="Parc véhicules" value=cout_total unit="cfa" sublabel="Total période" icon="fa-coins" %}
    </div>
</div>
{% with categorie_active=categorie %}
<div class="col-12 col-lg-3">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">Catégories</span>
                <span class="pb-panel__hint">Véhicules par catégorie</span>
            </div>
            <div class="pb-panel__tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" aria-label="Réduire">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body pb-panel__body pb-panel__body--flush">
            <ul class="pb-list">
                <li class="pb-list__item{% if not categorie_active %} pb-list__item--current{% endif %}">
                    <a href="{% url 'all_vehi' %}" class="pb-list__link">Tous les véhicules</a>
                    <span class="pb-list__count">{{ total_veh }}</span>
                </li>
                {% for categorie, perms in grouped_permissions.items %}
                    {% if categorie.categorie == 'permvehi' %}
                        {% for perm in perms %}
                            {% if perm.name == "add véhicule" %}
                                {% for c in categories %}
                                    <li class="pb-list__item{% if categorie_active and categorie_active.pk == c.pk %} pb-list__item--current{% endif %}">
                                        <a href="{% url 'add_vehi' c.pk %}" class="pb-list__link">{{ c.category }}</a>
                                        <span class="pb-list__count">{{ c.nb_vehicules }}</span>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="col-12 col-lg-9">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">{% if categorie_active %}Véhicules « {{ categorie_active }} »{% else %}Liste des véhicules{% endif %}</span>
                <span class="pb-panel__hint">{{ total_veh }} véhicule{{ total_veh|pluralize }} en parc</span>
            </div>
            <div class="pb-panel__tools">
                <a href="{% url 'all_vehi_hors_parc' %}" class="pb-panel__action" title="Voir les véhicules sortis du parc">
                    Hors parc <i class="fas fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <form method="POST" action="{% url 'delete_multiple_vehicules' %}" id="deleteForm">
            {% csrf_token %}
            <div class="card-body pb-panel__body pb-panel__body--flush">
                {% if vehicules %}
                    <div class="pb-table-wrap">
                        <table id="example1" class="table pb-table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkAll" aria-label="Tout sélectionner"></th>
                                    <th>Immat</th>
                                    <th>Marque</th>
                                    <th>Catégorie</th>
                                    <th>Coût</th>
                                    <th>Durée</th>
                                    <th>Âge</th>
                                    <th>Statut</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in vehicules %}
                                    <tr>
                                        <td><input type="checkbox" name="vehicule_ids" value="{{ u.id }}" aria-label="Sélectionner {{ u.immatriculation }}"></td>
                                        <td><span class="pb-table__key">{{ u.immatriculation }}</span></td>
                                        <td>{{ u.marque }}</td>
                                        <td class="pb-table__muted">{{ u.category }}</td>
                                        <td>{{ u.cout_acquisition }}</td>
                                        <td class="pb-table__muted">{{ u.duree }}</td>
                                        <td><span class="badge bg-{{ u.color_age }}">{{ u.age }} ans</span></td>
                                        <td>
                                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox"
                                                    class="custom-control-input toggle-car-statut"
                                                    id="switch-car-{{ u.id }}"
                                                    data-url="{% url 'toggle_car_statut' u.id %}"
                                                    data-vehicule-id="{{ u.id }}"
                                                    {% if u.car_statut %} checked {% endif %}>
                                                <label class="custom-control-label" for="switch-car-{{ u.id }}"></label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span class="pb-table__actions">
                                                {% for categorie, perms in grouped_permissions.items %}
                                                    {% if categorie.categorie == 'permvehi' %}
                                                        {% for perm in perms %}
                                                            {% if perm.name == "modifier véhicule" %}
                                                                <a href="#" class="pb-table__action edit-vehicule-btn" data-url="{% url 'updat_car' u.pk %}" title="Modifier le véhicule">
                                                                    <i class="fas fa-pen" aria-hidden="true"></i>
                                                                </a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="pb-empty">
                        <i class="fas fa-car-side" aria-hidden="true"></i>
                        Aucun véhicule dans cette sélection.
                    </p>
                {% endif %}
            </div>
            {% if vehicules %}
                {% for categorie, perms in grouped_permissions.items %}
                    {% if categorie.categorie == 'permvehi' %}
                        {% for perm in perms %}
                            {% if perm.name == "sup véhicule" %}
                                <div class="pb-panel__footer">
                                    <button type="submit" class="pb-panel__action pb-panel__action--danger" onclick="return confirm('Confirmez-vous la suppression des véhicules sélectionnés ?')">
                                        <i class="fas fa-trash" aria-hidden="true"></i> Supprimer la sélection
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </form>
    </div>
</div>
{% endwith %}

<div class="modal fade pb-modal-default pb-modal-default--lg" id="editCarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0" id="modalBodyContent">
                <div class="text-center p-4"><div class="spinner-border" role="status"><span class="sr-only">Chargement...</span></div></div>
            </div>
        </div>
    </div>
</div>

{% include 'perfect/partials/modal_default.html' with modal_id='motifSortiModal' modal_title='Motif de sortie' form_id='motifSortiForm' form_method='post' submit_label='Confirmer' body_template='perfect/partials/saisie/motif_sorti_body.html' %}

{% endblock main_content %}