{% extends 'perfect/base.html' %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pb/css/saisie-live-search.css' %}?v=1">
{% endblock extra_css %}
{% block title %}Saisie & Etat des recettes  {% endblock title %} 
{% block page_title %}
<a href="{% url 'saisi_compta' %}"><img class="profile-user-img" style="border:none; height:25px;width:25px" src="{% static 'retour.png' %}" alt="Retour"></a>
    <img class="profile-user-img" style="border:none; height:50px;width:55px" src="{% static 'chargvar.png' %}" alt="picture">Saisie & Etat des charges variables du <b style="color: #1a1a1a;"> {{vehicule}}</b> 
{% endblock page_title %}
{% block page_action %}
    {% include 'perfect/partials/modal_saisie_trigger.html' with label='Saisir' icon='fa-plus-square' %}
    {% include 'perfect/partials/modal_filter_trigger.html' %}
    <a href="{% url 'addcharg_var' vehicule.pk %}" class="btn btn-default" style="color: #a83232;"><i style="font-size: 20px; color: rgba(168, 50, 50, 0.75);" class="fas fa-sync"></i></a>
{% endblock page_action %}
{% block main_content %}

<div class="col-md-12">
    <div class="pb-kpi-grid pb-kpi-grid--3">
        {% include 'perfect/partials/stats/kpi_card.html' with label="Aujourd'hui" subtitle="Charges variables" value=chargvar_jours_format unit="frs cfa" sublabel="Total du jour" icon="fa-clock" %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Mensuelle" subtitle="Charges variables" value=chargvar_mois_format unit="frs cfa" sublabel="Total du mois" icon="fa-calendar" %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Annuelle" subtitle="Charges variables" value=chargvar_an_format unit="frs cfa" sublabel="Total de l'année" icon="fa-calendar" %}
    </div>
</div>

{% include 'perfect/partials/modal_default.html' with modal_id='modal-sm' modal_title='Filtre' form=form submit_label='Afficher' %}

{% include 'perfect/partials/modal_default.html' with modal_id='modal-lg' modal_size='lg' modal_title='Enrégistrer une nouvelle charge variable' form_method='post' form_id='quickForm' enctype='multipart/form-data' body_template='perfect/partials/saisie/charge_compta_body.html' submit_label='Enregistrer' %}
{% url 'addcharg_var' vehicule.pk as saisie_reset_url %}
{% include 'perfect/partials/saisie/vehicule_live_search_panel.html' with panel_title='Changer de véhicule' reset_url=saisie_reset_url %}

<div class="col-md-12">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">Dernières charges variables saisies</span>
            </div>
            <div class="pb-panel__tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" aria-label="Réduire">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body pb-panel__body pb-panel__body--flush">
            {% if liste_chargvar %}
                <div class="pb-table-wrap">
                    <table id="example1" class="table pb-table">
                        <thead>
                            <tr>
                                <th>Immat</th>
                                <th>Libellé</th>
                                <th>Montant</th>
                                <th>Date saisie</th>
                                <th>Saisi par</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in liste_chargvar %}
                                <tr>
                                    <td><span class="pb-table__key">{{u.vehicule.immatriculation}}</span></td>
                                    <td>{{u.libelle}}</td>
                                    <td>{{u.montant}}</td>
                                    <td class="pb-table__muted">{{u.date_saisie|date:"d/m/Y"}} à {{u.date|date:"H:m:s"}}</td>
                                    <td class="pb-table__muted">{{u.auteur.username}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="pb-empty">
                    <i class="fas fa-inbox" aria-hidden="true"></i>
                    Aucune charge variable enregistrée pour le moment.
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main_content %}