{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %}Saisie & Etat des recettes  {% endblock title %} 

{% block page_title %}
    <a href="{% url 'saisi_compta' %}"><img class="profile-user-img" style="border:none; height:25px;width:25px" src="{% static 'retour.png' %}" alt="Retour"></a>
    <img class="profile-user-img" style="border:none; height:50px;width:55px" src="{% static 'recet.png' %}" alt="User profile picture">Saisie & Etat des recettes du <b class="text-danger"> {{vehicule}}</b> 
{% endblock page_title %}

{% block page_action %}
    <button type="button" class="btn btn-default text-primary" style="font-weight:700" data-toggle="modal" data-target="#modal-lg">Saisir <i class='fa fa-plus-square'></i></button>  
    <button type="button" class="btn btn-default text-info" data-toggle="modal" data-target="#modal-sm"><i style="font-size: 20px;" class="fa fa-calendar"></i></button>
    <a href="{% url 'add_recettes' vehicule.pk %}" class="btn btn-outline-info"><i class="fa fa-refresh"></i></a>
{% endblock page_action %}

{% block main_content %}

<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-clock" style="color:rgba(6, 73, 124, 0.54);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Aujourd'hui</span>
            <span class="info-box-number" style="font-size:20px; color: #fa7832">
            {{recette_jours_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>
<div class="clearfix hidden-md-up"></div>
<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box mb-3" style="border-radius:25px;">
    <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fa fa-calendar" style="color:rgba(6, 73, 124, 0.54);"></i></span>
    <div class="info-box-content">
        <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Mensuelle</span>
        <span class="info-box-number" style="font-size:20px; color: #fa7832">
        {{recette_mois_format}}
        <small>frs cfa</small>
        </span>
    </div>
    </div>
</div>
<div class="clearfix hidden-md-up"></div>
<div class="col-12 col-sm-6 col-md-4" >
    <div class="info-box mb-3" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-calendar" style="color:rgba(6, 73, 124, 0.54);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Annuelle</span>
            <span class="info-box-number" style="font-size:20px; color: #fa7832">
            {{recette_an_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-radius:25px;">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C;">FILTRE</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form id="basic-form" method="get" novalidate>
                        <div class="row clearfix">
                            <div class="col-12">
                                <label>Date debut </label>
                                <div class="form-group">                                    
                                    {{ form.date_debut }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label>Date fin</label>
                                <div class="form-group">                                    
                                    {{ form.date_fin }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between p-2">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-outline-success" >Afficher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius:25px;">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C;">Enrégistrer une nouvelle recette</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method='post' role="form" id="quickForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row card-body text-secondary">
                        <div class="col-md-6 col-sm-6  form-group">
                            <label for="fullname"><b>Chauffeur</b></label> {{forms.chauffeur}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Cpte comptable</b></label> {{forms.cpte_comptable}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>N°pièce</b></label> {{forms.Num_piece}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>N°facture</b></label> {{forms.numero_fact}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Date</b></label> {{forms.date_saisie}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Montant</b></label> {{forms.montant}}
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px" >
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);--webkit-backdrop-filter: blur(5.2px); border-radius:25px;">
                                <div class="card-header col-12 col-sm-12 col-md-12" style="font-size:18px; font-weight: 700; color: #06497C;">
                                    <form class="search-form">
                                        <div class="input-group">
                                            <input type="text" name="search" value="{{ search_query }}" class="form-control" placeholder="Saisissez l'immatriculation du véhicule..." style="border-radius: 50px 0 0 50px;">
                                            <div class="input-group-append">
                                            <button type="submit" name="submit" class="btn btn-danger" style="border-radius: 0 50px 50px 0;"><i class="fas fa-search"></i></button>
                                            {% comment %} <a href="{% url 'saisi_compta' %}" name="submit" class="btn btn-danger" style="border-radius: 0 50px 50px 0;"><i class="fas fa-refresh text-light"></i></a> {% endcomment %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="col-md-4">
                                    {% if vehicules %}
                                        {% for v in vehicules %}
                                            <div class="card card-widget widget-user" style="border-radius:25px; ">
                                                <div class="widget-user-header" style="border-radius:25px;">
                                                    <i class="fas fa-car" style="font-size: 80px; color:rgba(168, 168, 168, 0.46);"></i>
                                                    <h5 class="widget-user-desc">{{v.immatriculation}}</h5>
                                                    
                                                </div>
                                                <div class="card-footer p-0">
                                                  <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == "permrecette" %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "add recette" %}
                                                                        <a href="{% url perm.url v.pk %}" class="nav-link" title="Ajouter une recette">
                                                                            Recette
                                                                            <span class="float-right badge bg-primary"><i style="font-size: 20px;" class="fa fa-plus-circle"></i></span>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                    <li class="nav-item">
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == "permchargfix" %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "add charge fixe" %}
                                                                        <a href="{% url perm.url v.pk %}" class="nav-link" title="Ajouter une charge fixe">
                                                                            Charge fixe
                                                                            <span class="float-right badge bg-info"><i style="font-size: 20px;" class="fa fa-plus-circle"></i></span>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                    <li class="nav-item">
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == "permchargvar" %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "add charge variable" %}
                                                                        <a href="{% url perm.url v.pk %}" class="nav-link" title="Ajouter une charge variable">
                                                                            Charge variable
                                                                            <span class="float-right badge bg-success"><i style="font-size: 20px;" class="fa fa-plus-circle"></i></span>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                  </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        
                                    {% else %}
                                        <p>Aucun véhicule trouvé.</p>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);-webkit-backdrop-filter: blur(5.2px); border-radius:25px;">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class=" text-center text-danger ">
                                                <th>IMMAT</th>
                                                <th>CHAUFFEUR</th>
                                                <th>MONTANT</th>
                                                <th>DATE SAISIE</th>
                                                <th>SAISIR PAR</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            {% if liste_recette %} 
                                                {% for u in liste_recette %}
                                                    <tr class="text-center">
                                                        <td>
                                                            <a href="" class="mr-3 text-primary">{{u.vehicule.immatriculation}}</a>
                                                        </td>
                                                        <td>{{u.chauffeur}}</td>
                                                        <td>{{u.montant}}</td>
                                                        <td>{{u.date_saisie|date:"d/m/Y"}} à {{u.date|date:"H:m:s"}}</td>
                                                        <td>{{u.auteur.username}}</td>
                                                    </tr>
                                                {% endfor %} 
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}