{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %}Saisie & Etat des recettes  {% endblock title %} 

{% block page_title %}
    <a href="{% url 'saisi_compta' %}"><img class="profile-user-img" style="border:none; height:25px;width:25px" src="{% static 'retour.png' %}" alt="Retour"></a>
    <img class="profile-user-img" style="border:none; height:50px;width:55px" src="{% static 'recet.png' %}" alt="User profile picture">Saisie & Etat des recettes du <b style="color: #1a1a1a;"> {{vehicule}}</b> 
{% endblock page_title %}

{% block page_action %}
    {% include 'perfect/partials/modal_saisie_trigger.html' with label='Saisir' icon='fa-plus-square' %}  
    {% include 'perfect/partials/modal_filter_trigger.html' %}
    <a href="{% url 'add_recettes' vehicule.pk %}" class="btn btn-default" style="color: #a83232; border: 1px solid rgba(168, 50, 50, 0.35);"><i style="color: rgba(168, 50, 50, 0.75);" class="fas fa-sync"></i></a>
{% endblock page_action %}

{% block main_content %}

<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-money-bill-wave" style="color:rgba(168, 50, 50, 0.65);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #a83232;">Aujourd'hui</span>
            <span class="info-box-number" style="font-size:20px; color: #1a1a1a">
            {{recette_jours_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>
<div class="clearfix hidden-md-up"></div>
<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box mb-3" style="border-radius:25px;">
    <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fa fa-calendar" style="color:rgba(168, 50, 50, 0.65);"></i></span>
    <div class="info-box-content">
        <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #a83232;">Mensuelle</span>
        <span class="info-box-number" style="font-size:20px; color: #1a1a1a">
        {{recette_mois_format}}
        <small>frs cfa</small>
        </span>
    </div>
    </div>
</div>
<div class="clearfix hidden-md-up"></div>
<div class="col-12 col-sm-6 col-md-4" >
    <div class="info-box mb-3" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-calendar" style="color:rgba(168, 50, 50, 0.65);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #a83232;">Annuelle</span>
            <span class="info-box-number" style="font-size:20px; color: #1a1a1a">
            {{recette_an_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>

{% include 'perfect/partials/modal_default.html' with modal_id='modal-sm' modal_title='Filtre' form=form submit_label='Afficher' %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-lg' modal_size='lg' modal_title='Enrégistrer une nouvelle recette' form_method='post' form_id='quickForm' enctype='multipart/form-data' body_template='perfect/partials/saisie/recette_body.html' submit_label='Enregistrer' %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px" >
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);--webkit-backdrop-filter: blur(5.2px); border-radius:25px;">
                                <div class="card-header col-12 col-sm-12 col-md-12" style="font-size:18px; font-weight: 700; color: #a83232;">
                                    <form class="search-form">
                                        <div class="input-group">
                                            <input type="text" name="search" value="{{ search_query }}" class="form-control" placeholder="Saisissez l'immatriculation du véhicule..." style="border-radius: 50px 0 0 50px;">
                                            <div class="input-group-append">
                                            <button type="submit" name="submit" class="btn btn-danger" style="border-radius: 0 50px 50px 0;"><i class="fas fa-search"></i></button>
                                            {% comment %} <a href="{% url 'saisi_compta' %}" name="submit" class="btn btn-danger" style="border-radius: 0 50px 50px 0;"><i class="fas fa-refresh text-light"></i></a> {% endcomment %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="col-md-4">
                                    {% if vehicules %}
                                        {% for v in vehicules %}
                                            <div class="card card-widget widget-user" style="border-radius:25px; ">
                                                <div class="widget-user-header" style="border-radius:25px;">
                                                    <i class="fas fa-car" style="font-size: 80px; color:rgba(168, 168, 168, 0.46);"></i>
                                                    <h5 class="widget-user-desc">{{v.immatriculation}}</h5>
                                                    
                                                </div>
                                                <div class="card-footer p-0">
                                                  <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == "permrecette" %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "add recette" %}
                                                                        <a href="{% url perm.url v.pk %}" class="nav-link" title="Ajouter une recette">
                                                                            Recette
                                                                            <span class="float-right badge bg-primary"><i style="font-size: 20px;" class="fa fa-plus-circle"></i></span>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                    <li class="nav-item">
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == "permchargfix" %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "add charge fixe" %}
                                                                        <a href="{% url perm.url v.pk %}" class="nav-link" title="Ajouter une charge fixe">
                                                                            Charge fixe
                                                                            <span class="float-right badge bg-info"><i style="font-size: 20px;" class="fa fa-plus-circle"></i></span>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                    <li class="nav-item">
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == "permchargvar" %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "add charge variable" %}
                                                                        <a href="{% url perm.url v.pk %}" class="nav-link" title="Ajouter une charge variable">
                                                                            Charge variable
                                                                            <span class="float-right badge bg-success"><i style="font-size: 20px;" class="fa fa-plus-circle"></i></span>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                  </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        
                                    {% else %}
                                        <p>Aucun véhicule trouvé.</p>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);-webkit-backdrop-filter: blur(5.2px); border-radius:25px;">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class=" text-center text-danger ">
                                                <th>IMMAT</th>
                                                <th>CHAUFFEUR</th>
                                                <th>MONTANT</th>
                                                <th>DATE SAISIE</th>
                                                <th>SAISIR PAR</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            {% if liste_recette %} 
                                                {% for u in liste_recette %}
                                                    <tr class="text-center">
                                                        <td>
                                                            <a href="" class="mr-3" style="color: #a83232;">{{u.vehicule.immatriculation}}</a>
                                                        </td>
                                                        <td>{{u.chauffeur}}</td>
                                                        <td>{{u.montant}}</td>
                                                        <td>{{u.date_saisie|date:"d/m/Y"}} à {{u.date|date:"H:m:s"}}</td>
                                                        <td>{{u.auteur.username}}</td>
                                                    </tr>
                                                {% endfor %} 
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}