{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Alerte Garage {% endblock title %} 
{% block navbar_nav %}
{% endblock navbar_nav %} 
{% block page_title %}
    <img class="profile-user-img" style="border:none; height:50px;width:50px" src="{% static 'alerte.png' %}" alt="User profile picture"> Alerte Garage 
{% endblock page_title %} 
{% block page_a %}
{% endblock page_a %}
{% block main_content%}

<div class="col-md-12">
    <div class="card" style="color: #0176bf; border-radius: 20px; border-color: #00217b; font-weight: 700;">
        <div class="card-body table-responsive p-0" style="border-radius:8px; border:none">
            <table class="table table text-nowrap" >
                <tr style="border-color:red">
                    <div class="col-md-12">
                        <div class="row ">
                            <div class="col-md-2" >
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'visit.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                        <div style="font-size: 15px;color: #06497C">Visite</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ visites }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'clean.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Entretien{% if entr_all > 1  %}s{% endif %}</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ entr_all }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 7px; margin-left: 0px;" src="{% static 'assurance.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Assurance{% if assu_all > 1  %}s{% endif %}</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ assu_all }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'vignette.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Vignette{% if vign_all > 1  %}s{% endif %}</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ vign_all }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: px;" src="{% static 'gear.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Patente{% if pat_all > 1  %}s{% endif %}</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ pat_all}} 
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'update.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Stationnement{% if stat_all > 1  %}s{% endif %}</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">{{ stat_all }}  <small style="color: #06497C; font-weight: 700; line-height: 1;"></small></div>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);-webkit-backdrop-filter: blur(5.2px);">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <button type="button" class="btn btn-default text-danger" id="printButton">PDF <i class='fa fa-file-pdf-o'></i></button>
                                        <button type="button" class="btn btn-default text-success">Excell <i class='fa fa-file-excel-o'></i></button>
                                    </h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class="text-center text-danger">
                                                <th>IMMATRICULATION</th>
                                                <th>MARQUE</th>
                                                <th>VISITE</th>
                                                <th>ENTRETIEN</th>
                                                <th>ASSURANCE</th>
                                                <th>VIGNETTE</th>
                                                <th>PATENTE</th>
                                                <th>STATIONNEMENT</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                           {% if resultat_vehicule %}
                                            {% for v in resultat_vehicule %}
                                                <tr class="text-center">
                                                    <td><span  style="font-weight:700;"><a class="text-danger" href="" title="{{v.vehicule.category}}" >{{v.vehicule.immatriculation}}</a></span></td>
                                                    <td><span>{{v.vehicule.marque}}</span></td>
                                                    <td><span class="spinner p-2" style="color:white;font-weight:700;border-radius:50px; background-color: {{ v.alert_color }}">{{v.jours_restant}}</span></td>
                                                    <td><span class="spinner p-2" style="color:white;font-weight:700;border-radius:50px; background-color: {{ v.alert_ent_color }}">{{v.jours_ent_restant}}</span></td>
                                                    <td><span class="spinner p-2" style="color:white;font-weight:700;border-radius:50px; background-color: {{ v.alert_assu_color }}">{{v.jours_assu_restant}}</span></td>
                                                    <td><span class="spinner p-2" style="color:white;font-weight:700;border-radius:50px; background-color: {{ v.alert_vign_color }}">{{v.jours_vign_restant}}</span></td>
                                                    <td><span class="spinner p-2" style="color:white;font-weight:700;border-radius:50px; background-color: {{ v.alert_pate_color }}">{{v.jours_pate_restant}}</span></td>
                                                    <td><span class="spinner p-2" style="color:white;font-weight:700;border-radius:50px; background-color: {{ v.alert_cartsta_color }}">{{v.jours_cartsta_restant}}</span></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}