{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Alerte Garage {% endblock title %} 
{% block navbar_nav %}
{% endblock navbar_nav %} 
{% block page_title %}
    <img class="profile-user-img" style="border:none; height:50px;width:50px" src="{% static 'alerte.png' %}" alt="User profile picture"> Alerte Garage 
{% endblock page_title %} 
{% block page_action %}
    <form id="quickForm">
        {% comment %} <button type="button" class="btn btn-default text-danger" id="printButton">PDF <i class='fa fa-file-pdf-o'></i></button> {% endcomment %}
        {% comment %} <button type="button" class="btn btn-default text-success">Excell <i class='fa fa-file-excel-o'></i></button> {% endcomment %}
    </form>
{% endblock page_action %}
{% block main_content%}

<div class="col-md-12">
    <div class="pb-kpi-grid pb-kpi-grid--6">
        {% include 'perfect/partials/stats/kpi_card.html' with label="Visites" subtitle="Conformité" value=visites sublabel="Échéances en cours" icon_img='visit.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Entretiens" subtitle="Atelier" value=entr_all sublabel="Échéances en cours" icon_img='entret.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Assurances" subtitle="Conformité" value=assu_all unit="frs cfa" sublabel="Total période" icon_img='assurance.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Vignettes" subtitle="Conformité" value=vign_all unit="frs cfa" sublabel="Total période" icon_img='vignette.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Patentes" subtitle="Conformité" value=pat_all unit="frs cfa" sublabel="Total période" icon_img='gear.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Stationnements" subtitle="Exploitation" value=stat_all unit="frs cfa" sublabel="Total période" icon_img='update.png' %}
    </div>
</div>

<div class="col-md-12">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">Échéances par véhicule</span>
                <span class="pb-panel__hint">Jours restants avant expiration</span>
            </div>
            <div class="pb-panel__tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" aria-label="Réduire">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body pb-panel__body pb-panel__body--flush">
            <div class="pb-table-wrap">
                <table id="example1" class="table pb-table">
                    <thead>
                        <tr>
                            <th>Immat</th>
                            <th>Marque</th>
                            <th>Catégorie</th>
                            <th>Visite</th>
                            <th>Entretien</th>
                            <th>Assurance</th>
                            <th>Vignette</th>
                            <th>Patente</th>
                            <th>Stationnement</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if resultat_vehicule %}
                            {% for v in resultat_vehicule %}
                                <tr>
                                    <td><span class="pb-table__key" title="{{v.vehicule.category}}">{{v.vehicule.immatriculation}}</span></td>
                                    <td>{{v.vehicule.marque}}</td>
                                    <td class="pb-table__muted">{{v.vehicule.category}}</td>
                                    <td>
                                        {% if v.jours_restant == 0 %}
                                            <span class="badge badge-secondary">-</span>
                                        {% else %}
                                            <span class="badge badge-{{ v.alert_color }}">{{v.jours_restant}} jour{{ v.jours_restant|pluralize }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if v.jours_ent_restant == 0 %}
                                            <span class="badge badge-secondary">-</span>
                                        {% else %}
                                            <span class="badge badge-{{ v.alert_ent_color }}">{{v.jours_ent_restant}} jour{{ v.jours_ent_restant|pluralize }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if v.jours_assu_restant == 0 %}
                                            <span class="badge badge-secondary">-</span>
                                        {% else %}
                                            <span class="badge badge-{{ v.alert_assu_color }}">{{v.jours_assu_restant}} jour{{ v.jours_assu_restant|pluralize }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if v.jours_vign_restant == 0 %}
                                            <span class="badge badge-secondary">-</span>
                                        {% else %}
                                            <span class="badge badge-{{ v.alert_vign_color }}">{{v.jours_vign_restant}} jour{{ v.jours_vign_restant|pluralize }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if v.jours_pate_restant == 0 %}
                                            <span class="badge badge-secondary">-</span>
                                        {% else %}
                                            <span class="badge badge-{{ v.alert_pate_color }}">{{v.jours_pate_restant}} jour{{ v.jours_pate_restant|pluralize }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if v.jours_cartsta_restant == 0 %}
                                            <span class="badge badge-secondary">-</span>
                                        {% else %}
                                            <span class="badge badge-{{ v.alert_cartsta_color }}">{{v.jours_cartsta_restant}} jour{{ v.jours_cartsta_restant|pluralize }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="9" class="pb-empty">
                                    <i class="fas fa-inbox" aria-hidden="true"></i>
                                    Aucun véhicule trouvé
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}
