{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Meilleures recettes {% endblock title %}  
{% block page_title %}
    <a href="{% url 'dash' %}"><img class="profile-user-img" style="border:none; height:25px;width:25px" src="{% static 'retour.png' %}" alt="Retour"></a>
    <img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'recet.png' %}" alt="User profile picture">Meilleures recettes 
{% endblock page_title %} 

{% block page_action %}
    <form id="quickForm">
        <a class="btn btn-outline-info" data-toggle="modal" data-target="#modal-sm" href="#" style="font-size: 16px;"><i style="font-size: 20px;" class="fa fa-calendar"></i></a>
        <a class="btn btn-outline-info" href="{% url 'best_recets' %}" style="font-size: 16px;"><i style="font-size: 20px;" class="fa fa-refresh"></i></a>
        <a class="btn btn-outline-success" href="{% url 'export_best_recette_excel' %}?date_debut={{ form.date_debut.value }}&date_fin={{ form.date_fin.value }}&categorie={{ form.categorie.value }}">
            Excel <i class="fa fa-file-excel-o"></i>
        </a>
    </form>
{% endblock page_action %}
{% block main_content %}
<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-radius:25px;">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C; font-size:15px;">FILTRE</h4>
                <button type="button" style="border-radius:25px;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form id="basic-form" method="get" novalidate>
                        <div class="row clearfix">
                            <div class="col-12">
                                <label style="font-weight:700;color:rgba(152, 152, 152, 0.85); font-size:15px;">Date debut </label>
                                <div class="form-group">                                    
                                    {{ form.date_debut }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label style="font-weight:700;color: rgba(152, 152, 152, 0.85); font-size:15px;">Date fin</label>
                                <div class="form-group">                                    
                                    {{ form.date_fin }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label style="font-weight:700;color: rgba(152, 152, 152, 0.85); font-size:15px;">Categorie</label>
                                <div class="form-group">                                    
                                    {{ form.categorie }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-secondary" style="border-radius:25px;" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-outline-success" style="border-radius:25px;">Afficher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-clock" style="color:rgba(6, 73, 124, 0.54);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Aujourd'hui</span>
            <span class="info-box-number" style="font-size:20px; color: #fa7832;">
            {{recettes_jours_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>

<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box mb-3" style="border-radius:25px;">
    <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fa fa-calendar" style="color:rgba(6, 73, 124, 0.54);"></i></span>
    <div class="info-box-content">
        <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Mensuelle</span>
        <span class="info-box-number" style="font-size:20px; color: #fa7832;">
        {{recettes_mois_format}}
        <small>frs cfa</small>
        </span>
    </div>
    </div>
</div>

<div class="clearfix hidden-md-up"></div>
<div class="col-12 col-sm-6 col-md-4" >
    <div class="info-box mb-3" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-calendar" style="color:rgba(6, 73, 124, 0.54);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Annuelle</span>
            <span class="info-box-number" style="font-size:20px; color: #fa7832;">
            {{recettes_an_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);-webkit-backdrop-filter: blur(5.2px); border-radius:20px; " >
                                <form method="post" action="{% url 'delete_selected_recettes' %}" id="deleteForm">
                                    {% csrf_token %}
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Liste des meilleures recettes
                                        </h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                                <thead>
                                                    <tr class="text-center text-danger">
                                                        <th>IMMAT</th>
                                                        <th>CATEGORIE</th>
                                                        <th>MONTANT</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if best_recettes %} 
                                                        {% for u in best_recettes %}
                                                            <tr class="text-center">
                                                                <td>{{u.vehicule__immatriculation}}</td>
                                                                <td>{{u.vehicule__category__category}}</td>
                                                                <td>{{u.total_recette}}</td>
                                                            </tr>
                                                        {% endfor %} 
                                                    {% endif %}
                                                </tbody>
                                                <tfoot>
                                                    <tr class="text-center ">
                                                        <th>---</th>
                                                        <th>---</th>
                                                        <th>---</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('select-all').onclick = function() {
        let checkboxes = document.querySelectorAll('input[name="selected_recettes"]');
        for (let checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    };
</script>
{% endblock main_content %}