{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %}P&BEntreprise||Top réparations {% endblock title %}  
{% block page_title %}
    <a href="{% url 'dash' %}"><img class="profile-user-img" style="border:none; height:25px;width:25px" src="{% static 'retour.png' %}" alt="Retour"></a>
    <img class="profile-user-img" style="border:none; height:40px;width:40px" src="{% static 'clereparat.png' %}" alt="User profile picture">Top des réparations
{% endblock page_title %} 
{% block navbar_nav %}
{% endblock navbar_nav %}
{% block page_action %}
    {% include 'perfect/partials/modal_filter_trigger.html' %}
    <a class="btn btn-outline-info" href="{% url 'top_repa' %}" style="font-size: 16px;"><i style="font-size: 20px;" class="fas fa-sync"></i></a>
    <a class="btn btn-outline-success" href="{% url 'export_top_reparation_excel' %}?date_debut={{ form.date_debut.value }}&date_fin={{ form.date_fin.value }}&categorie={{ form.categorie.value }}&motif={{ form.motif.value }}">
        Excel <i class="fa fa-file-excel-o"></i>
    </a>
{% endblock page_action %}

{% block main_content %}

{% url 'top_repa' as filter_reset_url %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-sm' modal_title='Filtre' form=form reset_url=filter_reset_url submit_label='Afficher' %}

<div class="col-md-12">
    <div class="pb-kpi-grid pb-kpi-grid--4">
        {% include 'perfect/partials/stats/kpi_card.html' with label="Nombre Total" subtitle="Réparations" value=reparat_total sublabel="Effectif" icon="fa-tools" %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Aujourd'hui" subtitle="Réparations" value=reparat_jours_format unit="frs cfa" sublabel="Total du jour" icon="fa-clock" %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Mensuelle" subtitle="Réparations" value=reparat_mois_format unit="frs cfa" sublabel="Total du mois" icon="fa-calendar" %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Annuelle" subtitle="Réparations" value=reparat_an_format unit="frs cfa" sublabel="Total de l'année" icon="fa-calendar" %}
    </div>
</div>

<div class="col-md-12">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">Top des réparations</span>
                <span class="pb-panel__hint">{{ best_reparations|length }} véhicule{{ best_reparations|length|pluralize }} classé{{ best_reparations|length|pluralize }}</span>
            </div>
        </div>
        <form method="post" action="{% url 'delete_selected_recettes' %}" id="deleteForm">
            {% csrf_token %}
            <div class="card-body pb-panel__body pb-panel__body--flush">
                {% if best_reparations %}
                    <div class="pb-table-wrap">
                        <table id="example1" class="table pb-table">
                            <thead>
                                <tr>
                                    <th>Immat</th>
                                    <th>Catégorie</th>
                                    <th>Visite</th>
                                    <th>Panne</th>
                                    <th>Accident</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in best_reparations %}
                                    <tr>
                                        <td><span class="pb-table__key">{{u.vehicule__immatriculation}}</span></td>
                                        <td class="pb-table__muted">{{u.vehicule__category__category}}</td>
                                        <td>{{u.total_visite }}</td>
                                        <td>{{u.total_panne }}</td>
                                        <td>{{u.total_accident}}</td>
                                        <td>{{u.total_reparations }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="pb-empty">
                        <i class="fas fa-inbox" aria-hidden="true"></i>
                        Aucune réparation sur la période sélectionnée.
                    </p>
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script>
    var pbSelectAll = document.getElementById('select-all');
    if (pbSelectAll) pbSelectAll.onclick = function() {
        let checkboxes = document.querySelectorAll('input[name="selected_recettes"]');
        for (let checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    };
</script>
{% endblock main_content %}