{% extends 'perfect/bases.html' %} 
{% load static %} 
{% block title %} Meilleures recettes {% endblock title %}  
{% block page_title %}
    Bilan journalier
{% endblock page_title %} 
{% block search_form %}
<div class="col-sm-12 text-right mb-2">
    <a class="btn btn-default text-success" href="{% url 'export_bilanday_excel' %}{% if request.GET.date_debut and request.GET.date_fin %}?date_debut={{ request.GET.date_debut }}&date_fin={{ request.GET.date_fin }}{% endif %}" style="font-size: 16px;">
        <i class="fa fa-file-excel-o"></i> Exporter
    </a>
    <a class="btn btn-default text-info" data-toggle="modal" data-target="#modal-filtre-bilan" href="#" style="font-size: 16px;">
        <i class="fa fa-calendar"></i> Filtres (dates)
    </a>
    <a class="btn btn-default text-info" href="{% url 'bilanday' %}" style="font-size: 16px;">
        <i class="fas fa-sync"></i>
    </a>
</div>
<div class="modal fade" id="modal-filtre-bilan">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-radius:25px;">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C;">Période du bilan</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="get" action="{% url 'bilanday' %}" data-live-filter>
                    <div class="form-group">
                        <label>Date début</label>
                        {{ form.date_debut }}
                    </div>
                    <div class="form-group">
                        <label>Date fin</label>
                        {{ form.date_fin }}
                    </div>
                    <button type="submit" class="btn btn-primary">Afficher</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock search_form %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pb/css/bilan-day.css' %}">
{% endblock extra_css %}
{% block main_content %}
    <div class="col-md-12">
        <div class="card pb-panel">
            <div class="card-header pb-panel__header">
                <div class="pb-panel__heading">
                    <span class="pb-panel__title">Bilan journalier</span>
                    <span class="pb-panel__hint">{{ period_label }}</span>
                </div>
                <div class="pb-panel__tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" aria-label="Réduire">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body pb-panel__body pb-panel__body--flush">
                <div class="pb-table-wrap">
                    <table class="table pb-table">
                        <thead>
                            <tr>
                                <th colspan="2">Section &amp; intitulé</th>
                                <th colspan="2">Mouvements</th>
                                <th colspan="2">Tenue de compte : FCFA</th>
                            </tr>
                            <tr>
                                <th>Section</th>
                                <th>Intitulé de section</th>
                                <th class="pb-table__num">Débit</th>
                                <th class="pb-table__num">Crédit</th>
                                <th class="pb-table__num">Soldes</th>
                                <th class="pb-table__num">Exercice précédent</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ligne in lignes_bilan %}
                            <tr>
                                <td class="pb-table__muted">{{ ligne.section }}</td>
                                <td><span class="pb-table__key">{{ ligne.intitule }}</span></td>
                                <td class="pb-table__num">{{ ligne.debit_fmt }}</td>
                                <td class="pb-table__num">{{ ligne.credit_fmt }}</td>
                                <td class="pb-table__num">
                                    {% if ligne.solde_créditeur %}C-{{ ligne.solde_fmt }}{% elif ligne.solde_débiteur %}D-{{ ligne.solde_fmt }}{% else %}-{% endif %}
                                </td>
                                <td class="pb-table__num"></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="pb-empty">Aucune écriture sur cette période.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2" class="pb-table__num">Total</th>
                                <th class="pb-table__num">{{ total_debit_fmt }}</th>
                                <th class="pb-table__num">{{ total_credit_fmt }}</th>
                                <th class="pb-table__num">
                                    {% if solde_periode_crediteur %}C-{{ solde_periode_fmt }}{% else %}D-{{ solde_periode_fmt }}{% endif %}
                                </th>
                                <th class="pb-table__num"></th>
                            </tr>
                            <tr>
                                <th colspan="2">A reporter (résultat période)</th>
                                <th class="pb-table__num">{{ total_debit_fmt }}</th>
                                <th class="pb-table__num">{{ total_credit_fmt }}</th>
                                <th class="pb-table__num">
                                    {% if solde_periode_crediteur %}C-{{ solde_periode_fmt }}{% else %}D-{{ solde_periode_fmt }}{% endif %}
                                </th>
                                <th class="pb-table__num"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %} 