{% extends 'perfect/base.html' %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pb/css/reparation-form.css' %}?v=5">
{% endblock extra_css %}
{% block title %} Gestion des Catégories de Permissions {% endblock title %} 

{% block page_title %}
    <img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'agear.png' %}" alt="User profile picture">Gestion des Catégories
{% endblock page_title %} 

{% block page_action %}
    <form id="quickForm">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg" style="color: #a83232;">
            Nouvelle catégorie <i class="fa fa-plus-circle"></i>
        </button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-import" style="color: #a83232;">
            Importer <i class="fa fa-upload"></i>
        </button>
        <a href="{% url 'export_categories_excel' %}" class="btn btn-default" style="color: #a83232;">
            Excel <i class="fa fa-file-excel-o"></i>
        </a>
        <a href="{% url 'list_categories' %}" class="btn btn-default" style="color: #a83232;">
            <i class="fas fa-sync"></i>
        </a>
    </form>
{% endblock page_action %}

{% block main_content %}
{% url 'create_categorie' as create_categorie_action %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-lg' modal_size='lg' modal_title='Nouvelle catégorie' form_method='post' form_action=create_categorie_action form_id='permissionCategoryCreateForm' body_template='perfect/partials/saisie/permission_category_create_body.html' submit_label='Enregistrer' %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-import' modal_size='md' modal_title='Importer depuis Excel' form_method='post' form_action=create_categorie_action form_id='categorieImportForm' enctype='multipart/form-data' body_template='perfect/partials/saisie/categorie_perm_import_excel_body.html' submit_label='Importer' %}

<div class="col-md-12">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">Liste des catégories</span>
                <span class="pb-panel__hint">{{ categories|length }} catégorie{{ categories|length|pluralize }} enregistrée{{ categories|length|pluralize }}</span>
            </div>
            <div class="pb-panel__tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" aria-label="Réduire">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body pb-panel__body pb-panel__body--flush">
            {% if categories %}
                <div class="pb-table-wrap">
                    <table id="example1" class="table pb-table">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Libellé</th>
                                <th>Identifiant</th>
                                <th>Permissions</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categorie in categories %}
                                <tr>
                                    <td class="pb-table__muted">{{ forloop.counter }}</td>
                                    <td><span class="pb-table__key">{{ categorie.categorie }}</span></td>
                                    <td class="pb-table__muted"><code>{{ categorie.cid }}</code></td>
                                    <td><span class="badge badge-light">{{ categorie.cat_permis.count }}</span></td>
                                    <td class="text-center">
                                        <span class="pb-table__actions">
                                            <button type="button" class="pb-table__action" data-toggle="modal" data-target="#modal-update-{{ categorie.pk }}" title="Modifier">
                                                <i class="fas fa-pen" aria-hidden="true"></i>
                                            </button>
                                            <a href="{% url 'delete_categorie' categorie.pk %}" class="pb-table__action pb-table__action--danger" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie?');">
                                                <i class="fas fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="pb-empty">
                    <i class="fas fa-folder-open" aria-hidden="true"></i>
                    Aucune catégorie trouvée
                </p>
            {% endif %}
        </div>
    </div>
</div>

{% for categorie in categories %}
    <div class="modal fade pb-modal-default pb-modal-default--lg" id="modal-update-{{ categorie.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                {% include 'perfect/partials/categorie_perm_form.html' with object=categorie form=categorie.edit_form %}
            </div>
        </div>
    </div>
{% endfor %}
{% endblock main_content %}
