{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Tableau de bord {% endblock title %} 
{% block navbar_nav %}
    <a type="" class="btn text-danger" style="font-weight:700" data-toggle="modal" data-target="#modal-lg" title="Cliquer pour selectionner un véhicule">Statistique financière par vehicule <i class='fa fa-plus-square'></i></a>
{% endblock navbar_nav %} 
{% block page_a %}

{% endblock page_a %}
{% block page_title %}
    <img class="profile-user-img" style="border:none; height:50px;width:50px" src="{% static 'dash.png' %}" alt="User profile picture">Tableau de bord 
{% endblock page_title %} 
{% block active_page %} Tableau de bord {% endblock active_page %} 
{% block main_content%}
{% if user.user_type == '4' %}
{% else %}
<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C;">Selectionner un véhicule</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr class=" text-center text-danger ">
                                <th>IMMATRICULATION</th>
                                <th>MARQUE-CATEGORIE</th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% if vehicules %} 
                                {% for u in vehicules %}
                                    <tr class="text-center">
                                        <td><a href="{% url 'detavehi' u.pk %}" class="mr-3 text-primary">{{u.immatriculation}}</a></td>
                                        <td>{{u.immatriculation}}-{{u.category}}</td>
                                    </tr>
                                {% endfor %} 
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card" style="color: #0176bf; border-radius: 20px; border-color: #00217b; font-weight: 700;">
        <div class="card-body table-responsive p-0" style="border-radius:8px; border:none">
            <table class="table table text-nowrap">
                <tr>
                    <div class="col-md-12">
                        <div class="row bg-danger">
                            <div class="col-md-2">
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 4px;" src="{% static 'vtc.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                        <div style="font-size: 15px;color: #06497C">Recette VTC</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ total_recette_vtc_format }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 6px; margin-left: 0px;" src="{% static 'taxi.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Recette TAXI</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ total_recette_taxi_format }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 8px; margin-left: 3px;" src="{% static 'marge.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Marge de contribution</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ taux_marge }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;">%</small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 7px;" src="{% static 'brute.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Marge Brute</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ marge_brute_format }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px;margin-left: 0px;" src="{% static 'chargfix.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Charges Fixes</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">{{ tot_chargfix }} <small style="color: #06497C; font-weight: 700; line-height: 1;"></small></div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'chargfvar.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px; color: #06497C">Charges Variables</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ tot_chargvar }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 30px; width: 30px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'sum.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                        <div style="font-size: 15px; color: #06497C">Charges Totales</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ charge_totale }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'gear.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div class="mt-1" style="font-size:14px; font-weight: 700; line-height: 1;color: #06497C">Pièces réparations</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ tot_piece}} 
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 2px;" src="{% static 'update.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px; color: #06497C">Pièces changes</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ tot_piec_echang }}  
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- COURBES DE NIVEAUX -->
<div class="col-md-12">
    <div class="row">
        <!-- MEILLEUR RECETTE -->
        <div class="col-md-2">
            <div class="card card-outline" style="border-radius:20px">
                <div class="card-body box-profile">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="text-center" style="font-size:12px; font-weight: 700; line-height: 1; color:rgb(231, 0, 4); text-decoration: underline;">5 MEILLEURS DE {{mois|upper}}</div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 40px; width: 40px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-1 text-center">
                                            <img style="height: 25px; width: 25px; position:relative; margin-top: 8px;" src="{% static 'portefeuille.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size:16px; font-weight: 700; line-height: 1; color: #06497C; text-decoration: underline;">Recettes</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div style="display: flex;">
                                        <div class="text-center p-2 m-2">
                                            <div style="font-size:14px; color: #06497C; text-align: center;font-weight:700">
                                                {% if best_recettes %}
                                                    {% for r in best_recettes %}
                                                        <div class="d-flex justify-content-between mb-2">
                                                            <div class="mr-5">{{r.vehicule.immatriculation}}</div>
                                                            <div id="sous-total" class="text-end h6 mb-0 ms-auto">{{r.recs}}</div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <li>Vide...</li>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div style="display: flex;">
                                        <div style="height: 40px; width: 40px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-1 text-center">
                                            <img style="height: 25px; width: 25px; position:relative; margin-top: 8px;" src="{% static 'recet.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size:16px; font-weight: 700; line-height: 1; color: #06497C;text-decoration: underline;">M de contribution</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div style="display: flex; align-items: center;">
                                        <div>
                                            <div class="text-center p-2 m-2" style="font-size:15px; font-weight: 700; color: #06497C; text-align: center;">
                                                {% if bests_taux %}
                                                    {% for t in bests_taux %}
                                                        <div class="d-flex justify-content-between mb-2">
                                                            <div class="mr-5">{{t.vehicule.immatriculation}}</div>
                                                            <div id="sous-total" class="text-end h6 mb-0 ms-auto">{{t.taux}}</div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <li>Vide...</li>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN MEILLEUR RECETTE -->

        <!-- DEBUT COURBE -->
        <div class="col-md-5">
            <div class="" style="border-radius:20px">
                <div class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BAR -->
                                    <div class="card">
                                        <div class="card-header">Evolution des recettes
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body" style="background: rgba(255, 255, 255, 0.3);border-radius: 16px;box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                                        backdrop-filter: blur(8px);
                                        -webkit-backdrop-filter: blur(8px);">
                                            <div class="chart">
                                                <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                            </div>
                                            <script>
                                                const cta = document.getElementById('barChart').getContext('2d');
                                                const gradient = cta.createLinearGradient(0, 0, 0, 400); // Adjust the gradient orientation as needed
                                                gradient.addColorStop(0, 'rgb(23,84,133)'); // Start color
                                                gradient.addColorStop(1, 'rgb(154, 214, 241,.1)');

                                                const gradient6 = cta.createLinearGradient(0, 0, 0, 400);
                                                gradient6.addColorStop(0, 'rgb(0,77,64)'); // Start color54,192,186
                                                gradient6.addColorStop(1, 'rgb(0,77,64,0.1)'); 

                                                new Chart(cta, {
                                                    type: 'line',
                                                    data: {
                                                        labels: {{labels|safe}},
                                                        datasets: [{
                                                            label: 'Recette des vtc',
                                                            data: {{recet_mois_vtc_data}},
                                                            borderWidth: 2,
                                                            borderColor: 'rgb(23,84,133,.6)',
                                                            tension: 0.4,
                                                            fill: true,
                                                            backgroundColor: [
                                                                gradient,
                                                            ],
                                                        },{
                                                            label: 'Recette des taxi',
                                                            data: {{recet_mois_taxi_data}},
                                                            borderWidth: 2,
                                                            borderColor: gradient6,
                                                            tension: 0.4,
                                                            fill: true,
                                                            backgroundColor: [
                                                                gradient6,
                                                            ],
                                                        },]
                                                    },
                                                    options:{
                                                        scales:{
                                                            y:{
                                                                beginAtZero: true,
                                                                easing: 'linear',
                                                                from: 1,
                                                            }
                                                        }
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <!-- FIN BAR -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BAR -->
                                    <div class="card">
                                        <div class="card-header">
                                        Evolution des charges
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body" style="background: rgba(255, 255, 255, 0.3);border-radius: 16px;box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                                        backdrop-filter: blur(8px);
                                        -webkit-backdrop-filter: blur(8px);">
                                            <div class="chart">
                                                <canvas id="barCharts" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                            </div>
                                            <script>
                                                const cty = document.getElementById('barCharts').getContext('2d');
                                                const gradient1 = cty.createLinearGradient(0, 0, 0, 400);
                                                gradient1.addColorStop(0, 'rgb(183,28,28,.9)');
                                                gradient1.addColorStop(1, 'rgb(183,28,28,.6)');

                                                const gradient4 = cty.createLinearGradient(0, 0, 0, 400);
                                                gradient4.addColorStop(0, 'rgb(229,57,53)');
                                                gradient4.addColorStop(1, 'rgb(229,57,53,0.1)'); 

                                                const gradientvaritaxi = cty.createLinearGradient(0, 0, 0, 400);
                                                gradientvaritaxi.addColorStop(0, 'rgb(0,77,64)');
                                                gradientvaritaxi.addColorStop(1, 'rgb(0,77,64,0.1)'); 

                                                const gradientfixtaxi = cty.createLinearGradient(0, 0, 0, 400);
                                                gradientfixtaxi.addColorStop(0, 'rgb(32,201,151)');
                                                gradientfixtaxi.addColorStop(1, 'rgb(32,201,151,0.1)'); 

                                                new Chart(cty, {
                                                    type: 'bar',
                                                    data: {
                                                        labels: {{labels|safe}},
                                                        datasets: [{
                                                            label: 'fixes vtc',
                                                            data: {{chargfix_mois_vtc_data}},
                                                            borderWidth: 2,
                                                            borderColor: gradient1,
                                                            tension: 0.4,
                                                            fill: true,
                                                            backgroundColor: [
                                                                gradient1,
                                                            ],
                                                        },
                                                        {
                                                            label: 'variables vtc',
                                                            data: {{chargvar_mois_vtc_data}},
                                                            borderWidth: 2,
                                                            borderColor: gradient4,
                                                            tension: 0.4,
                                                            fill: true,
                                                            backgroundColor: [
                                                                gradient4,
                                                            ],
                                                        },
                                                        {
                                                            label: 'fixes taxi',
                                                            data: {{chargfix_mois_taxi_data}},
                                                            borderWidth: 2,
                                                            borderColor: gradientfixtaxi,
                                                            tension: 0.4,
                                                            fill: true,
                                                            backgroundColor: [
                                                                gradientfixtaxi,
                                                            ],
                                                        },
                                                        {
                                                            label: 'variables taxi',
                                                            data: {{chargvar_mois_taxi_data}},
                                                            borderWidth: 2,
                                                            borderColor: gradientvaritaxi,
                                                            tension: 0.4,
                                                            fill: true,
                                                            backgroundColor: [
                                                                gradientvaritaxi,
                                                            ],
                                                        },
                                                        ]
                                                    },
                                                    options: {
                                                        scales: {
                                                            y: {
                                                                beginAtZero: true
                                                            }
                                                        }
                                                    }
                                                });
                                            </script>

                                        </div>
                                    </div>
                                    <!-- FIN BAR -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="" style="border-radius:20px">
                <div class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BAR -->
                                    <div class="card">
                                        <div class="card-header">Evolution des taux
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body" style="background: rgba(255, 255, 255, 0.3);border-radius: 16px;box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                                        backdrop-filter: blur(8px);
                                        -webkit-backdrop-filter: blur(8px);">
                                            <div class="chart">
                                                <canvas id="lineCharts" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                            </div>
                                            <script>
                                                const ctz = document.getElementById('lineCharts').getContext('2d');
                                                const gradient7 = ctz.createLinearGradient(0, 0, 0, 400); // Adjust the gradient orientation as needed
                                                gradient7.addColorStop(0, 'rgb(255,193,7,.9)'); // Start color
                                                gradient7.addColorStop(1, 'rgb(255,193,7,.1)');

                                                const gradient8 = ctz.createLinearGradient(0, 0, 0, 400);
                                                gradient8.addColorStop(0, 'rgb(183,28,28)');
                                                gradient8.addColorStop(1, 'rgb(183,28,28,0.1)');
                                                new Chart(ctz, {
                                                    type: 'line',
                                                    data: {
                                                        labels: {{labels| safe}},
                                                        datasets: [{
                                                            label: 'Taux des Vtc',
                                                            data: {{taux_data_vtc}},
                                                            borderWidth: 2,
                                                            borderColor: 'rgb(255,193,7,.6)',
                                                            tension: 0.4,
                                                            fill: true,
                                                            backgroundColor: [
                                                                gradient7,
                                                            ],
                                                        },{
                                                            label: 'Taux des Taxi ',
                                                            data: {{taux_data_taxi}},
                                                            borderWidth: 2,
                                                            borderColor: gradient8,
                                                            tension: 0.4,
                                                            fill: true,
                                                            backgroundColor: [
                                                                gradient8,
                                                            ],
                                                        },]
                                                    },
                                                    options: {
                                                        scales: {
                                                            y: {
                                                                beginAtZero: true
                                                            }
                                                        }
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <!-- FIN BAR -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BAR -->
                                    <div class="card">
                                        <div class="card-header">
                                        Evolution des Pièces
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body" style="background: rgba(255, 255, 255, 0.3);border-radius: 16px;box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                                        backdrop-filter: blur(8px);
                                        -webkit-backdrop-filter: blur(8px);">
                                            <div class="chart">
                                                <canvas id="lineChartxy" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                            </div>
                                            <script>
                                                const ctxy = document.getElementById('lineChartxy').getContext('2d');
                                                const gradientpiecv = ctxy.createLinearGradient(0, 0, 0, 400);
                                                gradientpiecv.addColorStop(0, 'rgb(233,30,99)'); // Start color
                                                gradientpiecv.addColorStop(1, 'rgb(187,222,251,.1)');
                                                const gradientpiecta = ctxy.createLinearGradient(0, 0, 0, 400);
                                                gradientpiecta.addColorStop(0, 'rgb(255, 116, 139)');
                                                gradientpiecta.addColorStop(1, 'rgb(255, 116, 139,.1)'); // End color

                                                const gradientpiev = ctxy.createLinearGradient(0, 0, 0, 400);
                                                gradientpiev.addColorStop(0, 'rgb(244,81,30)'); // Start color54,192,186
                                                gradientpiev.addColorStop(1, 'rgb(244,81,30,0.1)'); 
                                                
                                                const gradientpieta = ctxy.createLinearGradient(0, 0, 0, 400);
                                                gradientpieta.addColorStop(0, 'rgb(255, 157, 61)');
                                                gradientpieta.addColorStop(1, 'rgb(255, 157, 61,0.1)'); // End color
                                                new Chart(ctxy, {
                                                    type: 'bar',
                                                    data: {
                                                        labels: {{labels|safe}},
                                                        datasets: [
                                                            {
                                                                label: 'Changées vtc',
                                                                data: {{piecha_mois_vtc_data}},
                                                                borderWidth: 2,
                                                                borderColor: gradientpiecv,
                                                                tension: 0.4,
                                                                fill: true,
                                                                backgroundColor: [
                                                                    gradientpiecv,
                                                                ],
                                                            }, 
                                                            {
                                                                type: 'bar',
                                                                label: 'réparation vtc',
                                                                data: {{piec_mois_vtc_data}},
                                                                backgroundColor: gradientpiecta,
                                                                borderColor: gradientpiecta,
                                                                borderWidth: 2,
                                                                fill: true,
                                                                tension: 0.4,
                                                            },
                                                            {
                                                                type: 'bar',
                                                                label: 'Changées taxi',
                                                                data: {{piecha_mois_taxi_data}},
                                                                backgroundColor: gradientpiev,
                                                                borderColor: gradientpiev,
                                                                borderWidth: 2,
                                                                fill: true,
                                                                tension: 0.4,
                                                            },
                                                            {
                                                                type: 'bar',
                                                                label: 'réparation taxi',
                                                                data: {{piec_mois_taxi_data}},
                                                                backgroundColor: gradientpieta,
                                                                borderColor: gradientpieta,
                                                                borderWidth: 2,
                                                                fill: true,
                                                                tension: 0.4,
                                                            },

                                                        ]
                                                    },
                                                    options: {
                                                        scales: {
                                                            y: {
                                                                beginAtZero: true
                                                            }
                                                        }
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <!-- FIN BAR -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock main_content %} 