{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Tableau de bord {% endblock title %} 

{% block page_title %}
    <img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'dash.png' %}" alt="User profile picture">Tableau de bord 
{% endblock page_title %} 

{% block page_action %}
    <form id="quickForm">
        {% include 'perfect/partials/modal_filter_trigger.html' %}
        <a class="btn btn-default text-info" href="{% url 'dash' %}" style="font-size: 16px;"><i style="font-size: 20px; color: var(--pb-primary);" class="fas fa-sync"></i></a>
    </form>
{% endblock page_action %}
{% block main_content%}

{% url 'dash' as dashboard_reset_url %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-sm' modal_title='Filtre' body_template='perfect/partials/filters/dashboard_filter_body.html' form=form reset_url=dashboard_reset_url submit_label='Appliquer' %}

<div class="col-md-12">
    <div class="card" style="color: #a83232; border-radius: 20px; border-color: #a83232; font-weight: 700;">
        <div class="card-body table-responsive stats-scroll p-0" style="border-radius:8px; border:none">
            <table class="table table text-nowrap">
                <tr>
                    <div class="col-md-12">
                        <div class="row bg-danger">
                            <div class="col-md-2">
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 55px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 40px; width: 40px; position:relative; margin-top: 9px; margin-left: 2px;" src="{% static 'recet.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                        <div style="font-size: 15px;color: #a83232">Recette</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #1a1a1a;">
                                                {{ total_recette_format }}
                                                <small style="color: #1a1a1a; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 55px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 30px; width: 30px; position:relative; margin-top: 13px; margin-left: 3px;" src="{% static 'marge.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #a83232">Marge de contribution</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #1a1a1a;">
                                                {{ taux_marge }}
                                                <small style="color: #1a1a1a; font-weight: 700; line-height: 1;">%</small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 55px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 40px; width: 40px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'brute.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #a83232">Marge coût direct</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #1a1a1a;">
                                                {{ marge_brute_format }}
                                                <small style="color: #1a1a1a; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 55px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 40px; width: 40px; position:relative; margin-top: 9px;margin-left: 0px;" src="{% static 'chargfix.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #a83232">Charges Fixes</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #1a1a1a;">{{ tot_chargfix }} <small style="color: #1a1a1a; font-weight: 700; line-height: 1;"></small></div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 55px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 40px; width: 40px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'chargvar.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px; color: #a83232">Charges Variables</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #1a1a1a;">
                                                {{ tot_chargvar }}
                                                <small style="color: #1a1a1a; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 55px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 40px; width: 40px; position:relative; margin-top: 8px; margin-left: 0px;" src="{% static 'sum.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                        <div style="font-size: 15px; color: #a83232">Charges Totales</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #1a1a1a;">
                                                {{ charge_totale }}
                                                <small style="color: #1a1a1a; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 55px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 40px; width: 40px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'gear.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div class="mt-1" style="font-size:14px; font-weight: 700; line-height: 1;color: #a83232">Pièces réparations garages</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #1a1a1a;">
                                                {{ tot_piece}} 
                                                <small style="color: #1a1a1a; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border: none;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 55px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 40px; width: 40px; position:relative; margin-top: 8px; margin-left: 0px;" src="{% static 'update.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px; color: #a83232">Pièces réparations rapides</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #1a1a1a;">
                                                {{ tot_piec_echang }}  
                                                <small style="color: #1a1a1a; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- COURBES DE NIVEAUX -->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="border-radius: 20px; border: 1px solid rgba(168, 50, 50, 0.2); box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.95)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 20px 20px 0 0;">
                    <div>
                        <strong style="font-size: 1.05rem; color: #a83232;">Evolution des recettes{% if chart_axis_hint %} (<small class="text-muted" style="font-size: 0.75rem; font-weight: normal;">{{ chart_axis_hint }}</small>){% endif %}</strong>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="barChart" style="min-height: 200px; height: 200px; max-height: 200px; max-width: 100%;"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    </div>
                    <script>
                        const cta = document.getElementById('barChart').getContext('2d');
                        const gradient = cta.createLinearGradient(0, 0, 0, 400);
                        gradient.addColorStop(0, 'rgba(168, 50, 50, 0.22)');
                        gradient.addColorStop(0.45, 'rgba(168, 50, 50, 0.08)');
                        gradient.addColorStop(1, 'rgba(168, 50, 50, 0.01)');

                        new Chart(cta, {
                            type: 'line',
                            data: {
                                labels: {{labels|safe}},
                                datasets: [{
                                    label: 'Recette',
                                    data: {{recet_mois_data}},
                                    borderWidth: 2,
                                    borderColor: 'rgb(168, 50, 50,.85)',
                                    tension: 0.4,
                                    fill: true,
                                    backgroundColor: [
                                        gradient,
                                    ],
                                },]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: {
                                        display: true,
                                        position: 'bottom',
                                        labels: {
                                            usePointStyle: true,
                                            boxWidth: 8,
                                            color: '#1a1a1a'
                                        }
                                    }
                                },
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        easing: 'linear',
                                        from: 1,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="border-radius: 20px; border: 1px solid rgba(168, 50, 50, 0.2); box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.95)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 20px 20px 0 0;">
                    <div>
                        <strong style="font-size: 1.05rem; color: #a83232;">Evolution des taux{% if chart_axis_hint %} (<small class="text-muted" style="font-size: 0.75rem; font-weight: normal;">{{ chart_axis_hint }}</small>){% endif %}</strong>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="lineCharts" style="min-height: 200px; height: 200px; max-height: 200px; max-width: 100%;"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    </div>
                    <script>
                        const ctz = document.getElementById('lineCharts').getContext('2d');
                        const gradient7 = ctz.createLinearGradient(0, 0, 0, 400);
                        gradient7.addColorStop(0, 'rgba(182, 81, 41, 0.22)');
                        gradient7.addColorStop(0.45, 'rgba(182, 81, 41, 0.08)');
                        gradient7.addColorStop(1, 'rgba(182, 81, 41, 0.01)');

                        new Chart(ctz, {
                            type: 'line',
                            data: {
                                labels: {{labels| safe}},
                                datasets: [{
                                    label: 'Taux',
                                    data: {{taux_data}},
                                    borderWidth: 2,
                                    borderColor: 'rgb(168, 50, 50,.85)',
                                    tension: 0.4,
                                    fill: true,
                                    backgroundColor: [
                                        gradient7,
                                    ],
                                },]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: {
                                        display: true,
                                        position: 'bottom',
                                        labels: {
                                            usePointStyle: true,
                                            boxWidth: 8,
                                            color: '#1a1a1a'
                                        }
                                    }
                                },
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="border-radius: 20px; border: 1px solid rgba(168, 50, 50, 0.2); box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.95)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 20px 20px 0 0;">
                    <div>
                        <strong style="font-size: 1.05rem; color: #a83232;">Recettes par catégorie ({% if selected_period == 'week' or radar_custom_week %}<small class="text-muted" style="font-size: 0.75rem; font-weight: normal;">Par jour — période de la semaine sélectionnée · </small>{% elif selected_period == 'custom' and not radar_follows_filter %}<small class="text-muted" style="font-size: 0.75rem; font-weight: normal;">Période personnalisée &gt; 7 jours — semaine en cours · </small>{% elif not radar_follows_filter %}<small class="text-muted" style="font-size: 0.75rem; font-weight: normal;">Semaine en cours · </small>{% endif %})</strong>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="barsChart" style="min-height: 200px; height: 200px; max-height: 200px; max-width: 100%;"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
                    </div>
                    <script>
                        const ctx = document.getElementById('barsChart').getContext('2d');
                        const basePalette = ['#a83232', '#1a1a1a', '#888', '#022e17', '#5f3a03', '#0d6efd', '#6f42c1'];
                        const datasets = ({{ datasets_json|safe }} || []).map((dataset, index) => {
                            const color = basePalette[index % basePalette.length];
                            const alphaColor = color === '#888' ? 'rgba(136, 136, 136, 0.28)' : `${color}40`;
                            return {
                                ...dataset,
                                borderColor: dataset.borderColor || color,
                                backgroundColor: dataset.backgroundColor || alphaColor,
                                pointBackgroundColor: dataset.pointBackgroundColor || color,
                                pointBorderColor: dataset.pointBorderColor || color,
                                pointHoverBackgroundColor: dataset.pointHoverBackgroundColor || color,
                                pointHoverBorderColor: dataset.pointHoverBorderColor || '#fff',
                                borderWidth: 2
                            };
                        });
                        const labels = {{ jours_semaine|safe }};
                        const ventesChart = new Chart(ctx, {
                            type: 'radar',
                            data: {
                                labels: labels,
                                datasets: datasets
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: {
                                        display: true,
                                        position: 'right',
                                        labels: {
                                            usePointStyle: true,
                                            boxWidth: 8,
                                            color: '#1a1a1a',
                                            padding: 10
                                        }
                                    },
                                    tooltip: {
                                        callbacks: {
                                            label: function(context) {
                                                const value = Number(context.raw || 0).toLocaleString('fr-FR');
                                                return `${context.dataset.label}: ${value} FCFA`;
                                            }
                                        }
                                    }
                                },
                                scales: {
                                    r: {
                                        beginAtZero: true,
                                        angleLines: { color: 'rgba(136, 136, 136, 0.25)' },
                                        grid: { color: 'rgba(136, 136, 136, 0.25)' },
                                        pointLabels: { color: '#1a1a1a' },
                                        ticks: {
                                            color: '#888',
                                            backdropColor: 'transparent',
                                            callback: function(value) {
                                                return Number(value).toLocaleString('fr-FR');
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="border-radius: 20px; border: 1px solid rgba(168, 50, 50, 0.2); box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.95)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 20px 20px 0 0;">
                    <div>
                        <strong style="font-size: 1.05rem; color: #a83232;">Evolution des charges{% if chart_axis_hint %} (<small class="text-muted" style="font-size: 0.75rem; font-weight: normal;">{{ chart_axis_hint }}</small>){% endif %}</strong>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="barCharts" style="min-height: 200px; height: 200px; max-height: 200px; max-width: 100%;"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    </div>
                    <script>
                        const cty = document.getElementById('barCharts').getContext('2d');
                        new Chart(cty, {
                            type: 'bar',
                            data: {
                                labels: {{labels|safe}},
                                datasets: [{
                                    label: 'Charges fixes',
                                    data: {{chargfix_mois_data}},
                                    borderWidth: 1,
                                    borderColor: 'rgba(168, 50, 50, 0.9)',
                                    backgroundColor: 'rgba(168, 50, 50, 0.16)',
                                    borderRadius: 12,
                                    borderSkipped: false,
                                    barThickness: 22,
                                },
                                {
                                    label: 'Charges variables',
                                    data: {{chargvar_mois_data}},
                                    borderWidth: 1,
                                    borderColor: 'rgba(26, 26, 26, 0.9)',
                                    backgroundColor: 'rgba(26, 26, 26, 0.22)',
                                    borderRadius: 12,
                                    borderSkipped: false,
                                    barThickness: 22,
                                },

                                ]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: {
                                        display: true,
                                        position: 'bottom',
                                        labels: {
                                            usePointStyle: true,
                                            boxWidth: 8,
                                            color: '#1a1a1a'
                                        }
                                    }
                                },
                                scales: {
                                    x: {
                                        grid: {
                                            display: false
                                        },
                                        ticks: {
                                            color: '#888'
                                        }
                                    },
                                    y: {
                                        beginAtZero: true,
                                        grid: {
                                            color: 'rgba(136, 136, 136, 0.22)'
                                        },
                                        ticks: {
                                            color: '#888'
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="border-radius: 20px; border: 1px solid rgba(168, 50, 50, 0.2); box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.95)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 20px 20px 0 0;">
                    <div>
                        <strong style="font-size: 1.05rem; color: #a83232;">Evolution des Pièces{% if chart_axis_hint %} (<small class="text-muted" style="font-size: 0.75rem; font-weight: normal;">{{ chart_axis_hint }}</small>){% endif %}</strong>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="lineChartxy" style="min-height: 200px; height: 200px; max-height: 200px; max-width: 100%;"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    </div>
                    <script>
                        const ctxy = document.getElementById('lineChartxy').getContext('2d');
                        new Chart(ctxy, {
                            type: 'bar',
                            data: {
                                labels: {{labels|safe}},
                                datasets: [
                                    {
                                        label: 'Réparation rapide',
                                        data: {{piecha_mois_data}},
                                        borderWidth: 1,
                                        borderColor: 'rgba(168, 50, 50, 0.9)',
                                        backgroundColor: 'rgba(168, 50, 50, 0.16)',
                                        borderRadius: 12,
                                        borderSkipped: false,
                                        barThickness: 22,
                                    },
                                    {
                                        type: 'bar',
                                        label: 'Réparation garage',
                                        data: {{piec_mois_data}},
                                        borderWidth: 1,
                                        borderColor: 'rgba(26, 26, 26, 0.9)',
                                        backgroundColor: 'rgba(26, 26, 26, 0.22)',
                                        borderRadius: 12,
                                        borderSkipped: false,
                                        barThickness: 22,
                                    },

                                ]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: {
                                        display: true,
                                        position: 'bottom',
                                        labels: {
                                            usePointStyle: true,
                                            boxWidth: 8,
                                            color: '#1a1a1a'
                                        }
                                    }
                                },
                                scales: {
                                    x: {
                                        grid: {
                                            display: false
                                        },
                                        ticks: {
                                            color: '#888'
                                        }
                                    },
                                    y: {
                                        beginAtZero: true,
                                        grid: {
                                            color: 'rgba(136, 136, 136, 0.22)'
                                        },
                                        ticks: {
                                            color: '#888'
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="border-radius: 20px; border: 1px solid rgba(168, 50, 50, 0.2); box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.95)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 20px 20px 0 0;">
                    <strong style="font-size: 1.05rem; color: #a83232;">Recette par catégorie</strong>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="lineaCharta" style="min-height: 200px; height: 200px; max-height: 200px; max-width: 100%;"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    </div>
                    <script>
                    const ctxRepartition = document.getElementById('lineaCharta').getContext('2d');
                    const repartitionColors = [
                        '168, 50, 50',
                        '26, 26, 26',
                        '136, 136, 136',
                        '2, 46, 23',
                        '95, 58, 3',
                        '168, 50, 50',
                    ];
                    const repartitionGradients = repartitionColors.map((color) => {
                        const gradient = ctxRepartition.createRadialGradient(150, 100, 35, 150, 100, 120);
                        gradient.addColorStop(0, `rgba(${color}, 0.02)`);
                        gradient.addColorStop(0.68, `rgba(${color}, 0.12)`);
                        gradient.addColorStop(1, `rgba(${color}, 0.42)`);
                        return gradient;
                    });
                    const repartitionChart = new Chart(ctxRepartition, {
                        type: 'doughnut',
                        data: {
                            labels: {{ labelscat|safe }},
                            datasets: [{
                                data: {{ datacat|safe }},
                                backgroundColor: repartitionGradients,
                                borderColor: repartitionColors.map((color) => `rgba(${color}, 0.75)`),
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        usePointStyle: true,
                                        boxWidth: 8,
                                        color: '#1a1a1a',
                                        padding: 10
                                    }
                                }
                            }
                        }
                    });
                </script>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card" style="border-radius: 20px; border: 1px solid rgba(168, 50, 50, 0.2); box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);">
                <div class="card-header d-flex align-items-center flex-nowrap w-100 dashboard-card-header-row" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.95)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 20px 20px 0 0;">
                    <strong style="font-size: 1.05rem; color: #a83232;" class="card-title mb-0 flex-grow-1">{{ best_recettes|length }} Meilleur{% if best_recettes|length > 1  %}s{% endif %} recette{% if best_recettes|length > 1  %}s{% endif %}</strong>
                    <div class="card-tools flex-shrink-0">
                        <a href="{% url 'best_recets' %}" class="btn btn-tool" style="color: #a83232;" title="Voir la liste des meilleures recettes">
                            Voir <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="products-list product-list-in-card dashboard-products-transparent-items pl-2 pr-2">
                        {% for c in best_recettes %}
                            <li class="item" style="font-size:15px;">
                                <div class="product-img">
                                    <a href="javascript:void(0)" class="product-title text-secondary">{{c.vehicule.immatriculation}}</a>
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        <span class="badge badge-light float-right p-2">- {{c.recs}} -</span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="border-radius: 20px; border: 1px solid rgba(168, 50, 50, 0.2); box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);">
                <div class="card-header d-flex justify-content-between align-items-center flex-wrap" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.95)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 20px 20px 0 0;">
                    <strong style="font-size: 1.05rem; color: #a83232;" class="card-title mb-0">{{ bests_taux|length }} Meilleur{% if bests_taux|length > 1  %}s{% endif %} Marge{% if bests_taux|length > 1  %}s{% endif %} de contribution</strong>
                </div>
                <div class="card-body p-0">
                    <ul class="products-list product-list-in-card dashboard-products-transparent-items pl-2 pr-2">
                        {% for c in bests_taux %}
                            <li class="item" style="font-size:15px;">
                                <div class="product-img">
                                    <a href="javascript:void(0)" class="product-title text-secondary">{{c.vehicule.immatriculation}}</a>
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        <span class="badge badge-light float-right p-2">- {{c.taux}} -</span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="border-radius: 20px; border: 1px solid rgba(168, 50, 50, 0.2); box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);">
                <div class="card-header d-flex align-items-center flex-nowrap w-100 dashboard-card-header-row" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.95)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 20px 20px 0 0;">
                    <strong style="font-size: 1.05rem; color: #a83232;" class="card-title mb-0 flex-grow-1">{{ top_reparations|length }} Véhicule{% if top_reparations|length > 1  %}s{% endif %} faisant le plus de réparation</strong>
                    <div class="card-tools flex-shrink-0">
                        <a href="{% url 'top_repa' %}" class="btn btn-tool" style="color: #a83232;" title="Voir la liste des meilleures recettes">
                            Voir <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="products-list product-list-in-card dashboard-products-transparent-items pl-2 pr-2">
                        {% for c in top_reparations %}
                            <li class="item" style="font-size:15px;">
                                <div class="product-img">
                                    <a href="javascript:void(0)" class="product-title text-secondary" style="font-size:15px;">{{c.vehicule__immatriculation}}</a>
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        <span class="badge badge-light float-right p-2">- {{c.total_reparations }} -</span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock main_content %}

{% block custom_js %}
<script>
(function () {
    const periodSelect = document.getElementById('period-select');
    const customFields = document.getElementById('custom-period-fields');
    if (!periodSelect || !customFields) return;

    function toggleCustomFields() {
        customFields.style.display = periodSelect.value === 'custom' ? 'block' : 'none';
    }
    periodSelect.addEventListener('change', toggleCustomFields);
    toggleCustomFields();
})();
</script>
{% endblock custom_js %}