{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Résumé de la réparation {% endblock title %}  
{% block page_title %}
<a href="{% url 'add_reparation' reparation.vehicule.pk %}"><img class="profile-user-img" style="border:none; height:35px;width:35px" src="{% static 'retour.png' %}" alt="Retour"></a>
<img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'addcar.png' %}" alt="User profile picture">
Résumé de la réparation du <b class="text-danger"> {{ reparation.vehicule.immatriculation }}</b> 
{% endblock page_title %} 

{% block page_action %}
<button onclick="window.print()" class="btn btn-outline-primary">🖨️ Imprimer</button>

{% endblock page_action %}
{% block main_content %}

<div class="col-md-12">
    <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(5.2px); -webkit-backdrop-filter: blur(5.2px);">
        <div class="card-header">
            <h3 class="card-title" style="font-weight:700;">
                FICHE DE REPARATION
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div style="display: flex; justify-content: space-between; align-items: flex-start; ">
                <!-- Coordonnées DEVH -->
                <div style="width: 60%;">
                    <img src="{% static 'pb_logo.png' %}" alt="Logo" style="width: 200px; height:70px"><br>
                    <strong>Tel : +225 27 21 73 78 96</strong><br>
                    <strong>Cel : +225 01 02 31 91 12</strong><br>

                    <strong>Email : pacomebertine@gmail.com</strong><br>
                    <strong>Adresse : 17 BP 204 ABIDJAN 17</strong><br>
                    <strong>RCCM : CI-ABJ-03-2019-B12-16714</strong>
                </div>
    
                <!-- Coordonnées Client -->
                <div style="width: 35%; text-align: right;">
                    Enregistrer par : <strong>{{ reparation.auteur.username|upper }}</strong><br>
                    le : <strong>{{reparation.date|date:"d/m/y"}}</strong><br>
                    à : <strong>{{reparation.date|date:"H:m:s"}}</strong>
                    <br>
                    <br>
                    <strong>Véhicule : {{reparation.vehicule.immatriculation}}</strong>
                    <br>
                    <strong>Catégorie: {{reparation.vehicule.category}}</strong>
                </div>
            </div>
            <br><br>
            <table id="example1" class="table table-bordered table-striped mt-4">
                <thead>
                    <tr>
                        <th colspan="12" style="color: rgb(3, 92, 159)">N° Fiche {{reparation.num_fich}}</th>
                    </tr>
                    <tr style="font-weight:700;color: rgb(3, 92, 159)">
                        <th>MOTIF</th>
                        <th>DATE ENTREE</th>
                        <th>DATE SORTIE</th>
                        <th>DUREE</th>
                        <th colspan="4">PERTE</th>
                        <th colspan="4">NETTE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-primary">{{reparation.motif}}</td>
                        <td>{{reparation.date_entree|date:"d/m/y à H:m:s"}}</td>
                        <td>{{reparation.date_sortie|date:"d/m/y à H:m:s"}}</td>
                        <td class="text-danger" style="font-weight:700;">{{duree_effective_heures}}</td>
                        <td colspan="4" class="text-danger" style="font-weight:700;">{{perte}} frs</td>
                        <td colspan="4" class="text-danger" style="font-weight:700;">{{recette_nette}} frs</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="color: rgb(3, 92, 159);">
                            Description
                        </td>
                        <td colspan="10">
                            {{reparation.description}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="color: rgb(3, 92, 159);">
                            Main d'oeuvre
                        </td>
                        <td colspan="10" class="text-danger" style="font-weight:700;">
                            {{reparation.prestation}} frs
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-secondary"></td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-secondary">
                           <b> LISTE DES PIECES POUR LA REPARATION</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <tr style="font-weight:700;color: rgb(3, 92, 159)">
                                <th colspan="2">LIBELLE</th>
                                <th colspan="2">LIEU</th>
                                <th colspan="2">QTE</th>
                                <th colspan="2">MONTANT</th>
                                <th colspan="2">TOTAL</th>
                                <th colspan="2">DATE SAISIE</th>
                            </tr>
                        </td>
                        {% if list_piece %}
                            {% for u in list_piece %}
                                <tr>
                                    <td colspan="2" class="text-">{{u.libelle}}</td>
                                    <td colspan="2" class="text-">{{u.lieu}}</td>
                                    <td colspan="2" class="text-">{{u.quantite}}</td>
                                    <td colspan="2" class="text-danger">{{u.montant}} frs</td>
                                    <td colspan="2" class="text-danger">{{u.prix_total}} frs</td>
                                    <td colspan="2" class="text-danger">{{u.date_saisie}} </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="12" class="text-secondary">Pas de pièce....</td>
                            </tr>
                        {% endif %} 
                    </tr>
                    <tr class="text-danger" style="font-weight:700;">
                        <td colspan="4">
                            TOTAL REPARATION
                        </td>
                        <td colspan="8">
                            {{reparation.montant}} frs
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-secondary"></td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-secondary">
                            {% if reparation.image %}
                                <img src="{{ reparation.image.url }}" style="height: 500px; width: 900px;">
                            {% else %}
                                <img src="{% static 'alto.png' %}" style="height: 100px; width: 130px;">
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}