{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Entrée de caisse {% endblock title %} 
{% block page_title %}
    <a href="{% url 'billetage' %}"><img class="profile-user-img" style="border:none; height:25px;width:25px" src="{% static 'retour.png' %}" alt="Retour"></a>
    <img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'dp.png' %}" alt="User profile picture">Saisie une entrée de caisse 
{% endblock page_title %} 

{% block page_action %}
    <form id="quickForm">
        <button type="button" class="btn btn-default text-primary" data-toggle="modal" data-target="#modal-lg">Saisie <i class="fa fa-plus-circle"></i></button>
        <a href="{% url 'export_encaissements' %}?date_debut={{ form.date_debut.value }}&date_fin={{ form.date_fin.value }}&immatriculation={{ form.immatriculation.value }}&categorie={{ form.categorie.value }}" class="btn btn-default text-success">
            Excel <i class="fa fa-file-excel-o"></i> 
        </a>
        <a class="btn btn-default text-info" data-toggle="modal" data-target="#modal-sm" href="#" style="font-size: 16px;"><i style="font-size: 20px;" class="fa fa-calendar"></i></a>
        <a class="btn btn-default text-info" href="{% url 'addencaisse' %}" style="font-size: 16px;"><i style="font-size: 20px;" class="fa fa-refresh"></i></a>
    </form>
{% endblock page_action %}
{% block main_content %}

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius:25px">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C; font-size:16px;">
                    Enrégistrer une entrée de caisse du <b class="text-danger">{{ dates|date:"d/m/y" }}</b>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" role="form" id="quickForm">
                    {% csrf_token %}
                    <div class="row card-body">
                        <div class="col-md-12">
                            <div class="text-right mb-3">
                                <button type="button" class="btn btn-primary" id="add-encaissement"
                                        style="position:absolute;right: -80px; top: 100px; z-index:1; border-radius: 50px;">
                                    <i class="fa fa-plus"></i> Ajouter
                                </button>
                            </div>
                            <div id="encaissement-formset-container">
                                {{ formset.management_form }}
                                {% for form in formset %}
                                    <div class="ligne-encaissement border p-3 mb-2 bg-light rounded">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form.Num_piece.label_tag }}
                                                {{ form.Num_piece }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form.libelle.label_tag }}
                                                {{ form.libelle }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.montant.label_tag }}
                                                {{ form.montant }}
                                            </div>
                                            <div class="col-md-1 d-flex align-items-end">
                                                <button type="button" class="btn btn-outline-danger btn-sm remove-encaissement">🗑</button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <hr class="col-md-12">
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">Annuler</button>
                        <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-radius:25px;">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C; font-size:15px;">FILTRE</h4>
                <button type="button" style="border-radius:25px;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form id="basic-form" method="get" novalidate>
                        <div class="row clearfix">
                            <div class="col-12">
                                <label style="font-weight:700;color:rgba(152, 152, 152, 0.85); font-size:15px;">Date debut </label>
                                <div class="form-group">                                    
                                    {{ form.date_debut }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label style="font-weight:700;color: rgba(152, 152, 152, 0.85); font-size:15px;">Date fin</label>
                                <div class="form-group">                                    
                                    {{ form.date_fin }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-secondary" style="border-radius:25px;" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-outline-success" style="border-radius:25px;">Afficher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-plus" style="color:rgba(6, 73, 124, 0.54);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Aujourd'hui</span>
            <span class="info-box-number" style="font-size:20px; color: #fa7832;">
            {{entret_jours_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>
<div class="clearfix hidden-md-up"></div>
<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-clock" style="color:rgba(6, 73, 124, 0.54);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Entrées mensuelle</span>
            <span class="info-box-number" style="font-size:20px; color: #fa7832;">
            {{entret_mois_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>
<div class="clearfix hidden-md-up"></div>
<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box mb-3" style="border-radius:25px;">
    <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fa fa-calendar" style="color:rgba(6, 73, 124, 0.54);"></i></span>
    <div class="info-box-content">
        <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Entrées annuelle</span>
        <span class="info-box-number" style="font-size:20px; color: #fa7832;">
        {{entret_an_format}}
        <small>frs cfa</small>
        </span>
    </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);-webkit-backdrop-filter: blur(5.2px); border-radius:25px">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class=" text-center text-danger">
                                                <th>N°#</th>
                                                <th>N°PIECE</th>
                                                <th>LIBELLE</th>
                                                <th>MONTANT</th>
                                                <th>DATE</th>
                                                <th>SAISIE PAR</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for e in entres_liste %}
                                                <tr class="text-center">
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{e.Num_piece}}</td>
                                                    <td><a class="text-primary" type="button" data-toggle="tooltip" data-placement="top" title="{{e.libelle}}">{{e.libelle|slice:":100"}}{% if e.libelle|length > 70 %}...{% endif %}</a></td>
                                                    <td>{{e.montant}}</td>
                                                    <td>{{e.date_saisie|date:"d-m-y"}} à {{e.date|date:"H:m:s"}}</td>
                                                    <td>
                                                        <a class="mr-3 text-primary">{{e.auteur.username}}</a>
                                                    </td>
                                                    <td class="text-center">
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == 'permencais' %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "mod entrée caisse" %}
                                                                        <a href="#" class="edit-entre-btn" data-url="{% url 'updat_encaisse' e.pk %}">
                                                                            <i style="font-size: 20px;" class="fa fa-edit text-warning"></i>
                                                                        </a>
                                                                    {% elif perm.name == "sup entrée caisse" %}
                                                                        <a href="{% url perm.url e.pk %}" class="text-primary" onclick="return confirm('Etes-vous sûre de vouloir supprimer cette entrée de caisse de {{ e.montant }}frs - {{ e.date_saisie|date:"d-m-y" }} ? Toutes les informations liées seront supprimées.')">
                                                                            <i style="font-size: 20px;" class="fa fa-trash text-danger"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editEntreModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius:20px;">
            <div class="modal-body" id="modalBodyContent">

            </div>
        </div>
    </div>
</div>

{% block custom_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const formsetContainer = document.getElementById('encaissement-formset-container');
            const addButton = document.getElementById('add-encaissement');
            const totalForms = document.querySelector('#id_form-TOTAL_FORMS'); // vérifier le préfixe

            addButton.addEventListener('click', function () {
            const currentFormCount = parseInt(totalForms.value);
            const firstForm = formsetContainer.querySelector('.ligne-encaissement');
            if (!firstForm) return;

            const newForm = firstForm.cloneNode(true);

            newForm.querySelectorAll('input, select, textarea').forEach(function (input) {
                input.value = '';
            });

            newForm.querySelectorAll('input, select, textarea').forEach(function (input) {
                if (input.name) {
                input.name = input.name.replace(/-\d+-/, `-${currentFormCount}-`);
                }
                if (input.id) {
                input.id = input.id.replace(/-\d+-/, `-${currentFormCount}-`);
                }
            });

            totalForms.value = currentFormCount + 1;
            formsetContainer.appendChild(newForm);
            });

            formsetContainer.addEventListener('click', function (e) {
            if (e.target && e.target.classList.contains('remove-encaissement')) {
                const ligne = e.target.closest('.ligne-encaissement');
                ligne.remove();
                updateFormIndexes();
            }
            });

            function updateFormIndexes() {
            const forms = document.querySelectorAll('.ligne-encaissement');
            forms.forEach(function (form, index) {
                form.querySelectorAll('input, select, textarea').forEach(function (input) {
                if (input.name) {
                    input.name = input.name.replace(/-\d+-/, `-${index}-`);
                }
                if (input.id) {
                    input.id = input.id.replace(/-\d+-/, `-${index}-`);
                }
                });
            });
            totalForms.value = forms.length;
            }
        });
    </script>
{% endblock custom_js %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on("click", ".edit-entre-btn", function(e) {
        e.preventDefault();
        let url = $(this).data("url");
        $.get(url, function(data) {
            $("#modalBodyContent").html(data);
            $("#editEntreModal").modal("show");
        });
    });
    $(document).on("submit", "#encaisUpdateForm", function(e) {
        e.preventDefault();
        let form = $(this);
        let url = form.attr("action");
        let formData = new FormData(this);
        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                if (data.success) {
                    $("#editEntreModal").modal("hide");
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                    Toast.fire({
                        type: 'success',
                        title: data.message
                    });
                    setTimeout(function() {
                        location.reload();
                    }, 500);
                } else {
                    $("#modalBodyContent").html(data);
                }
            }
        });
    });    
</script>
{% endblock main_content %}