{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Historique des véhicules {% endblock title %} 

{% block page_title %}
    <img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'addcar.png' %}" alt="User profile picture">Historique des véhicules
{% endblock page_title %} 
{% block page_action %}
    <form id="quickForm">
        <a href="{% url 'export_historique_vehicule_excel' %}?date_debut={{ request.GET.date_debut }}&date_fin={{ request.GET.date_fin }}&immatriculation={{ request.GET.immatriculation }}&categorie={{ request.GET.categorie }}&marque={{ request.GET.marque }}&motif_sorti={{ request.GET.motif_sorti }}&annee_sortie={{ request.GET.annee_sortie }}&annee_enregistrement={{ request.GET.annee_enregistrement }}&history_type={{ request.GET.history_type }}" class="btn btn-default" style="color: #a83232;">
            Excel <i class="fa fa-file-excel-o"></i>
        </a>
        {% include 'perfect/partials/modal_filter_trigger.html' %}
        <a class="btn btn-default" style="font-size: 16px; color: #a83232;" href="{% url 'historique_vehicule' %}"><i style="font-size: 20px;" class="fas fa-sync"></i></a>
    </form>
{% endblock page_action %}

{% block main_content %}

{% url 'historique_vehicule' as filter_reset_url %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-sm' modal_size='lg' modal_title='Filtre' body_template='perfect/partials/filters/historique_vehicule_filter_body.html' form=form reset_url=filter_reset_url submit_label='Afficher' %}

<div class="col-md-12">
    <div class="pb-kpi-grid pb-kpi-grid--4">
        {% with categories_pluriel=categories|length|pluralize %}{% include 'perfect/partials/stats/kpi_card.html' with label="Catégorie"|add:categories_pluriel subtitle="Parc véhicules" value=categories|length sublabel="Effectif" icon_img='categ.png' %}{% endwith %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Total Véhicules parc" subtitle="Parc véhicules" value=total_veh sublabel="Véhicules en parc" icon_img='summ.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Total Véhicules hors parc" subtitle="Parc véhicules" value=total_veh_hors_parc sublabel="Véhicules sortis" icon_img='summ.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Coût total" subtitle="Parc véhicules" value=cout_total unit="cfa" sublabel="Coût d'acquisition" icon="fa-coins" %}
    </div>
</div>

<div class="col-md-12">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">Journal des véhicules</span>
                <span class="pb-panel__hint">{{ liste_vehicules|length }} mouvement{{ liste_vehicules|length|pluralize }} sur la période</span>
            </div>
            <div class="pb-panel__tools">
                <a href="#" class="pb-panel__action" data-toggle="modal" data-target="#modal-sm">
                    Filtrer <i class="fas fa-sliders-h" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card-body pb-panel__body pb-panel__body--flush">
            {% if liste_vehicules %}
                <div class="pb-table-wrap">
                    <table id="example1" class="table pb-table">
                        <thead>
                            <tr>
                                {% if request.user.is_superuser %}<th>Type</th>{% endif %}
                                <th>Immat</th>
                                <th>Marque</th>
                                <th>Catégorie</th>
                                <th>Coût</th>
                                <th>Durée</th>
                                <th>Âge</th>
                                <th>Statut</th>
                                <th>Motif sortie</th>
                                <th>Date saisie</th>
                                <th>Auteur</th>
                                <th>Date historique</th>
                                <th>Utilisateur</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in liste_vehicules %}
                                <tr>
                                    {% if request.user.is_superuser %}
                                        <td>
                                            {% if u.history_type == '+' %}
                                                <span class="badge badge-success">Créé</span>
                                            {% elif u.history_type == '~' %}
                                                <span class="badge badge-warning">Modifié</span>
                                            {% elif u.history_type == '-' %}
                                                <span class="badge badge-danger">Supprimé</span>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td><span class="pb-table__key">{{ u.immatriculation|default:"N/A" }}</span></td>
                                    <td>{{ u.marque|default:"N/A" }}</td>
                                    <td class="pb-table__muted">{% if u.category %}{{ u.category }}{% else %}N/A{% endif %}</td>
                                    <td>{{ u.cout_acquisition }}</td>
                                    <td class="pb-table__muted">{{ u.duree }}</td>
                                    <td>
                                        {% if u.calculated_age %}
                                            <span class="badge badge-{{ u.calculated_color_age|default:'info' }}">{{ u.calculated_age }} ans</span>
                                        {% else %}
                                            <span class="pb-table__muted">N/A</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if u.car_statut %}
                                            <span class="badge badge-success">En parc</span>
                                        {% else %}
                                            <span class="badge badge-danger">Hors parc</span>
                                        {% endif %}
                                    </td>
                                    <td class="pb-table__muted">{{ u.motif_sorti|default:"N/A" }}</td>
                                    <td class="pb-table__muted">{{ u.date_saisie|date:"d-m-y"|default:"N/A" }}</td>
                                    <td class="pb-table__muted">{% if u.auteur %}{{ u.auteur.username }}{% else %}N/A{% endif %}</td>
                                    <td class="pb-table__muted">{{ u.history_date|date:"d-m-y H:i"|default:"N/A" }}</td>
                                    <td class="pb-table__muted">{% if u.history_user %}{{ u.history_user.username }}{% else %}N/A{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="pb-empty">
                    <i class="fas fa-clock-rotate-left" aria-hidden="true"></i>
                    Aucun mouvement ne correspond aux filtres sélectionnés.
                </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock main_content %}
