{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Table des vignettes {% endblock title %} 
{% block navbar_nav %}

{% endblock navbar_nav %} 
{% block page_title %}
<img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'addcar.png' %}" alt="User profile picture">Liste des vignettes 
{% endblock page_title %} 
{% block page_a %}
{% endblock page_a %}
{% block active_page %} Vignettes {% endblock active_page%}
{% block main_content %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline" style="border-radius:20px">
                <div class="card-body box-profile">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-2">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a title="Cliquer pour accéder à la liste" href=""><img style="height: 40px; width: 40px; position:relative; margin-top: 7px;" src="{% static 'recet.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="color: #06497C; font-weight: 700;font-size:14px">Total Assurance</div>
                                            <div style="font-size:20px; font-weight: 700; line-height: 1; color:rgb(255, 123, 0)">{{vignette_jour}}</div>
                                            <div style="color: #06497C; font-weight: 700;font-size:12px">{{dates|date:'d-m-y'}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mt-1">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a><img style="height: 40px; width: 40px; position:relative; margin-top: 6px;" src="{% static 'taxi.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="color: #06497C; font-weight: 700;font-size:14px">TAXI</div>
                                            <div style="font-size:20px; font-weight: 700; line-height: 1; color:rgb(255, 123, 0)">{{vignette_jour_taxi}}</div>
                                            <div style="color: #06497C; font-weight: 700;font-size:12px">{{dates|date:'d-m-y'}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mt-1">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a><img style="height: 40px; width: 40px; position:relative; margin-top: 8px;" src="{% static 'vtc.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="color: #06497C; font-weight: 700;font-size:14px">VTC </div>
                                            <div style="font-size:20px; font-weight: 700; line-height: 1; color:rgb(255, 123, 0)">{{vignette_jour_vtc}}</div>
                                            <div style="color: #06497C; font-weight: 700;font-size:12px">{{dates|date:'d-m-y'}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mt-1">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a><img style="height: 40px; width: 40px; position:relative; margin-top: 6px;" src="{% static 'taxi.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="color: #06497C; font-weight: 700;font-size:14px">TAXI </div>
                                            <div style="font-size:20px; font-weight: 700; line-height: 1; color:rgb(255, 123, 0)">{{vignette_mois_taxi}} <small></small></div>
                                            <div style="color: #06497C; font-weight: 700;font-size:12px">{{libelles_mois}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mt-1">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a title="Cliquer pour accéder à la liste"><img style="height: 40px; width: 40px; position:relative; margin-top: 8px;" src="{% static 'vtc.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="color: #06497C; font-weight: 700;font-size:14px">VTC</div>
                                            <div style="font-size:20px; font-weight: 700; line-height: 1; color:rgb(255, 123, 0)">{{vignette_mois_vtc}} <small></small></div>
                                            <div style="color: #06497C; font-weight: 700;font-size:12px">{{libelles_mois}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mt-1">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a title="Cliquer pour accéder à la liste"><img style="height: 40px; width: 40px; position:relative; margin-top: 9px;" src="{% static 'calendar.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="color: #06497C; font-weight: 700;font-size:14px">Total de {{libelles_mois}}</div>
                                            <div style="font-size:20px; font-weight: 700; line-height: 1; color:rgb(255, 123, 0)">{{vignette_mois_all}} <small> </small></div>
                                            <div style="color: #06497C; font-weight: 700;font-size:12px">{{annees}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-2">
    <div class="card card-outline" style="border-radius:20px">
        <div class="card-body box-profile">
            <div class="row p-0 m-0">
                <div class="col-md-12 p-0">
                    <div class="text-center" style="font-size:17px; font-weight: 700; line-height: 1; color: #8b1516; text-decoration: underline;">Resultat du filtre</div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div style="display: flex; align-items: center;">
                                <div style="height: 40px; width: 40px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-1 text-center">
                                    <img style="height: 25px; width: 25px; position:relative; margin-top: 8px;" src="{% static 'vtc.png' %}" alt="" srcset="">
                                </div>
                                <div>
                                    <div style="font-size:16px; font-weight: 700; line-height: 1; color: #06497C; text-decoration: underline;">VTC</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="display: flex; align-items: center;">
                                <div class="text-center p-1 m-2">
                                    <div class="text-center" style="font-size:16px; color: #06497C; text-align: center;font-weight:700">
                                        <li>{{vignette_an_fil_vtc}} </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="display: flex; align-items: center;">
                                <div style="height: 40px; width: 40px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-1 text-center">
                                    <img style="height: 25px; width: 25px; position:relative; margin-top: 8px;" src="{% static 'taxi.png' %}" alt="" srcset="">
                                </div>
                                <div>
                                    <div style="font-size:16px; font-weight: 700; line-height: 1; color: #06497C;text-decoration: underline;">TAXI</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="display: flex; align-items: center;">
                                <div class="text-center p-1 m-2">
                                    <div class="text-center" style="font-size:16px; color: #06497C; text-align: center;font-weight:700">
                                        <li>{{vignette_an_fil_taxi}} </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="display: flex; align-items: center;">
                                <div class="text-center m-2">
                                    <div class="text-center" style="font-size:16px; color: #06497C; text-align: center;font-weight:400">
                                        -------------------------------
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="display: flex; align-items: center;">
                                <div class="text-center m-2">
                                    <div class="text-center" style="font-size:16px; color: #06497C; text-align: center;font-weight:700">
                                        = {{vignette_all}} 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- FIN MEILLEUR RECETTE -->
<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);-webkit-backdrop-filter: blur(5.2px);">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <button type="button" class="btn btn-default text-danger" id="printButton">PDF <i class='fa fa-file-pdf-o'></i></button>
                                        <button type="button" class="btn btn-default text-success">Excell <i class='fa fa-file-excel-o'></i></button>
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class=" text-center text-danger ">
                                                <th>IMMAT</th>
                                                <th>MARQUE</th>
                                                <th>CATEGORIE</th>
                                                <th>MONTANT</th>
                                                <th>DATE VISITE</th>
                                                <th>PROCHAINE VISITE</th>
                                                <th>SAISIE PAR</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            {% if list_vignette %} 
                                                {% for u in list_vignette %}
                                                    <tr class="text-center">
                                                        <td>
                                                            <a class="mr-3 text-primary">{{u.vehicule.immatriculation}}</a>
                                                        </td>
                                                        <td>{{u.vehicule.marque}}</td>
                                                        <td>{{u.vehicule.category}}</td>
                                                        <td>{{u.montant}}</td>
                                                        <td>{{u.date_saisie|date:"d-m-y"}}</td>
                                                        <td>{{u.date_proch|date:"d-m-y"}}</td>
                                                        <td>{{u.auteur.username}}</td>
                                                        <td class="text-center">
                                                            {% for categorie, perms in grouped_permissions.items %}
                                                                {% if categorie.categorie == 'permvign' %}
                                                                    {% for perm in perms %}£
                                                                        {% if perm.name == "modifier vignette" %}
                                                                            <a href="{% url perm.url u.pk %}" class="text-primary">
                                                                                <i style="font-size: 20px;" class="fa fa-edit text-warning"></i>
                                                                            </a>
                                                                        {% elif perm.name == "sup vignette" %}
                                                                            <a href="{% url perm.url u.pk %}" class="text-primary" onclick="return confirm('Etes-vous sûre de vouloir supprimer la recette de {{ u.montant }} du {{ u.vehicule.immatriculation }} saisie le {{ u.date_saisie|date:"d-m-y" }}? Toutes les informations liées seront supprimées.')">
                                                                                <i style="font-size: 20px;" class="fa fa-trash text-danger"></i>
                                                                            </a>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                {% endfor %} 
                                            {% endif %}
                                        </tbody>
                                        <tfoot>
                                            <tr class="text-center ">
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}