{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Tableau de bord {% endblock title %} 
{% block navbar_nav %}
<li class="nav-item d-none d-sm-inline-block">
    <a href="index3.html" style="font-weight: 700; color: #06497C;" class="nav-link">
        <i class="fa fa-shopping-cart" style="font-size: 22px; color: #06497C; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i> Charge Fixe: 10.925.612 </a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a href="#" style="font-weight: 700; color: #06497C;" class="nav-link"><i class="fa fa-cart-arrow-down" style="font-size: 22px; color: #06497C; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"></i> Charge Variable:</a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a href="#" style="font-weight: 700; color: #06497C;" class="nav-link"><i style="font-size: 22px; color: #06497C; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" class="fa fa-gears"></i> Pièces:</a>
</li>
{% endblock navbar_nav %} 
{% block page_title %}
<img class="profile-user-img" style="border:none; height:65px;width:65px" src="{% static 'stat_car.png' %}" alt="User profile picture">Statistique Par véhicule 
{% endblock page_title %} 
{% block page_a %}
{% endblock page_a %}
{% block active_page %} Tableau de bord {% endblock active_page %}
{% block main_content%}
<div class="col-md-12">
    {% comment %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-outline" style="border-radius:20px">
                <div class="card-body box-profile">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a href=""><img style="height: 40px; width: 40px; position:relative; margin-top: 5px;" src="{% static 'recet.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="font-size:25px; font-weight: 700; line-height: 1; color: #06497C;">100.000.000 <small>Frscfa</small></div>
                                            <div>Recette</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="display: flex; align-items: center;">

                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a href=""><img style="height: 40px; width: 40px; position:relative; margin-top: 5px;" src="{% static 'marge.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="font-size:25px; font-weight: 700; line-height: 1; color: #06497C;">80 <small>%</small></div>
                                            <div>Marge de Contribution</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-outline" style="border-radius:20px">
                <div class="card-body box-profile">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a href=""><img style="height: 40px; width: 40px; position:relative; margin-top: 5px;" src="{% static 'som.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="font-size:25px; font-weight: 700; line-height: 1; color: #06497C;">100.000.000 <small>Frscfa</small></div>
                                            <div>Charges Totales</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a href=""><img style="height: 40px; width: 40px; position:relative; margin-top: 5px;" src="{% static 'brute.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div style="font-size:25px; font-weight: 700; line-height: 1; color: #06497C;">100.000.000 <small>Frscfa</small></div>
                                            <div>Marge Brute</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
</div>

<!-- COURBES DE NIVEAUX -->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="background: rgba(255, 255, 255, 0.21);
                            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                            backdrop-filter: blur(5.2px);
                            -webkit-backdrop-filter: blur(5.2px);">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <button type="button" class="btn btn-default" >PDF <i class='fa fa-file-pdf-o'></i></button>
                                        <button type="button" class="btn btn-default" >CSV <i class='fa fa-plus-square'></i></button>
                                        <button type="button" class="btn btn-default" >CSV <i class='fa fa-files-o'></i></button>
                                        <button type="button" class="btn btn-default" >Excell <i class='fa fa-file-excel-o'></i></button>
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class=" text-center text-danger ">
                                                <th>IMMATRICULATION</th>
                                                <th>MARQUE</th>
                                                <th>CATEGORIE</th>
                                                <th>ACTION</th>
                                                {% comment %}
                                                <th>CSS grade</th> {% endcomment %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Trident</td>
                                                <td>Internet Explorer 4.0
                                                </td>
                                                <td>Win 95+</td>
                                                <td class="text-center ">
                                                    <a href=" " class="mr-3 text-warning ">
                                                        <i style="font-size: 20px; " class="fa fa-edit "></i>
                                                    </a>
                                                    <a href=" " class="text-danger ">
                                                        <i style="font-size: 20px; " class="fa fa-trash "></i>
                                                    </a>
                                                </td>
                                                {% comment %}
                                                <td>X</td> {% endcomment %}
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="text-center ">
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                {% comment %}
                                                <th>CSS grade</th> {% endcomment %}
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}