{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Liste des assurances {% endblock title %}  
{% block navbar_nav %}
    <form class="search-form" method="get">
        <div class="input-group">
            {{ form.immatriculation }}
            <div class="input-group-append">
            <button type="submit" name="submit" class="btn btn-danger"><i class="fas fa-search"></i></button>
            <a href="{% url 'liste_assurance' %}" name="submit" class="btn btn-danger" style="border-radius: 0 50px 50px 0;"><i class="fas fa-refresh text-light"></i></a>
            </div>
        </div>
    </form>
{% endblock navbar_nav %}
{% block page_title %}
    <img class="profile-user-img" style="border:none; height:50px;width:55px" src="{% static 'assurance.png' %}" alt="User profile picture">Etats des assurances
{% endblock page_title %} 

{% block page_action %}
    <form id="quickForm">
        {% for categorie, perms in grouped_permissions.items %}
            {% if categorie.categorie == 'Exporter' %}
                {% for perm in perms %}
                    {% if perm.name == "Exporter assurance" %}
                        <button type="button" class="btn btn-default text-danger" id="printButton">PDF <i class='fa fa-file-pdf-o'></i></button>
                        <a href="{% url 'export_assurance_excel' %}?date_debut={{ request.GET.date_debut }}&date_fin={{ request.GET.date_fin }}&immatriculation={{ request.GET.immatriculation }}&categorie={{ request.GET.categorie }}" class="btn btn-default text-success">
                            Excel <i class="fa fa-file-excel-o"></i>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <a class="btn btn-default text-info" data-toggle="modal" data-target="#modal-sm" href="#" style="font-size: 16px;"><i style="font-size: 20px;" class="fa fa-calendar"></i></a>
        <a class="btn btn-default text-info" href="{% url 'liste_assurance' %}" style="font-size: 16px;"><i style="font-size: 20px;" class="fa fa-refresh"></i></a>
    </form>
{% endblock page_action %}
{% block main_content %}
<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-radius:25px;">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C; font-size:15px;">FILTRE</h4>
                <button type="button" style="border-radius:25px;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form id="basic-form" method="get" novalidate>
                        <div class="row clearfix">
                            <div class="col-12">
                                <label style="font-weight:700;color:rgba(152, 152, 152, 0.85); font-size:15px;">Date debut </label>
                                <div class="form-group">                                    
                                    {{ form.date_debut }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label style="font-weight:700;color: rgba(152, 152, 152, 0.85); font-size:15px;">Date fin</label>
                                <div class="form-group">                                    
                                    {{ form.date_fin }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label style="font-weight:700;color: rgba(152, 152, 152, 0.85); font-size:15px;">Categorie</label>
                                <div class="form-group">                                    
                                    {{ form.categorie }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label style="font-weight:700;color: rgba(152, 152, 152, 0.85); font-size:15px;">Matricule</label>
                                <div class="form-group">                                    
                                    {{ form.immatriculation }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-secondary" style="border-radius:25px;" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-outline-success" style="border-radius:25px;">Afficher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-clock" style="color:rgba(6, 73, 124, 0.54);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Aujourd'hui</span>
            <span class="info-box-number" style="font-size:18px; color: #fa7832;">
            {{assur_jours_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>
<div class="clearfix hidden-md-up"></div>
<div class="col-12 col-sm-6 col-md-4">
    <div class="info-box mb-3" style="border-radius:25px;">
    <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fa fa-calendar" style="color:rgba(6, 73, 124, 0.54);"></i></span>
    <div class="info-box-content">
        <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Mensuelle</span>
        <span class="info-box-number" style="font-size:18px; color: #fa7832;">
        {{assur_mois_format}}
        <small>frs cfa</small>
        </span>
    </div>
    </div>
</div>

<div class="clearfix hidden-md-up"></div>
<div class="col-12 col-sm-6 col-md-4" >
    <div class="info-box mb-3" style="border-radius:25px;">
        <span class="info-box-icon elevation-1" style="border-radius:25px; background-color:rgba(229, 229, 229, 0.51);"><i class="fas fa-calendar" style="color:rgba(6, 73, 124, 0.54);"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="font-size:18px; font-weight: 700; color: #06497C;">Annuelle</span>
            <span class="info-box-number" style="font-size:18px; color: #fa7832;">
            {{assur_an_format}}
            <small>frs cfa</small>
            </span>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);-webkit-backdrop-filter: blur(5.2px); border-radius:20px; " >
                                <form method="post" action="{% url 'delete_selected_assurance' %}" id="deleteForm">
                                    {% csrf_token %}
                                    <div class="card-header">
                                        <h3 class="card-title">
                                         </h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <table id="example1" class="table table-bordered table-striped table-hover dataTable" role="grid" aria-describedby="example1_info">
                                                <thead>
                                                    <tr class="text-center text-danger">
                                                        <th>
                                                            {% for categorie, perms in grouped_permissions.items %}
                                                                {% if categorie.categorie == 'permassurance' %}
                                                                    {% for perm in perms %}
                                                                        {% if perm.name == "sup assurance" %}
                                                                            <input type="checkbox" id="select-all">
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </th>
                                                        <th>IMMAT</th>
                                                        <th>MARQUE</th>
                                                        <th>CATEGORIE</th>
                                                        <th>MONTANT</th>
                                                        <th>DATE SAISIE</th>
                                                        <th>SAISIR PAR </th>
                                                        <th>ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if liste_assur %} 
                                                        {% for u in liste_assur %}
                                                            <tr class="text-center">
                                                                <td>
                                                                    {% for categorie, perms in grouped_permissions.items %}
                                                                        {% if categorie.categorie == 'permassurance' %}
                                                                            {% for perm in perms %}
                                                                                {% if perm.name == "sup assurance" %}
                                                                                    <input type="checkbox" name="assurance_ids" value="{{ u.id }}">
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td>
                                                                    <a href="#" class="mr-3 text-primary">{{u.vehicule.immatriculation}}</a>
                                                                </td>
                                                                <td>{{u.vehicule.marque}}</td>
                                                                <td>{{u.vehicule.category}}</td>
                                                                <td>{{u.montant}}</td>
                                                                <td>{{u.date_saisie|date:"d-m-y"}}</td>
                                                                <td>{{u.auteur.username}}</td>
                                                                <td class="text-center">
                                                                    {% for categorie, perms in grouped_permissions.items %}
                                                                        {% if categorie.categorie == 'permassurance' %}
                                                                            {% for perm in perms %}
                                                                                {% if perm.name == "modifier assurance" %}
                                                                                    <a href="#" class="edit-assurance-btn" data-url="{% url 'updat_assurance' u.pk %}">
                                                                                        <i style="font-size: 20px;" class="fa fa-edit text-warning"></i>
                                                                                    </a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %} 
                                                    {% endif %}
                                                </tbody>
                                                <tfoot>
                                                    <tr class="text-center ">
                                                        <th>
                                                            {% for categorie, perms in grouped_permissions.items %}
                                                                {% if categorie.categorie == 'permassurance' %}
                                                                    {% for perm in perms %}
                                                                        {% if perm.name == "sup assurance" %}
                                                                            <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Confirmez-vous la suppression des assurances sélectionnées ?')">
                                                                                <i class="fa fa-trash"></i>
                                                                            </button>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </th>
                                                        <th>---</th>
                                                        <th>---</th>
                                                        <th>---</th>
                                                        <th>---</th>
                                                        <th>---</th>
                                                        <th>---</th>
                                                        <th>---</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editAssuranceModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius:20px;">
            <div class="modal-body" id="modalBodyContent">

            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('select-all').onclick = function() {
        let checkboxes = document.querySelectorAll('input[name="assurance_ids"]');
        for (let checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    };
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on("click", ".edit-assurance-btn", function(e) {
        e.preventDefault();
        let url = $(this).data("url");
        $.get(url, function(data) {
            $("#modalBodyContent").html(data);
            $("#editAssuranceModal").modal("show");
        });
    });
    $(document).on("submit", "#assuranceUpdateForm", function(e) {
        e.preventDefault();
        let form = $(this);
        let url = form.attr("action") || window.location.href;
        $.post(url, form.serialize(), function(data) {
            if (data.success) {
                $("#editAssuranceModal").modal("hide");
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top',
                    showConfirmButton: false,
                    timer: 4000,
                    timerProgressBar: true
                });
                Toast.fire({
                    type: 'success',
                    title: data.message
                });
                setTimeout(function() {
                    location.reload();
                }, 2000);
            } else {
                $("#modalBodyContent").html(data); 
            }
        });
    });
</script>
{% endblock main_content %}