{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Sortie de caisse {% endblock title %} 
{% block navbar_nav %}

{% endblock navbar_nav %} 
{% block page_title %}
<a href="{% url 'saisi_garag' %}"><img class="profile-user-img" style="border:none; height:35px;width:35px" src="{% static 'retour.png' %}" alt="Retour"></a>
<img class="profile-user-img" style="border:none; height:45px;width:45px" src="{% static 'depenses.png' %}" alt="User profile picture">Saisie une sortie de caisse {% endblock page_title %} {% block active_page %} Sortie de caisse {% endblock active_page%}
{% block main_content %}

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C;">Enrégistrer une sortie de caisse</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='post' role="form" id="quickForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row card-body text-secondary">
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Date</b></label> {{forms.date_saisie}}
                        </div>
                        <div class="col-md-6 col-sm-6  form-group">
                            <label for="fullname"><b>N°Pièce</b></label> {{forms.Num_piece}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Libelle</b></label> {{forms.libelle}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Montant</b></label> {{forms.montant}}
                        </div>
                        
                        <div class="col-md-12 col-sm-6  form-group">
                            {{forms.auteur}}
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-outline" style="border-radius:20px">
                <div class="card-body box-profile">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a href=""><img style="height: 40px; width: 40px; position:relative; margin-top: 5px;" src="{% static 'recet.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div>Aujourd'hui: {{dates}}</div>
                                            <div style="font-size:25px; font-weight: 700; line-height: 1; color: #06497C;">{{tot_sort_jours}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a href=""><img style="height: 40px; width: 40px; position:relative; margin-top: 5px;" src="{% static 'marge.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div>{{mois}} </div>
                                            <div style="font-size:25px; font-weight: 700; line-height: 1; color: #06497C;">{{tot_sort_mois}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-outline" style="border-radius:20px">
                <div class="card-body box-profile">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a href=""><img style="height: 40px; width: 40px; position:relative; margin-top: 5px;" src="{% static 'som.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div>{{annee}}</div>
                                            <div style="font-size:25px; font-weight: 700; line-height: 1; color: #06497C;">{{tot_sort_annuel}} <small>Frscfa</small></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 55px; width: 55px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <a href=""><img style="height: 40px; width: 40px; position:relative; margin-top: 5px;" src="{% static 'brute.png' %}" alt="" srcset=""></a>
                                        </div>
                                        <div>
                                            <div>Resultat du filtre </div>
                                            <div style="font-size:25px; font-weight: 700; line-height: 1; color: #06497C;">{{resuults_filtre}} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.2px);-webkit-backdrop-filter: blur(5.2px);">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <button type="button" class="btn btn-default text-danger" id="printButton">PDF <i class='fa fa-file-pdf-o'></i></button>
                                        <button type="button" class="btn btn-default text-success">Excell <i class='fa fa-file-excel-o'></i></button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-lg">Saisir <i class='fa fa-plus-square'></i></button>
                                    </h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class=" text-center text-danger ">
                                                <th>N°PIECE</th>
                                                <th>LIBELLE</th>
                                                <th>MONTANT</th>
                                                <th>DATE</th>
                                                <th>ENREGISTRER PAR</th>
                                                <th>ACTION</th>
                                                {% comment %}
                                                <th>CSS grade</th> {% endcomment %}
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            {% if sorties_liste %} 
                                                {% for e in sorties_liste %}
                                                    <tr class="text-center">
                                                        <td>{{e.Num_piece}}</td>
                                                        <td><a class="text-primary" type="button" data-toggle="tooltip" data-placement="top" title="{{e.libelle}}">{{e.libelle|slice:":10"}}{% if e.libelle|length > 6 %}...{% endif %}</a></td>
                                                        <td>{{e.montant}}</td>
                                                        <td>{{e.date_saisie}}</td>
                                                        <td>
                                                            <a href="" class="mr-3 text-primary">{{e.auteur.username}}</a>
                                                        </td>
                                                        <td class="text-center">
                                                            {% if user.user_type == '1' %}
                                                                <a href="" class="text-danger" onclick="return confirm('Etes-vous sûre de vouloir supprimer la recette du véhicule {{u.vehicule.immatriculation}} - Receete {{u.montant}} - {{u.date_saisie}}? car si vous supprimer toutes les informations liées seront supprimées')">
                                                                    <i style="font-size: 20px; " class="fa fa-trash "></i>
                                                                </a>
                                                            {% else %}
                                                                <a class="text-danger">
                                                                    <i style="font-size: 20px; " class="fa fa-trash "></i>
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %} 
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}