{% extends 'perfect/base.html' %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pb/css/reparation-form.css' %}?v=5">
{% endblock extra_css %}
{% block title %} Gestion des Permissions {% endblock title %} 

{% block page_title %}
    <img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'agear.png' %}" alt="User profile picture">Gestion des Permissions
{% endblock page_title %} 

{% block page_action %}
    <form id="quickForm">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg" style="color: #a83232;">
            Nouvelle permission <i class="fa fa-plus-circle"></i>
        </button>
        <a href="{% url 'export_permissions_excel' %}" class="btn btn-default" style="color: #a83232;">
            Excel <i class="fa fa-file-excel-o"></i>
        </a>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-import" style="color: #a83232;">
            Importer <i class="fa fa-upload"></i>
        </button>
        <a href="{% url 'list_permissions' %}" class="btn btn-default" style="color: #a83232;">
            <i class="fas fa-sync"></i>
        </a>
    </form>
{% endblock page_action %}

{% block main_content %}
{% url 'create_permission' as create_permission_action %}
{% url 'import_permissions_excel' as import_permissions_action %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-lg' modal_size='lg' modal_title='Nouvelle permission' form_method='post' form_action=create_permission_action form_id='permissionCreateForm' body_template='perfect/partials/saisie/permission_create_body.html' submit_label='Enregistrer' %}
{% include 'perfect/partials/modal_default.html' with modal_id='modal-import' modal_size='md' modal_title='Importer depuis Excel' form_method='post' form_action=import_permissions_action form_id='permissionImportForm' enctype='multipart/form-data' body_template='perfect/partials/saisie/permission_import_excel_body.html' submit_label='Importer' %}

<div class="col-md-12">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">Liste des permissions</span>
                <span class="pb-panel__hint">{{ permissions|length }} permission{{ permissions|length|pluralize }} affichée{{ permissions|length|pluralize }}</span>
            </div>
            <div class="pb-panel__tools">
                <form method="get" class="pb-panel__filter" data-live-filter>
                    {% if request.GET.search %}<input type="hidden" name="search" value="{{ request.GET.search }}">{% endif %}
                    <select name="categorie" class="form-control">
                        <option value="">Toutes les catégories</option>
                        {% for cat in categories %}
                            <option value="{{ cat.id }}" {% if request.GET.categorie == cat.id|stringformat:"s" %}selected{% endif %}>{{ cat.categorie }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="card-body pb-panel__body pb-panel__body--flush">
            {% if permissions %}
                <div class="pb-table-wrap">
                    <table id="example1" class="table pb-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Catégorie</th>
                                <th>Url</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for permission in permissions %}
                                <tr>
                                    <td class="pb-table__muted">{{ permission.id }}</td>
                                    <td><span class="pb-table__key">{{ permission.name }}</span></td>
                                    <td><span class="badge badge-light">{{ permission.categorie.categorie }}</span></td>
                                    <td class="pb-table__muted"><code>{{ permission.url }}</code></td>
                                    <td class="text-center">
                                        <span class="pb-table__actions">
                                            <button type="button" class="pb-table__action" data-toggle="modal" data-target="#modal-update-{{ permission.pk }}" title="Modifier">
                                                <i class="fas fa-pen" aria-hidden="true"></i>
                                            </button>
                                            <a href="{% url 'delete_permission' permission.pk %}" class="pb-table__action pb-table__action--danger" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette permission?');">
                                                <i class="fas fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="pb-empty">
                    <i class="fas fa-inbox" aria-hidden="true"></i>
                    Aucune permission trouvée
                </p>
            {% endif %}
        </div>
    </div>
</div>

{% for permission in permissions %}
    <div class="modal fade pb-modal-default pb-modal-default--lg" id="modal-update-{{ permission.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                {% include 'perfect/partials/permission_form.html' with object=permission form=permission.edit_form %}
            </div>
        </div>
    </div>
{% endfor %}
{% endblock main_content %}
