{% extends 'perfect/base.html' %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pb/css/saisie-live-search.css' %}?v=1">
{% endblock extra_css %}
{% block title %} Temps d'arrêt {% endblock title %} 
{% block page_action %}
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-sm" style="color: #a83232;"><i style="font-size: 20px; color: rgba(168, 50, 50, 0.75);" class="fa fa-calendar"></i></button>
{% endblock page_action %}
{% block page_title %}
    <img class="profile-user-img" style="border:none; height:45px;width:45px" src="{% static 'temp_arret.png' %}" alt="User profile picture">Temps d'arrêt 
{% endblock page_title %} 

{% block main_content%}

<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius:25px; border: 1px solid rgba(168, 50, 50, 0.2);">
            <div class="modal-header" style="background: linear-gradient(180deg, rgba(251, 237, 237, 0.95), rgba(255, 255, 255, 0.98)); border-bottom: 1px solid rgba(168, 50, 50, 0.15); border-radius: 25px 25px 0 0;">
                <h4 class="modal-title" style="font-weight:700;color: #a83232;">FILTRE</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form id="basic-form" method="get" data-live-filter novalidate>
                        <div class="row clearfix">
                            <div class="col-md-12 form-group"><input type="text" value="Critère de filtre" class="form-control text-center" disabled></div>
                            <div class="col-6">
                                <label style="font-weight:600; color: #a83232;">Date debut </label>
                                <div class="form-group">                                    
                                    {{ form.date_debut }}
                                </div>
                            </div>
                            <div class="col-6">
                                <label style="font-weight:600; color: #a83232;">Date fin</label>
                                <div class="form-group">                                    
                                    {{ form.date_fin }}
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <label style="font-weight:600; color: #a83232;">Categorie</label>
                                <div class="form-group">                                    
                                    {{ form.categorie }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between p-2">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn" style="border-radius:25px; border: 1px solid #a83232; color: #a83232; background: transparent; font-weight: 600;">Afficher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="pb-kpi-grid pb-kpi-grid--4">
        {% include 'perfect/partials/stats/kpi_card.html' with label="Visites" subtitle="Arrêts" value=visit_mois_format unit="frs cfa" sublabel="Total période" icon_img='visit.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Entretiens" subtitle="Arrêts" value=entretien_mois_format unit="frs cfa" sublabel="Total période" icon_img='entret.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Réparations" subtitle="Arrêts" value=reparat_mois_format unit="frs cfa" sublabel="Total période" icon_img='clereparat.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Autres arrêts" subtitle="Arrêts" value=autarret_mois_format unit="frs cfa" sublabel="Total période" icon_img='temp_arret.png' %}
    </div>
</div>

{% url 'temps_arrets' as saisie_reset_url %}
{% include 'perfect/partials/saisie/vehicule_live_search_panel.html' with panel_title='Véhicules' reset_url=saisie_reset_url %}
{% endblock main_content %}
