{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Saisie comptable {% endblock title %} 
{% block navbar_nav %}
{% endblock navbar_nav %} 
{% block page_title %}
<img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'accounting.png' %}" alt="User profile picture">Journal de saisi comptable
{% endblock page_title %} 
{% block page_a %}
{% endblock page_a %}
{% block active_page %} Saisie Comptable {% endblock active_page %}
{% block main_content%}
{% if user.user_type == '4' %}
{% else %}
<div class="col-md-12">
    <div class="card" style="color: #0176bf; border-radius: 20px; border-color: #00217b; font-weight: 700;">
        <div class="card-body table-responsive p-0" style="border-radius:8px; border:none">
            <table class="table table text-nowrap" >
                <tr style="border-color:red">
                    <div class="col-md-12">
                        <div class="row ">
                            <div class="col-md-2" >
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 7px; margin-left: 0px;" src="{% static 'recet.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Recette{% if recette > 1  %}s{% endif %}</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ recette }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'chargfix.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px;color: #06497C">Charge{% if charfixe > 1  %}s{% endif %} Fixe{% if charfixe > 1  %}s{% endif %}</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ charfixe }}
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: px;" src="{% static 'chargfvar.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div class="mt-1" style="font-size:14px; font-weight: 700; line-height: 1;color: #06497C">Charge{% if charvars > 1  %}s{% endif %} Variable{% if charvars > 1  %}s{% endif %}</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ charvars}} 
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: px;" src="{% static 'marge.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div class="mt-1" style="font-size:14px; font-weight: 700; line-height: 1;color: #06497C">Marge de contribution</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ taux_marge }} 
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;">%</small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'sum.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div style="font-size: 15px; color: #06497C">Total charge</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">{{ chargtot }}  <small style="color: #06497C; font-weight: 700; line-height: 1;"></small></div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border:none">
                                    <div style="display: flex; align-items: center;">
                                        <div style="height: 50px; width: 50px; background-color: #f4f6f9; border-radius: 50px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" class="mr-3 text-center">
                                            <img style="height: 35px; width: 35px; position:relative; margin-top: 9px; margin-left: 0px;" src="{% static 'rech.png' %}" alt="" srcset="">
                                        </div>
                                        <div>
                                            <div class="mt-1" style="font-size:14px; font-weight: 700; line-height: 1;color: #06497C">Résultat</div>
                                            <div style="font-size:18px; font-weight: 700; line-height: 1; color: #fa7832;">
                                                {{ result}} 
                                                <small style="color: #06497C; font-weight: 700; line-height: 1;"></small>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- COURBES DE NIVEAUX -->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                            backdrop-filter: blur(5.2px);-webkit-backdrop-filter: blur(5.2px);">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <button type="button" class="btn btn-default text-danger" id="printButton">PDF <i class='fa fa-file-pdf-o'></i></button>
                                        <button type="button" class="btn btn-default text-success">Excell <i class='fa fa-file-excel-o'></i></button>
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class=" text-center text-danger ">
                                                <th>IMMAT</th>
                                                <th>MARQUE</th>
                                                <th>CATEGORIE</th>
                                                <th>RECETTE</th>
                                                <th>CHARGE FIXE</th>
                                                <th>CHARGE VARIABLE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if vehicules %}
                                                {% for u in vehicules %}
                                                <tr class="text-center">
                                                    <td><a href="{% url 'detavehi' u.pk %}" title="Cliquez pour accéder à son tableau de bord financier" class="mr-3 text-primary" style='font-weight:700'>{{u.immatriculation}}</a></td>
                                                    <td>{{u.marque}}</td>
                                                    <td>{{u.category}}</td>
                                                    <td>
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == "permrecette" %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "add recette" %}
                                                                        <a href="{% url perm.url u.pk %}" class="text-primary">
                                                                            <i style="font-size: 20px;" class="fa fa-plus-circle "></i>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == "permchargfix" %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "add charge fixe" %}
                                                                        <a href="{% url perm.url u.pk %}" class="text-primary">
                                                                            <i style="font-size: 20px;" class="fa fa-plus-circle "></i>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for categorie, perms in grouped_permissions.items %}
                                                            {% if categorie.categorie == "permchargvar" %}
                                                                {% for perm in perms %}
                                                                    {% if perm.name == "add charge variable" %}
                                                                        <a href="{% url perm.url u.pk %}" class="text-primary">
                                                                            <i style="font-size: 20px;" class="fa fa-plus-circle "></i>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock main_content %}