<table>
    <thead>
        <tr style="font-weight: 700;" class="text-danger">
            <th rowspan="2">Immat</th>
            <th rowspan="2">Marque</th>
            <th colspan="{{ days_in_month|length }}">{{ month_name }} {{ year }}</th>
            <th rowspan="2">Tour au garage</th>
            <th rowspan="2">Total Cost</th>
            <th rowspan="2">Recette</th>
            <th rowspan="2">Details Pièce</th>
        </tr>
        <tr>
            {% for day in days_in_month %}
                <th class="text-primary">{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for vehicule in vehicule_data %}
            <tr>
                <td style="font-weight: 700;"><a href="" title="{{ vehicule.age }}">{{ vehicule.immatriculation }}</a></td>
                <td>{{ vehicule.marque }}</td>
                {% for action in vehicule.daily_actions %}
                    <td>{{ action }}</td>
                {% endfor %}
                <td>{{ vehicule.total_actions }}</td>
                <td>{{ vehicule.total_cost_parts }}</td>
                <td>{{ vehicule.total_income }}</td>
                <td>{{ vehicule.part_details }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
