{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Véhicules hors parc {% endblock title %} 

{% block page_title %}
    <img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'addcar.png' %}" alt="User profile picture">{% if categorie %}Catégorie Véhicule : {{categorie}}{% else %}Les véhicules hors parc{% endif %}
{% endblock page_title %} 
{% block page_action %}
    <div class="row card-body">
        <div class="col-md-12 form-group">
            <a href="{% url 'export_vehicules_hors_parc_excel' %}?date_debut={{ request.GET.date_debut }}&date_fin={{ request.GET.date_fin }}&immatriculation={{ request.GET.immatriculation }}&categorie={{ request.GET.categorie }}" class="btn btn-outline-success">
                Excel <i class="fa fa-file-excel-o"></i>
            </a>
        </div>
    </div>
{% endblock page_action %}
{% block navbar_nav %}
{% endblock navbar_nav %}
{% block main_content %}
<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-radius:25px;">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C; font-size:15px;">FILTRE</h4>
                <button type="button" style="border-radius:25px;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form id="basic-form" method="get" data-live-filter novalidate>
                        <div class="row clearfix">
                            <div class="col-12">
                                <label style="font-weight:700;color:rgba(152, 152, 152, 0.85); font-size:15px;">Date debut </label>
                                <div class="form-group">                                    
                                    {{ form.date_debut }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label style="font-weight:700;color: rgba(152, 152, 152, 0.85); font-size:15px;">Date fin</label>
                                <div class="form-group">                                    
                                    {{ form.date_fin }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label style="font-weight:700;color: rgba(152, 152, 152, 0.85); font-size:15px;">Categorie</label>
                                <div class="form-group">                                    
                                    {{ form.categorie }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label style="font-weight:700;color: rgba(152, 152, 152, 0.85); font-size:15px;">Matricule</label>
                                <div class="form-group">                                    
                                    {{ form.immatriculation }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-secondary" style="border-radius:25px;" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-outline-success" style="border-radius:25px;">Afficher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 25px">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C;">Nouveau véhicule "{{categorie}}"</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border-radius: 50px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='post' role="form" id="quickForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row card-body text-secondary">
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Immatriculation</b></label> {{forms.immatriculation}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Marque</b></label> {{forms.marque}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Durée</b></label> {{forms.duree}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Cout d'Acquisition</b></label> {{forms.cout_acquisition}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Numero chassis</b></label> {{forms.num_Chassis}}
                        </div>
                        <div class="col-md-6 col-sm-6 form-group">
                            <label for="fullname"><b>Numero Carte Grise</b></label> {{forms.num_cart_grise}}
                        </div>
                        <div class="col-md-4 col-sm-6 form-group">
                            <label for="fullname"><b>Date d'Acquisition</b></label> {{forms.date_acquisition}}
                        </div>
                        <div class="col-md-4 col-sm-6 form-group">
                            <label for="fullname"><b>Date Edit Carte Grise</b></label> {{forms.dat_edit_carte_grise}}
                        </div>
                        <div class="col-md-4 col-sm-6 form-group">
                            <label for="fullname"><b>Date Mise en Service</b></label> {{forms.date_mis_service}}
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% comment %} color: #fa7832 {% endcomment %}
{% url 'all_vehi' as all_vehi_url %}
<div class="col-md-12">
    <div class="pb-kpi-grid pb-kpi-grid--4">
        {% include 'perfect/partials/stats/kpi_card.html' with label="Catégories" subtitle="Parc véhicules" value=categories|length sublabel="Effectif" icon_img='categ.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Total Véhicules parc" subtitle="Parc véhicules" value=total_veh sublabel="Véhicules en parc" icon_img='summ.png' side_value="Voir" side_icon="fa-arrow-circle-left" side_label="Tous les véhicules" side_url=all_vehi_url %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Total Véhicules hors parc" subtitle="Parc véhicules" value=total_veh_hors_parc sublabel="Véhicules sortis" icon_img='summ.png' %}
        {% include 'perfect/partials/stats/kpi_card.html' with label="Prix total véhicule" subtitle="Parc véhicules" value=cout_total unit="cfa" sublabel="Coût d'acquisition" icon="fa-coins" %}
    </div>
</div>
<div class="col-md-3">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">Catégories</span>
                <span class="pb-panel__hint">Véhicules par catégorie</span>
            </div>
            <div class="pb-panel__tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" aria-label="Réduire">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body pb-panel__body pb-panel__body--flush">
            <ul class="pb-list">
                <li class="pb-list__item">
                    <a href="{% url "all_vehi" %}" class="pb-list__link">Tous les véhicules</a>
                    <span class="pb-list__count">{{total_veh}}</span>
                </li>
                {% for categorie, perms in grouped_permissions.items %}
                    {% if categorie.categorie == 'permvehi' %}
                        {% for perm in perms %}
                            {% if perm.name == "add véhicule" %}
                                {% for c in categories %}
                                    <li class="pb-list__item">
                                        <a href="{% url 'add_vehi' c.pk %}" class="pb-list__link">{{c.category}}</a>
                                        <span class="pb-list__count">{{c.nb_vehicules}}</span>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="card pb-panel">
        <div class="card-header pb-panel__header">
            <div class="pb-panel__heading">
                <span class="pb-panel__title">Véhicules hors parc</span>
                <span class="pb-panel__hint">{{ total_veh_hors_parc }} véhicule{{ total_veh_hors_parc|pluralize }} sorti{{ total_veh_hors_parc|pluralize }} du parc</span>
            </div>
            <div class="pb-panel__tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" aria-label="Réduire">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body pb-panel__body pb-panel__body--flush">
            {% if vehicules %}
                <div class="pb-table-wrap">
                    <table id="example1" class="table pb-table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkAll" aria-label="Tout sélectionner"></th>
                                <th>Immat</th>
                                <th>Marque</th>
                                <th>Catégorie</th>
                                <th>Coût</th>
                                <th>Durée</th>
                                <th>Âge</th>
                                <th>Statut</th>
                                <th>Motif</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in vehicules %}
                                <tr>
                                    <td><input type="checkbox" name="vehicule_ids" value="{{ u.id }}" aria-label="Sélectionner {{ u.immatriculation }}"></td>
                                    <td><span class="pb-table__key">{{u.immatriculation}}</span></td>
                                    <td>{{u.marque}}</td>
                                    <td class="pb-table__muted">{{u.category}}</td>
                                    <td>{{u.cout_acquisition}}</td>
                                    <td class="pb-table__muted">{{u.duree}}</td>
                                    <td><span class="badge bg-{{ u.color_age }}">{{ u.age }} ans</span></td>
                                    <td>
                                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input type="checkbox"
                                                   class="custom-control-input toggle-car-statut"
                                                   id="switch-car-{{ u.id }}"
                                                   data-url="{% url 'toggle_car_statut' u.id %}"
                                                   data-vehicule-id="{{ u.id }}"
                                                   {% if u.car_statut %} checked {% endif %}>
                                            <label class="custom-control-label" for="switch-car-{{ u.id }}"></label>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-info">{{u.motif_sorti}}</span></td>
                                    <td class="text-center">
                                        <span class="pb-table__actions">
                                            {% for categorie, perms in grouped_permissions.items %}
                                                {% if categorie.categorie == 'permvehi' %}
                                                    {% for perm in perms %}
                                                        {% if perm.name == "modifier véhicule" %}
                                                            <a href="#" class="pb-table__action edit-vehicule-btn" data-url="{% url 'updat_car' u.pk %}" title="Modifier">
                                                                <i class="fas fa-pen" aria-hidden="true"></i>
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="pb-empty">
                    <i class="fas fa-car-side" aria-hidden="true"></i>
                    Aucun véhicule hors parc pour le moment.
                </p>
            {% endif %}
        </div>
        {% if vehicules %}
            {% for categorie, perms in grouped_permissions.items %}
                {% if categorie.categorie == 'permvehi' %}
                    {% for perm in perms %}
                        {% if perm.name == "sup véhicule" %}
                            <div class="pb-panel__footer">
                                <button type="submit" class="pb-panel__action pb-panel__action--danger" onclick="return confirm('Confirmez-vous la suppression des véhicules sélectionnés ?')">
                                    <i class="fas fa-trash" aria-hidden="true"></i> Supprimer la sélection
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="modal fade" id="editCarModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius:20px;">
            <div class="modal-body" id="modalBodyContent">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="motifSortiModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-radius:25px;">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C; font-size:15px;">Motif de sortie</h4>
                <button type="button" style="border-radius:25px;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="motifSortiForm" data-no-live-filter>
                    <div class="form-group">
                        <label for="motif_sorti_input" style="font-weight:700;color:rgba(152, 152, 152, 0.85); font-size:15px;">Motif de sortie du stock</label>
                        <input type="text" class="form-control" id="motif_sorti_input" name="motif_sorti" maxlength="100" required>
                        <input type="hidden" id="vehicule_id_hidden" name="vehicule_id">
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-secondary" style="border-radius:25px;" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-outline-danger" style="border-radius:25px;">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}