<form method="post" id="account-edit-form-modal" action="{% url 'edit_account' account_user.id %}" class="pb-modal-default__form">
    {% csrf_token %}
    {% include 'perfect/partials/saisie/edit_account_body.html' %}
    <div class="d-flex justify-content-between align-items-center w-100 pt-3 mt-2 border-top">
        <button type="button" class="btn pb-modal-default__btn-cancel" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn pb-modal-default__btn-submit">Enregistrer</button>
    </div>
</form>
