{% extends 'perfect/bacompt.html' %} 
{% load static %} 
{% block title %}Access close{% endblock title %} 
{% block content %}
    {% if user.is_authenticated %}
        <div class="login-box">
            <div class="card" style="background-color:rgba(255, 255, 255, 0.1); border-radius:10px" style="background-image: linear-gradient(135deg,rgb(255, 113, 113) 10%,rgb(134, 172, 255) 100%)">
                <div class="card-body login-card-body" style="background-color:rgba(255, 255, 255, 0.1);border-radius: 10px">
                    <p class="mt-2 mb-1 text-center">
                        {% for categorie, perms in grouped_permissions.items %}
                            {% if categorie.categorie == "bord" %}
                                {% for perm in perms %}
                                    <a href="{% url perm.url %}" class="nav-link ">
                                        <i style="font-size: 10px;" class="far fa-circle nav-icon "></i>
                                        <p>{{ perm.name }}</p>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="login-box">
            <div class="card" style="background-color:rgba(255, 255, 255, 0.1); border-radius:10px" style="background-image: linear-gradient(135deg,rgb(255, 113, 113) 10%,rgb(134, 172, 255) 100%)">
                <div class="card-body login-card-body" style="background-color:rgba(255, 255, 255, 0.1);border-radius: 10px">
                    <p class="mt-2 mb-1 text-center">
                        😵😵Accès non autorisé😵😵
                        <a href="{% url 'login' %}" class="text-secondary">Se connecter</a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

