{% extends 'perfect/base.html' %} 
{% load static %} 
{% block title %} Comptes {% endblock title %} 
{% block navbar_nav %}

{% endblock navbar_nav %} 
{% block page_title %}
<img class="profile-user-img" style="border:none; height:55px;width:55px" src="{% static 'add-user.png' %}" alt="User profile picture">Liste compte 
{% endblock page_title %} 
{% block page_action %}
    <form id="quickForm">
        <button type="button" class="btn btn-default text-danger" id="printButton">PDF <i class='fa fa-file-pdf-o'></i></button>
    </form>
{% endblock page_action %}
{% block main_content %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="" style="border-radius:20px">
                <div id="" class="">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 p-0">
                            <div class="card" style="border-radius:25px">
                                <div class="card-header">
                                    <h3 class="card-title">
                                    
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class="text-center text-danger">
                                                <th>LOGIN</th>
                                                <th>EMAIL</th>
                                                <th>GENRE</th>
                                                <th>ROLE</th>
                                                <th>Permissions</th>
                                                <th>Active/Desactive</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if users %}
                                                {% for u in users %}
                                                    <tr class="text-center">
                                                        <td>{{u.username}}</td>
                                                        <td>{{u.email}}</td>
                                                        <td>{{u.gender}}</td>
                                                        <td>{{u.user_type}}</td>
                                                        <td class="text-center ">
                                                            {% if u.user_type == "4" %}
                                                                <a href="#" class="mr-3 text-primary edit-gerant-by-user-btn" data-user-id="{{u.id}}" data-username="{{u.username}}" data-toggle="modal" data-target="#editGerantByUserModal">
                                                                    <i style="font-size: 20px;" class="fa fa-edit"></i>
                                                                </a>
                                                            {% endif %}
                                                            <a href="#" class="mr-3 text-warning edit-permissions-btn" data-user-id="{{u.id}}" data-username="{{u.username}}" data-toggle="modal" data-target="#permissionModal">
                                                                <i style="font-size: 20px;" class="fa fa-lock"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="form-group">
                                                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                                    <input type="checkbox"
                                                                           class="custom-control-input toggle-active"
                                                                           id="switch-{{ u.id }}"
                                                                           data-url="{% url 'toggle_active_user' u.id %}"
                                                                           {% if u.is_active %} checked {% endif %}>
                                                                    <label class="custom-control-label" for="switch-{{ u.id }}"></label>
                                                                </div>
                                                            </div>
                                                        </td>                                                        
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                        <tfoot>
                                            <tr class="text-center ">
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                                <th>---</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour modifier un gérant (depuis liste_compte.html) -->
<div class="modal fade" id="editGerantByUserModal" tabindex="-1" role="dialog" aria-labelledby="editGerantByUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="border-radius:20px">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C; font-size:15px;" id="editGerantByUserModalLabel">
                    <img class="profile-user-img" style="border:none; height:35px;width:35px" src="{% static 'add-user.png' %}" alt="User profile picture">
                    Modifier le compte gérant
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="edit-gerant-by-user-modal-body">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Chargement...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour modifier les permissions -->
<div class="modal fade" id="permissionModal" tabindex="-1" role="dialog" aria-labelledby="permissionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="border-radius:20px">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:700;color: #06497C; font-size:15px;" id="permissionModalLabel">
                    <img class="profile-user-img" style="border:none; height:35px;width:35px" src="{% static 'add-user.png' %}" alt="User profile picture">
                    Modifier les permissions
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="permission-modal-body">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Chargement...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Gestion de l'activation/désactivation des comptes
    $(document).on("change", ".toggle-active", function() {
        let checkbox = $(this);
        let url = checkbox.data("url");
        $.ajax({
            url: url,
            type: "POST",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function(response) {
                if (response.success) {
                    if (response.is_active) {
                        $(function() {
                            const Toast = Swal.mixin({
                              toast: true,
                              position: 'top',
                              showConfirmButton: false,
                              timer: 4000
                            });
                        
                            Toast.fire({
                                type: 'success',
                                title: 'le compte à été activé avec succès !'
                              })
                            
                        });
                    } else {
                        $(function() {
                            const Toast = Swal.mixin({
                              toast: true,
                              position: 'top',
                              showConfirmButton: false,
                              timer: 4000
                            });
                        Toast.fire({
                            type: 'error',
                            title: 'Le compte à été désactivé avec succès !'
                          })
                        });
                    }
                }
            },
            error: function() {
                alert("⚠️ Erreur lors de la mise à jour du compte.");
                checkbox.prop("checked", !checkbox.prop("checked"));
            }
        });
    });

    // Charger le contenu de la modal de permissions
    $(document).on("click", ".edit-permissions-btn", function(e) {
        e.preventDefault();
        let userId = $(this).data("user-id");
        let username = $(this).data("username");
        let url = "{% url 'edit_user_permissions' 0 %}".replace('0', userId);
        
        // Mettre à jour le titre de la modal
        $("#permissionModalLabel").html(
            '<img class="profile-user-img" style="border:none; height:35px;width:35px" src="{% static "add-user.png" %}" alt="User profile picture"> ' +
            'Modifier les permissions - ' + username
        );
        
        // Afficher le spinner
        $("#permission-modal-body").html(
            '<div class="text-center"><div class="spinner-border" role="status"><span class="sr-only">Chargement...</span></div></div>'
        );
        
        // Charger le contenu via AJAX
        $.ajax({
            url: url,
            type: "GET",
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
                if (response.html) {
                    $("#permission-modal-body").html(response.html);
                } else {
                    $("#permission-modal-body").html('<div class="alert alert-danger">Erreur lors du chargement des permissions.</div>');
                }
            },
            error: function() {
                $("#permission-modal-body").html('<div class="alert alert-danger">Erreur lors du chargement des permissions.</div>');
            }
        });
    });

    // Gérer la soumission du formulaire de permissions dans la modal
    $(document).on("submit", "#permission-form-modal", function(e) {
        e.preventDefault();
        let form = $(this);
        let url = form.attr("action");
        let formData = form.serialize();
        
        // Désactiver le bouton de soumission
        let submitBtn = form.find('button[type="submit"]');
        let originalText = submitBtn.html();
        submitBtn.prop('disabled', true).html('<i class="fa fa-spinner fa-spin"></i> Enregistrement...');
        
        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
                if (response.success) {
                    // Fermer immédiatement la modal
                    $('#permissionModal').modal('hide');
                    // Recharger la page pour afficher les modifications
                    window.location.reload();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erreur',
                        text: 'Une erreur est survenue lors de la mise à jour des permissions.'
                    });
                    submitBtn.prop('disabled', false).html(originalText);
                }
            },
            error: function(xhr) {
                let errorMsg = 'Une erreur est survenue lors de la mise à jour des permissions.';
                if (xhr.responseJSON && xhr.responseJSON.message) {
                    errorMsg = xhr.responseJSON.message;
                }
                Swal.fire({
                    icon: 'error',
                    title: 'Erreur',
                    text: errorMsg
                });
                submitBtn.prop('disabled', false).html(originalText);
            }
        });
    });

    // Réinitialiser la modal quand elle est fermée
    $('#permissionModal').on('hidden.bs.modal', function () {
        $("#permission-modal-body").html(
            '<div class="text-center"><div class="spinner-border" role="status"><span class="sr-only">Chargement...</span></div></div>'
        );
    });

    // Charger le contenu de la modal d'édition de gérant (depuis liste_compte.html)
    $(document).on("click", ".edit-gerant-by-user-btn", function(e) {
        e.preventDefault();
        let userId = $(this).data("user-id");
        let username = $(this).data("username");
        // Construire l'URL en utilisant le préfixe auth/ et en remplaçant correctement l'ID
        let url = "/auth/modifier gerant par user/" + userId + "/";
        
        // Mettre à jour le titre de la modal
        $("#editGerantByUserModalLabel").html(
            '<img class="profile-user-img" style="border:none; height:35px;width:35px" src="{% static "add-user.png" %}" alt="User profile picture"> ' +
            'Modifier le compte gérant - ' + username
        );
        
        // Afficher le spinner
        $("#edit-gerant-by-user-modal-body").html(
            '<div class="text-center"><div class="spinner-border" role="status"><span class="sr-only">Chargement...</span></div></div>'
        );
        
        // Afficher l'URL pour débogage
        console.log('URL appelée:', url);
        console.log('User ID:', userId);
        
        // Charger le contenu via AJAX
        $.ajax({
            url: url,
            type: "GET",
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
                console.log('Réponse reçue:', response);
                if (response.html) {
                    $("#edit-gerant-by-user-modal-body").html(response.html);
                } else {
                    $("#edit-gerant-by-user-modal-body").html('<div class="alert alert-danger">Erreur lors du chargement du formulaire. Aucun contenu HTML reçu.</div>');
                }
            },
            error: function(xhr, status, error) {
                console.log('Erreur AJAX:', xhr, status, error);
                console.log('URL appelée:', url);
                let errorHtml = '<div class="alert alert-danger">Erreur lors du chargement du formulaire.<br>';
                errorHtml += 'URL: ' + url + '<br>';
                errorHtml += 'Status: ' + xhr.status + '<br>';
                errorHtml += 'Error: ' + error + '<br>';
                if (xhr.responseJSON && xhr.responseJSON.html) {
                    errorHtml += 'Détails: ' + xhr.responseJSON.html;
                } else if (xhr.responseText) {
                    try {
                        let response = JSON.parse(xhr.responseText);
                        if (response.html) {
                            errorHtml += 'Détails: ' + response.html;
                        } else {
                            errorHtml += 'Réponse: ' + xhr.responseText.substring(0, 500);
                        }
                    } catch(e) {
                        errorHtml += 'Réponse brute: ' + xhr.responseText.substring(0, 500);
                    }
                }
                errorHtml += '</div>';
                $("#edit-gerant-by-user-modal-body").html(errorHtml);
            }
        });
    });

    // Gérer la soumission du formulaire d'édition de gérant (depuis liste_compte.html)
    $(document).on("submit", "#gerant-edit-by-user-form-modal", function(e) {
        e.preventDefault();
        let form = $(this);
        let url = form.attr("action");
        let formData = form.serialize();
        
        // Désactiver le bouton de soumission
        let submitBtn = form.find('button[type="submit"]');
        let originalText = submitBtn.html();
        submitBtn.prop('disabled', true).html('<i class="fa fa-spinner fa-spin"></i> Enregistrement...');
        
        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
                if (response.success) {
                    // Fermer immédiatement la modal
                    $('#editGerantByUserModal').modal('hide');
                    // Recharger la page pour afficher les modifications
                    window.location.reload();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erreur',
                        text: response.message || 'Une erreur est survenue lors de la mise à jour du compte gérant.'
                    });
                    submitBtn.prop('disabled', false).html(originalText);
                }
            },
            error: function(xhr) {
                let errorMsg = 'Une erreur est survenue lors de la mise à jour du compte gérant.';
                if (xhr.responseJSON && xhr.responseJSON.message) {
                    errorMsg = xhr.responseJSON.message;
                }
                Swal.fire({
                    icon: 'error',
                    title: 'Erreur',
                    text: errorMsg
                });
                submitBtn.prop('disabled', false).html(originalText);
            }
        });
    });

    // Réinitialiser la modal quand elle est fermée
    $('#editGerantByUserModal').on('hidden.bs.modal', function () {
        $("#edit-gerant-by-user-modal-body").html(
            '<div class="text-center"><div class="spinner-border" role="status"><span class="sr-only">Chargement...</span></div></div>'
        );
    });
</script>

{% endblock main_content %}
