<div class="row">
    
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Permissions</h3>
            </div>
            <div class="card-body">
                <form method="post" id="permission-form-modal" action="{% url 'edit_user_permissions' user.id %}">
                    {% csrf_token %}
                    <div class="row">
                        {% if form.permissions %}
                            {% for permission in form.permissions %}
                                <div class="col-md-4 form-group">
                                    <div class="form-check">
                                        {{ permission.tag }}
                                        <label class="form-check-label" for="{{ permission.id_for_label }}">
                                            {{ permission.choice_label }}
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-12">
                                <p class="text-muted">Aucune permission disponible.</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-outline-primary w-50" style='border-radius:50px'>Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

