{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>pbholding.ci-connexion</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="{% static 'ass/img/icon.png' %}" rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  
  <script src="{% static 'as/js/script.js' %}" type="text/javascript"></script>
  <script src="{% static 'as/js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'as/js/jquery-3.3.1.min.js' %}"type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="{% static 'ass/css/auths.css' %}" rel="stylesheet">
</head>

<body>
  <main id="main">
    <section id="hero" class="hero">
      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-item active" >
          <div class="info d-flex align-items-center">
            <div class="container">
              <div class="wrapper-sigin" style="background-image: url('{% static 'ass/img/alto-grey.jpg' %}');">
                <span class="icon-close">
                  <a href="{% url 'home' %}" title="www.pbholding.ci"><i class="fa fa-globe fa-spin"></i></a>
                </span> 
                <div class="form-box login">
                  <h3>Login</h3> 
                  <form method="POST">
                    {% if messages %}
                      {% for msg in messages %}
                        <div id="message" class="alert alert-success alert-dismissible fade show" role="alert">
                          <p class="text-center small">{{msg}}</p>
                        </div>
                      {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <div class="input-box">
                        <span class="icon" ><i class="fa fa-at"></i></span>
                        <input type="email" name="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa fa-key"></i></span>
                        <input type="password" name="password" required>
                        <label for="">Password</label>
                    </div>
                    <!--<div class="remember-forgot">
                        <label> <input type="checkbox">Remember me</label>
                        <a href="#">forgot Password?</a>
                    </div>-->
                    <button id="con" class="btn btn-outline-primary w-50" type="submit">Connexion</button>
                    <!--
                      <div class="login-register">
                        <p>Pas de compte?<a href="{% url 'register' %}" class="register-link"> S'inscrire</a></p>
                    </div>
                    -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- ======= Footer ======= -->
  

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <script src="{% static 'ass/vendor/purecounter/purecounter_vanilla.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'ass/js/main.js' %}"></script>

</body>
</html>