{% extends 'bases.html' %}
{% load static %}

{% block title %}Detail Réparation{% endblock title %}
  {% block breadcrumb %}
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item" style="font-size: 24px;"><a href="{% url 'list_repa' %}" class="btn btn-outline-light"><i style="color:red;" class="fa fa-reply-all"></i></a>Detail de la réparation</li>
    </ul>
    <div>
      <a href="" onclick="window.print();"><i class="fa fa-print"></i>Imprimer</a>
    </div>
  {% endblock breadcrumb %}

  {% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">
              <div class="x_content">
                <section class="content invoice">
                  <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                      <address>
                        <strong>P&BENTREPRISE, Inc.</strong>
                        <br>795 Freedom Ave, Suite 600
                        <br>Ab, KOUM 94107
                        <br>Phone: 1 (804) 123-9876
                        <br>Email: P&BENTREPRISE@GMAIL.COM
                      </address>
                    </div>
                    <div class="col-sm-4 invoice-col">
                      <address>
                        <strong>Vehicule</strong>
                        <br>immat: {{reparation.vehicule.immatriculation}}
                        <br>Marque {{reparation.vehicule.marque}}
                        <br>Categorie{{reparation.vehicule.category}}
                      </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                      <b>Nombre d'heure: {{heure_rearat}} H</b>
                      <br>Reçu du: {{reparation.date_saisie}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="table">
                      <table class="table table-striped text-center">
                        <thead>
                          <tr>
                            <th>N° Piece #</th>
                            <th>Date Entrée</th>
                            <th>Date Sortie</th>
                            <th>Montant</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{reparation.num_fich_repat}}</td>
                            <td>{{reparation.date_entree}}</td>
                            <td>{{reparation.date_sortie}}</td>
                            <td>{{reparation.cout}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-md-12">
                      <p class="lead">Detail sur les pieces concernant cette reparation:</p>
                      <div class="table-responsive">
                        <table class="table text-center">
                          <tbody>
                          {% if not reparation.pieces.all %}
                            <h4 class="text-info">Pas de pièce pour cette réparation</h4>
                          {% else %}
                              <tr>
                                <th>piece:</th>
                                <th>Coût</th>
                                <th>Date d'achat</th>
                              </tr>
                              {% for piece in reparation.pieces.all %}
                                <tr>
                                  <td>{{piece.libelle}}</td>
                                  <td>{{piece.cout}} FCFA</td>
                                  <td>{{piece.date_achat}}</td>
                                </tr>
                              {% endfor %}
                          {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock content %}
