{% extends 'bases.html' %}
{% block title %}
  Liste des charges Administratives
{% endblock title %}
{% load static %}
{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item" style="font-size: 24px;"> <a title="Retour" href="{% url 'add_charg_administ' %}" class="btn btn-outline-light"><i style="color:red;" class="fa fa-reply-all"></i></a>Retour</li>
  </ul>
{% endblock breadcrumb %}
{% block content %}
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    {% if messages %}
                        {% for m in messages %}
                            <div id="message" class="alert alert-success bg-success-light alert-dismissible text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                </button>
                                <strong>Succes!</strong> {{m}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div id="external-events">
                                    <h4 class="mb-4">Filtre</h4>
                                    <form method="get">
                                      {% csrf_token %}
                                      De {{ form_admin.date_debut }}
                                      A {{ form_admin.date_fin }}
                                      <br>
                                      <input class="text-center btn btn-outline-primary" style="display:flexbox; position:center" type="submit" value="Afficher">
                                      <a href="{% url 'list_charg_administ' %}"><i class="btn btn-outline-primary fa fa-refresh" ></i></a>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div id="external-events">
                                    <div class="card-box table-responsive">
                                        <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%;text-align:center">
                                            <thead>
                                              <tr>
                                                <th style="color: red;">N° Facture</th>
                                                <th style="color: red;">Libelle</th>
                                                <th style="color: red;">Cpte Comptable</th>
                                                <th style="color: red;">N°Piece</th>
                                                <th style="color: red;">Montant</th>
                                                <th style="color: red;">Date</th>
                                                {% if user.is_staff %}
                                                  {% if form_admin.is_valid %}
                                                  {% else %}
                                                    <th style="color: red;">Action</th>
                                                  {% endif %}
                                                {% endif %}
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% if form_admin.is_valid %}
                                                  {% for cd in charge_adminis_all %}
                                                    <tr>
                                                      <td>{{cd.Num_fact}}</td>
                                                      <td>{{cd.libelle|upper}}</td>
                                                      <td>{{cd.cpte_comptable}}</td>
                                                      <td>{{cd.Num_piece}}</td>
                                                      <td>{{cd.montant}}</td>
                                                      <td>{{cd.date}}</td>
                                                    </tr>
                                                  {% endfor %}
                                                {% else %}
                                                  {% if chargadminist %}
                                                    {% for charadmin in chargadminist %}
                                                      <tr>
                                                        <td>{{charadmin.Num_fact}}</td>
                                                        <td> {{charadmin.libelle|upper}}</td>
                                                        <td>{{charadmin.cpte_comptable}}</td>
                                                        <td>{{charadmin.Num_piece}}</td>
                                                        <td>{{charadmin.montant}}</td>
                                                        <td>{{charadmin.date}}</td>
                                                        {% if user.is_staff %}
                                                          <td>
                                                            <b><a title="Modifier" style="color: rgb(0, 119, 255);" href="{% url 'updat_charg_administ' charadmin.pk %}"><i style="font-size: 20px;" class="fa fa-edit"></i></a></b> -
                                                            <b><a title="Supprimer" style="color: rgb(197, 0, 0);" href="{% url 'delet_charg_administ' charadmin.pk %}"><i style="font-size: 20px;" class="fa fa-trash"></i></a></b>
                                                          </td>
                                                        {% endif %}
                                                      </tr>
                                                    {% endfor %}
                                                  {% endif %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
    